<template>
  <DefaultPageLayout>
    <CTable
      ref="tableRef"
      :route="routes.measures.default"
      :columns="measuresColumns"
      :add-action="add"
      :edit-action="edit"
      :delete-action="deleteMeasure"
      row-key="id"></CTable>
    <MeasureTypesDialog
      ref="dialogRef"
      @close="onDialogClose"></MeasureTypesDialog>
  </DefaultPageLayout>
</template>

<script setup lang="ts">
import routes from 'src/services/routes';
import { measuresColumns } from 'src/models/table.columns';
import { ref } from 'vue';
import { Measure } from 'src/models/fieldbook.models';
import { DialogCloseEventArgs } from 'src/models/core.models';
import MeasureTypesDialog from './MeasureTypesDialog.vue';
import CTable from 'src/components/CTable.vue';
import { deleteItem } from 'src/services';

const tableRef = ref<InstanceType<typeof CTable>>();
const dialogRef = ref<InstanceType<typeof MeasureTypesDialog>>();

const add = function () {
  var dialog = dialogRef.value;
  if (dialog) {
    dialog.open();
  }
};

const edit = function (data: Measure) {
  var dialog = dialogRef.value;
  if (dialog) {
    dialog.open(data);
  }
};

const deleteMeasure = async function (data: Measure) {
  if (
    data &&
    (await deleteItem(routes.measures.single, { measureId: data.id }))
  ) {
    refreshData();
  }
};

const onDialogClose = function (data: DialogCloseEventArgs) {
  if (data.changes) {
    refreshData();
  }
};

const refreshData = async function () {
  tableRef.value?.refreshData();
};
</script>
