<template>
  <CDialog ref="cDialogRef" @hide="onDialogHide" height="100%">
    <CMap ref="mapRef" @loaded="onMapLoaded"></CMap>
  </CDialog>
</template>

<script setup lang="ts">
import { useDialogPluginComponent } from 'quasar';
import { ref, toRefs, watch } from 'vue';
import CDialog from 'src/components/CDialog.vue';
import CMap from 'src/components/CMap.vue';
import { Field } from 'src/models/fieldbook.models';
import { LngLatBounds } from 'mapbox-gl';
import { formatDecimal } from 'src/helpers';
import { useFieldbookStore } from 'src/stores/fieldbook.store';

const props = defineProps<{
  // ...your custom props
  field: Field;
}>();

const { field } = toRefs(props);
const fieldbookStore = useFieldbookStore();

const cDialogRef = ref<InstanceType<typeof CDialog>>();
watch(
  () => cDialogRef.value,
  (newVal) => (dialogRef.value = newVal?.dialogRef)
);

const mapRef = ref<InstanceType<typeof CMap>>();

const onMapLoaded = async function () {
  var m = mapRef.value;
  if (!m) {
    return;
  }

  m.map?.setZoom(14);

  var coordinates: [number, number][] = [];
  const locResponse = await fieldbookStore.getLocation();
  var latLong =
    locResponse.success && locResponse.location?.coords
      ? {
          lat: locResponse.location.coords.latitude,
          long: locResponse.location.coords.longitude,
        }
      : undefined;

  if (latLong) {
    coordinates.push([latLong.long, latLong.lat]);
    m.addMarker([latLong.long, latLong.lat]);
  }

  var f = field.value;
  if (f && f.latitude && f.longitude) {
    coordinates.push([f.longitude, f.latitude]);
    m.addMarker([f.longitude, f.latitude]);
    m.setLocation([f.longitude, f.latitude]);
  }

  if (m.map && coordinates.length > 1) {
    m.map?.addSource('distance', {
      type: 'geojson',
      data: {
        type: 'Feature',
        properties: {},
        geometry: {
          type: 'LineString',
          coordinates: coordinates,
        },
      },
    });

    if ((field.value.distanceFromTarget ?? 0) > 0) {
      m.map.addLayer({
        id: 'distance',
        type: 'line',
        source: 'distance',

        layout: {
          'line-join': 'round',
          'line-cap': 'round',
        },
        paint: {
          'line-color': 'white',
          'line-width': 2,
        },
      });
      m.map.addLayer({
        id: 'symbols',
        type: 'symbol',
        source: 'distance',
        layout: {
          'symbol-placement': 'line-center',
          'text-font': ['Open Sans Regular'],
          'text-field': formatDecimal(field.value.distanceFromTarget) + ' km',
          'text-size': 24,
          'text-anchor': 'bottom',
        },
        paint: {
          'text-color': 'white',
        },
      });
    }

    // Create a 'LngLatBounds' with both corners at the first coordinate.
    const bounds = new LngLatBounds(coordinates[0], coordinates[0]);

    // Extend the 'LngLatBounds' to include every coordinate in the bounds result.
    for (const coord of coordinates) {
      bounds.extend(coord);
    }

    m.map.fitBounds(bounds, {
      padding: 50,
      animate: false,
    });
  }
};

defineEmits([
  // REQUIRED; need to specify some events that your
  // component will emit through useDialogPluginComponent()
  ...useDialogPluginComponent.emits,
]);

const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } =
  useDialogPluginComponent();
// dialogRef      - Vue ref to be applied to QDialog
// onDialogHide   - Function to be used as handler for @hide on QDialog
// onDialogOK     - Function to call to settle dialog with "ok" outcome
//                    example: onDialogOK() - no payload
//                    example: onDialogOK({ /*...*/ }) - with payload
// onDialogCancel - Function to call to settle dialog with "cancel" outcome

// this is part of our example (so not required)
function onOKClick() {
  // on OK, it is REQUIRED to
  // call onDialogOK (with optional payload)
  onDialogOK();
  // or with payload: onDialogOK({ ... })
  // ...and it will also hide the dialog automatically
}
</script>
