<template>
  <CDialog ref="cDialogRef" @hide="onDialogHide" height="100%">
    <!--<mapbox-map
      class="fit"
      :accessToken="accessToken"
      map-style="mapbox://styles/mickeycek/cln4admpj01fm01qn79k06n9h"
      :zoom="14"
      @loaded="loaded"
      :auto-resize="true">
      <mapbox-geolocate-control />
    </mapbox-map>-->
    <CMap ref="mapRef" @loaded="onMapLoaded"></CMap>
  </CDialog>
</template>

<script setup lang="ts">
import { useDialogPluginComponent } from 'quasar';
import { ref, watch } from 'vue';
import CDialog from 'src/components/CDialog.vue';
import CMap from 'src/components/CMap.vue';
import { useFieldbookStore } from 'src/stores/fieldbook.store';

const fieldbookStore = useFieldbookStore();

const cDialogRef = ref<InstanceType<typeof CDialog>>();
watch(
  () => cDialogRef.value,
  (newVal) => (dialogRef.value = newVal?.dialogRef)
);

const mapRef = ref<InstanceType<typeof CMap>>();

const onMapLoaded = async function () {
  const locResponse = await fieldbookStore.getLocation();
  var latLong =
    locResponse.success && locResponse.location?.coords
      ? {
          lat: locResponse.location.coords.latitude,
          long: locResponse.location.coords.longitude,
        }
      : undefined;

  if (latLong) {
    var m = mapRef.value;
    if (m) {
      m.setLocation([latLong.long, latLong.lat]);
      m.addMarker([latLong.long, latLong.lat]);
    }
  }
};

defineEmits([
  // REQUIRED; need to specify some events that your
  // component will emit through useDialogPluginComponent()
  ...useDialogPluginComponent.emits,
]);

const { dialogRef, onDialogHide, onDialogOK } = useDialogPluginComponent();
// dialogRef      - Vue ref to be applied to QDialog
// onDialogHide   - Function to be used as handler for @hide on QDialog
// onDialogOK     - Function to call to settle dialog with "ok" outcome
//                    example: onDialogOK() - no payload
//                    example: onDialogOK({ /*...*/ }) - with payload
// onDialogCancel - Function to call to settle dialog with "cancel" outcome

// this is part of our example (so not required)
function onOKClick() {
  // on OK, it is REQUIRED to
  // call onDialogOK (with optional payload)
  onDialogOK();
  // or with payload: onDialogOK({ ... })
  // ...and it will also hide the dialog automatically
}
</script>
