<template>
  <CDialog
    :title="$t('dialogs.rkgDialog.title')"
    icon="travel_explore"
    v-model="visible"
    :loading="loading"
    :cancel-action="() => close(false)"
    :width="800"
    @close="close(false)">
    <div class="q-mb-md">
      {{ $t('dialogs.rkgDialog.description') }}
    </div>
    <CInput
      autofocus
      :label="$t('dialogs.rkgDialog.inputs.identifier')"
      v-model="kmgMid"
      @keydown.enter.prevent="searchKmg">
      <template #after>
        <CBtn
          icon="search"
          color="primary"
          @click="searchKmg"
          :loading="searching"></CBtn>
      </template>
    </CInput>
    <div v-if="itm" class="q-mt-md">
      <div class="q-mt-md">
        <q-markup-table flat bordered>
          <thead>
            <th colspan="100" class="text-center">
              <div class="text-h6 text-bold">
                {{ $t('dialogs.rkgDialog.farm') }}
              </div>
            </th>
          </thead>
          <tbody>
            <tr>
              <td class="text-left text-bold">
                {{ $t('dialogs.rkgDialog.farmColumns.identifier') }}
              </td>
              <td class="text-left">{{ itm.kmg_mid }}</td>
            </tr>
            <tr>
              <td class="text-left text-bold">
                {{ $t('dialogs.rkgDialog.farmColumns.name') }}
              </td>
              <td class="text-left">{{ itm.domace_ime }}</td>
            </tr>
            <tr>
              <td class="text-left text-bold">
                {{ $t('dialogs.rkgDialog.farmColumns.owner') }}
              </td>
              <td class="text-left">
                {{ itm.SubjectNosilec?.ime }} {{ itm.SubjectNosilec?.priimek }}
              </td>
            </tr>
            <tr>
              <td class="text-left text-bold">
                {{ $t('dialogs.rkgDialog.farmColumns.address') }}
              </td>
              <td class="text-left">
                {{ itm.NaslovObj?.naselje }} {{ itm.NaslovObj?.hs }}
                {{ itm.NaslovObj?.hd }}, {{ itm.NaslovObj?.postna_stevilka }}
                {{ itm.NaslovObj?.posta }}
              </td>
            </tr>
          </tbody>
        </q-markup-table>
      </div>

      <div class="q-mt-md" v-if="itm.gerks">
        <q-markup-table flat bordered>
          <thead>
            <tr>
              <th colspan="100" class="text-center">
                <div class="text-h6 text-bold">
                  {{ $t('dialogs.rkgDialog.fields') }}
                </div>
              </th>
            </tr>
            <tr>
              <th class="text-left">
                {{ $t('dialogs.rkgDialog.fieldColumns.identifier') }}
              </th>
              <th class="text-left">
                {{ $t('dialogs.rkgDialog.fieldColumns.name') }}
              </th>
              <th class="text-right">
                {{ $t('dialogs.rkgDialog.fieldColumns.area') }}
              </th>
              <th class="text-left">
                {{ $t('dialogs.rkgDialog.fieldColumns.type') }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(g, index) in itm.gerks" :key="index">
              <td class="text-left">{{ g.gerk_pid }}</td>
              <td class="text-left">{{ g.domace_ime }}</td>
              <td class="text-right">
                {{ formatDecimal(g.area) }} m2 ({{
                  formatDecimal(g.area_acres)
                }}
                ar)
              </td>
              <td class="text-left">{{ g.raba_id }} {{ g.raba_opis }}</td>
            </tr>
          </tbody>
        </q-markup-table>
      </div>
    </div>
    <!--
      TODO: update po istem MID-u / gerku...
      <div class="text-warning text-caption text-center q-mt-md">
      * Kmetija in zemljišča z istim KMG-MID bodo posodobljene s podatki iz RKG!
    </div>-->

    <template #actions>
      <CBtn
        @click="importFromKmg"
        color="secondary"
        :label="$t('dialogs.rkgDialog.buttons.import')"
        padding="xs lg"
        icon="cloud_download"
        :disable="!itm" />
    </template>
  </CDialog>
</template>

<script setup lang="ts">
import { RkgKmg } from 'src/models/rkg.models';
import { ref } from 'vue';
import { DialogCloseEventArgs } from 'src/models/core.models';
import fieldbookService from 'src/services/fieldbook.service';
import { formatDecimal, showError, showSuccess } from 'src/helpers';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();
const emit = defineEmits(['close']);
const itm = ref<RkgKmg>();
const loading = ref(false);
const searching = ref(false);

const kmgMid = ref<number>();

const open = async function () {
  clearValues();
  visible.value = true;
};

const searchKmg = async function () {
  if (kmgMid.value) {
    searching.value = true;
    itm.value = (await fieldbookService.getRkgFarm(kmgMid.value)).data;
    searching.value = false;

    if (!itm.value) {
      showError(t('dialogs.rkgDialog.noResults'));
    }
  }
};

const importFromKmg = async function () {
  if (itm.value) {
    loading.value = true;
    await fieldbookService.importRkgFarm(<number>itm.value.kmg_mid);
    loading.value = false;

    showSuccess(t('dialogs.rkgDialog.importSuccess'));
    close(true);
  }
};

const close = function (changes: boolean) {
  visible.value = false;
  clearValues();
  emit('close', <DialogCloseEventArgs>{ changes: changes });
};

const clearValues = function () {
  itm.value = undefined;
  kmgMid.value = undefined;
};

const visible = ref(false);
defineExpose({ open, close });
</script>
