<template>
  <CDialog
    ref="cDialogRef"
    :title="$t('dialogs.trackingTripsDialog.title')"
    icon="pin_drop"
    @hide="onDialogHide"
    height="100%"
    width="100%">
    <div class="fit row q-col-gutter-md">
      <div class="col-xs-12 col-md-6 full-height" style="min-height: 300px">
        <CTable
          ref="tableRef"
          v-model:selected="selectedTrips"
          :rows="deviceTrips"
          :columns="deviceTripsColumns"
          :loading="loading"
          :loading-label="loadingText"
          row-key="id">
          <template #actions-top>
            <div class="row q-col-gutter-md">
              <div class="col-xs-12 col-md-auto">
                <CDate
                  v-model="selectedDate"
                  :label="
                    $t('dialogs.trackingTripsDialog.filter.date')
                  "></CDate>
              </div>
              <div class="col-xs-12 col-md-auto">
                <CInput
                  v-model="minTripTime"
                  type="number"
                  :label="
                    $t('dialogs.trackingTripsDialog.filter.minTaskTimeMinutes')
                  "></CInput>
              </div>
              <div class="col-xs-12 col-md-auto">
                <q-btn-dropdown
                  split
                  unelevated
                  class="refresh"
                  color="primary"
                  :label="$t('dialogs.trackingTripsDialog.buttons.refresh')"
                  :menu-offset="[0, 5]"
                  menu-anchor="bottom end"
                  @click="refreshData(false)">
                  <q-list class="bg-primary text-white">
                    <q-item clickable v-close-popup @click="refreshData(true)">
                      <q-item-section side>
                        <q-icon
                          name="cloud_download"
                          color="white"
                          text-color="white" />
                      </q-item-section>
                      <q-item-section>
                        <q-item-label>
                          {{
                            $t(
                              'dialogs.trackingTripsDialog.buttons.refreshFromTrackingDevices'
                            )
                          }}
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-btn-dropdown>
              </div>
            </div>
          </template>

          <template #actions="{ row }">
            <div>
              <CBtn
                class="q-px-md"
                icon="add"
                color="primary"
                no-wrap
                dense
                unelevated
                @click="addTask(row)"></CBtn>
            </div>
          </template>
        </CTable>
      </div>
      <div class="col-xs-12 col-md-6" style="min-height: 300px">
        <CMap ref="mapRef" @loaded="onMapLoaded"></CMap>
      </div>
    </div>
  </CDialog>
</template>

<script setup lang="ts">
import { QTableColumn, useDialogPluginComponent } from 'quasar';
import { computed, defineAsyncComponent, onMounted, ref, watch } from 'vue';
import CDialog from 'src/components/CDialog.vue';
import CMap, { getBoundsFromGeoJSON } from 'src/components/CMap.vue';
import { useFieldbookStore } from 'src/stores/fieldbook.store';
import fieldbookService from 'src/services/fieldbook.service';
import { DeviceTrip } from 'src/models/fieldbook.models';
import { showCustomDialog } from 'src/helpers';
import { formatDate } from 'src/helpers';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();
const fieldbookStore = useFieldbookStore();
const deviceTrips = ref<DeviceTrip[]>([]);
const selectedTrips = ref<DeviceTrip[]>();
const noData = ref(false);
const selectedDate = ref(new Date().toDate().toJSON());
const minTripTime = ref<number>(10);
const loading = ref(false);
const loadingText = ref<string>();

const deviceTripsColumns = computed<QTableColumn<DeviceTrip>[]>(() => [
  {
    name: 'startTime',
    label: t('dialogs.trackingTripsDialog.columns.startTime'),
    field: 'startTime',
    format: (val) => formatDate(val, true) ?? '',
    sortable: true,
    align: 'left',
  },
  {
    name: 'endTime',
    label: t('dialogs.trackingTripsDialog.columns.endTime'),
    field: 'endTime',
    format: (val) => formatDate(val, true) ?? '',
    sortable: true,
    align: 'left',
  },
  {
    name: 'fieldName',
    label: t('dialogs.trackingTripsDialog.columns.field'),
    field: 'fieldName',
    format: (val, row: DeviceTrip) => `${row.fieldIdentifier} ${row.fieldName}`,
    sortable: true,
    align: 'left',
  },
  {
    name: 'machineName',
    label: t('dialogs.trackingTripsDialog.columns.machine'),
    field: 'machineName',
    sortable: true,
    align: 'left',
    style: 'width: 150px;',
  },
  {
    name: 'attachmentName',
    label: t('dialogs.trackingTripsDialog.columns.attachment'),
    field: 'attachmentName',
    sortable: true,
    align: 'left',
    style: 'width: 150px;',
  },
  {
    name: 'totalMinutes',
    label: t('dialogs.trackingTripsDialog.columns.duration'),
    field: 'totalMinutes',
    format: (val) => parseInt(val?.toString() ?? '0') + ' min',
    sortable: true,
    align: 'left',
    style: 'width: 50px;',
  },
]);

const mapRef = ref<InstanceType<typeof CMap>>();
const cDialogRef = ref<InstanceType<typeof CDialog>>();

onMounted(async () => {
  refreshData(false);
});

watch(
  () => cDialogRef.value,
  (newVal) => (dialogRef.value = newVal?.dialogRef)
);

watch(
  () => selectedTrips.value,
  (val) => onTripSelect(val?.at(0))
);

const onMapLoaded = async function () {
  const locResponse = await fieldbookStore.getLocation();
  var latLong =
    locResponse.success && locResponse.location?.coords
      ? {
          lat: locResponse.location.coords.latitude,
          long: locResponse.location.coords.longitude,
        }
      : undefined;

  if (latLong) {
    var m = mapRef.value;
    if (m) {
      m.setLocation([latLong.long, latLong.lat]);
      m.addMarker([latLong.long, latLong.lat]);
    }
  }
};

const onTripSelect = function (trip?: DeviceTrip) {
  //selectedTrip.value = trip;

  if (trip && trip.geoJSON) {
    var map = mapRef.value?.map;
    if (map) {
      var geoJsonObj = JSON.parse(trip.geoJSON);

      if (map.getLayer('trips')) {
        map.removeLayer('trips');
      }
      if (map.getLayer('center')) {
        map.removeLayer('center');
      }

      if (map.getSource('trips')) {
        map.removeSource('trips');
      }

      if (map.getSource('center')) {
        map.removeSource('center');
      }

      map.addSource('trips', { type: 'geojson', data: { ...geoJsonObj } });

      map.addLayer({
        id: 'trips',
        type: 'line',
        source: 'trips',
        layout: {
          'line-join': 'round',
          'line-cap': 'round',
        },
        paint: {
          'line-color': 'white',
          'line-width': 2,
        },
      });

      /*const coordinates = geoJsonObj.features[0].geometry.coordinates;

      // Create a 'LngLatBounds' with both corners at the first coordinate.
      const bounds = new LngLatBounds(coordinates[0][0], coordinates[0][0]);

      // Extend the 'LngLatBounds' to include every coordinate in the bounds result.
      for (const coord of coordinates) {
        for (const coord2 of coord) {
          bounds.extend(coord2);
        }
      }*/

      const bounds = getBoundsFromGeoJSON(geoJsonObj);

      var center = bounds.getCenter();
      map.addSource('center', {
        type: 'geojson',
        data: {
          type: 'FeatureCollection',
          features: [
            {
              type: 'Feature',
              geometry: {
                type: 'Point',
                coordinates: [center.lng, center.lat],
              },
              properties: {},
            },
          ],
        },
      });

      map.addLayer({
        id: 'center',
        type: 'symbol',
        source: 'center',
        minzoom: 16,
        layout: {
          'text-font': ['Open Sans Regular'],
          'text-field': `${trip.fieldIdentifier} ${trip.fieldName}`,
          'text-size': 24,
          'text-anchor': 'center',
          'text-max-width': 250,
        },
        paint: {
          'text-color': 'white',
        },
      });

      map.fitBounds(bounds, {
        zoom: 17,
      });
    }
  }
};

const addTask = async function (trip: DeviceTrip) {
  await showCustomDialog(
    defineAsyncComponent(
      () => import('src/pages/fieldbook/tasks/TaskEditDialog.vue')
    ),
    { trip: trip }
  );
};

const refreshData = async function (calculateTrips = false) {
  loading.value = true;
  loadingText.value = calculateTrips
    ? t('dialogs.trackingTripsDialog.downloadingDataFromTrackers')
    : undefined;

  try {
    deviceTrips.value = (
      await fieldbookService.getDeviceTrips(
        selectedDate.value,
        minTripTime.value,
        calculateTrips
      )
    ).data;
  } finally {
    noData.value = deviceTrips.value.length == 0;
    loading.value = false;
    loadingText.value = undefined;
  }
};

defineEmits([
  // REQUIRED; need to specify some events that your
  // component will emit through useDialogPluginComponent()
  ...useDialogPluginComponent.emits,
]);

const { dialogRef, onDialogHide, onDialogOK } = useDialogPluginComponent();
// dialogRef      - Vue ref to be applied to QDialog
// onDialogHide   - Function to be used as handler for @hide on QDialog
// onDialogOK     - Function to call to settle dialog with "ok" outcome
//                    example: onDialogOK() - no payload
//                    example: onDialogOK({ /*...*/ }) - with payload
// onDialogCancel - Function to call to settle dialog with "cancel" outcome

// this is part of our example (so not required)
function onOKClick() {
  // on OK, it is REQUIRED to
  // call onDialogOK (with optional payload)
  onDialogOK();
  // or with payload: onDialogOK({ ... })
  // ...and it will also hide the dialog automatically
}
</script>
