<template>
  <CDialog
    ref="cDialogRef"
    @hide="onDialogHide"
    :confirm-action="onOKClick"
    :confirm-text="$t('modules.reports.prepare')"
    :cancel-action="onDialogCancel"
    :loading="loading"
    width="800">
    <div class="q-col-gutter-md">
      <div>
        <CSectionTitle icon="description">
          {{ $t('modules.reports.basicReport.title') }}
        </CSectionTitle>
      </div>
      <div class="text-caption">
        {{ $t('modules.reports.basicReport.description') }}
      </div>
      <div>
        <CInput
          v-model="year"
          type="number"
          label="Leto"
          :hint="$t('modules.reports.basicReport.yearHint')"></CInput>
      </div>
      <div>
        <FieldPicker
          :hint="$t('modules.reports.basicReport.fieldsHint')"
          v-model="selectedFields"></FieldPicker>
      </div>
      <div class="column q-col-gutter-md">
        <div>
          <CCheckbox
            v-model="exportCrops"
            :label="$t('modules.reports.basicReport.exportCrops')"></CCheckbox>
        </div>
        <div>
          <CCheckbox
            v-model="exportMeasures"
            :label="
              $t('modules.reports.basicReport.exportMeasures')
            "></CCheckbox>
        </div>
        <div>
          <CCheckbox
            v-model="exportTasks"
            :label="$t('modules.reports.basicReport.exportTasks')"></CCheckbox>
        </div>
      </div>
    </div>
  </CDialog>
</template>

<script setup lang="ts">
import { useDialogPluginComponent } from 'quasar';
import { ref, watch } from 'vue';
import { Field } from 'src/models/fieldbook.models';
import CDialog from 'src/components/CDialog.vue';
import FieldPicker from 'src/pages/fieldbook/field/FieldPicker.vue';
import axiosApi from 'src/services';
import routes from 'src/services/routes';

const cDialogRef = ref<InstanceType<typeof CDialog>>();
watch(
  () => cDialogRef.value,
  (newVal) => (dialogRef.value = newVal?.dialogRef)
);

const loading = ref(false);
const year = ref(new Date().getFullYear());
const selectedFields = ref<Field[]>([]);
const exportCrops = ref(true);
const exportMeasures = ref(true);
const exportTasks = ref(true);

defineEmits([
  // REQUIRED; need to specify some events that your
  // component will emit through useDialogPluginComponent()
  ...useDialogPluginComponent.emits,
]);

const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } =
  useDialogPluginComponent();
// dialogRef      - Vue ref to be applied to QDialog
// onDialogHide   - Function to be used as handler for @hide on QDialog
// onDialogOK     - Function to call to settle dialog with "ok" outcome
//                    example: onDialogOK() - no payload
//                    example: onDialogOK({ /*...*/ }) - with payload
// onDialogCancel - Function to call to settle dialog with "cancel" outcome

// this is part of our example (so not required)
async function onOKClick() {
  // on OK, it is REQUIRED to
  // call onDialogOK (with optional payload)

  try {
    loading.value = true;

    await axiosApi.getFile(routes.reports.kopop, {
      year: year.value,
      fieldIds: selectedFields.value.map((x) => x.id),
      exportCrops: exportCrops.value,
      exportMeasures: exportMeasures.value,
      exportTasks: exportTasks.value,
    });
  } finally {
    loading.value = false;
  }

  onDialogOK();
  // or with payload: onDialogOK({ ... })
  // ...and it will also hide the dialog automatically
}
</script>
