<template>
  <DefaultPageLayout>
    <CMarkupTable wrap-cells>
      <thead>
        <tr>
          <th colspan="100">
            <div
              class="text-h6 text-bold text-left row items-center justify-between">
              <div class="inline-block">
                <CSectionTitle icon="analytics">
                  {{ $t('modules.reports.title') }}
                </CSectionTitle>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-left" style="width: 250px">
            <span class="text-subtitle1">
              {{ $t('modules.reports.basicReport.title') }}
            </span>
          </td>
          <td class="text-left" style="word-wrap: break-word">
            {{ $t('modules.reports.basicReport.description') }}
          </td>
          <td style="width: 250px">
            <CBtn
              :label="`${$t('modules.reports.prepare')}...`"
              color="primary"
              class="full-width"
              @click="openBasicReportDialog"
              icon="description"></CBtn>
          </td>
        </tr>

        <tr>
          <td class="text-left" style="width: 250px">
            <span class="text-subtitle1">
              {{ $t('modules.reports.kopopReport.title') }}
            </span>
          </td>
          <td class="text-left" style="word-wrap: break-word">
            {{ $t('modules.reports.kopopReport.description') }}
          </td>
          <td style="width: 250px">
            <CBtn
              :label="`${$t('modules.reports.prepare')}...`"
              color="primary"
              class="full-width"
              @click="openKopopReportDialog"
              icon="description"></CBtn>
          </td>
        </tr>
      </tbody>
    </CMarkupTable>
  </DefaultPageLayout>
</template>

<script setup lang="ts">
import { showCustomDialog } from 'src/helpers';
import { defineAsyncComponent } from 'vue';

const openBasicReportDialog = async () => {
  await showCustomDialog(
    defineAsyncComponent(() => import('./BasicReportDialog.vue'))
  );
};

const openKopopReportDialog = async () => {
  await showCustomDialog(
    defineAsyncComponent(() => import('./KopopReportDialog.vue'))
  );
};
</script>
