<template>
  <DefaultPageLayout>
    <CMarkupTable>
      <thead>
        <tr>
          <th colspan="100">
            <div
              class="text-h6 text-bold text-left row items-center justify-between">
              <div class="inline-block">
                <CSectionTitle icon="mdi-land-fields">
                  {{ $t('modules.reports.title') }}
                </CSectionTitle>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th class="text-left" style="width: 150px">Osnovno poročilo</th>
          <th class="text-left">
            Osnovno poročilo na podlagi vnesenih podatkov v dnevnik opravil
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-left">basic</td>
          <td class="text-left">test</td>
        </tr>
      </tbody>
    </CMarkupTable>
  </DefaultPageLayout>
</template>

<script setup lang="ts">
import { useRoute } from 'vue-router';
import { onMounted, shallowRef, watch } from 'vue';
import { Report } from 'src/models/fieldbook.models';
import reports from './reports';

const route = useRoute();
const report = shallowRef<Report>();

onMounted(() => {
  showReport();
});

watch(
  () => route.params.slug,
  () => {
    showReport();
  }
);

const showReport = function () {
  const slug = <string>route.params.slug;
  report.value = reports.find((x) => x.slug == slug);
};
</script>
