<template>
  <DefaultPageLayout>
    <CTable
      ref="tableRef"
      :route="routes.fertilizers.default"
      :filter="{ all: true }"
      :columns="fertilizersColumns"
      :add-action="add"
      :edit-action="edit"
      :delete-action="deleteFertilizer"
      row-key="id"></CTable>
    <FertilizersAdminDialog
      ref="dialogRef"
      @close="onDialogClose"></FertilizersAdminDialog>
  </DefaultPageLayout>
</template>

<script setup lang="ts">
import { QTableColumn } from 'quasar';
import CTable from 'src/components/CTable.vue';
import { DialogCloseEventArgs } from 'src/models/core.models';
import { Fertilizer } from 'src/models/fieldbook.models';
import { deleteItem } from 'src/services';
import fieldbookService from 'src/services/fieldbook.service';
import routes from 'src/services/routes';
import { computed, ref } from 'vue';
import { useI18n } from 'vue-i18n';
import FertilizersAdminDialog from './FertilizersAdminDialog.vue';
import { formatBoolean, formatDate } from 'src/helpers';

const { t } = useI18n();
const tableRef = ref<InstanceType<typeof CTable>>();
const dialogRef = ref<InstanceType<typeof FertilizersAdminDialog>>();
const fertilizerTypes = fieldbookService.getFertilizerTypes();

const add = function () {
  var dialog = dialogRef.value;
  if (dialog) {
    dialog.open();
  }
};

const edit = function (data: Fertilizer) {
  var dialog = dialogRef.value;
  if (dialog) {
    dialog.open(data);
  }
};

const deleteFertilizer = async function (data: Fertilizer) {
  if (
    data &&
    (await deleteItem(routes.fertilizers.single, { fertilizerId: data.id }))
  ) {
    refreshData();
  }
};

const onDialogClose = function (data: DialogCloseEventArgs) {
  if (data.changes) {
    refreshData();
  }
};

const refreshData = async function () {
  tableRef.value?.refreshData();
};

const fertilizersColumns = computed<QTableColumn<Fertilizer>[]>(() => [
  {
    name: 'name',
    label: t('modules.admin.fertilizers.columns.name'),
    field: 'name',
    sortable: true,
    align: 'left',
  },
  {
    name: 'nameEn',
    label: t('modules.admin.fertilizers.columns.nameEn'),
    field: 'nameEn',
    sortable: true,
    align: 'left',
  },
  {
    name: 'type',
    label: t('modules.admin.fertilizers.columns.type'),
    field: 'type',
    format: (val: any, row: Fertilizer) => {
      return fertilizerTypes.value.find((y) => y.id == row.type)?.name ?? '';
    },
    sortable: true,
    align: 'left',
  },
  {
    name: 'ratio',
    label: t('modules.admin.fertilizers.columns.ratio'),
    field: 'ratioN' /* Just for sort in q-table, sort by first value */,
    format: (val: any, row: Fertilizer) => {
      return row.ratioN != null || row.ratioP != null || row.ratioK != null
        ? `${row.ratioN ?? 0}-${row.ratioP ?? 0}-${row.ratioK ?? 0}`
        : '';
    },
    sortable: true,
    align: 'center',
    style: 'width: 150px;',
  },
  {
    name: 'isGlobal',
    label: t('modules.admin.fertilizers.columns.isGlobal'),
    field: 'isGlobal',
    format: (val: boolean) => formatBoolean(val) ?? '',
    sortable: true,
    align: 'center',
    style: 'width: 80px;',
  },
  {
    name: 'farmName',
    label: t('modules.admin.fertilizers.columns.addedByFarm'),
    field: 'farmName',
    sortable: true,
    align: 'left',
    style: 'width: 200px;',
  },
  {
    name: 'created',
    label: t('common.created'),
    field: 'created',
    format: (val: string) => formatDate(val, true) ?? '',
    sortable: true,
    align: 'center',
    style: 'width: 100px;',
  },
]);
</script>
