<template>
  <DefaultPageLayout>
    <CTable
      ref="tableRef"
      :route="routes.pesticides.default"
      :filter="{ all: true }"
      :columns="pesticidesColumns"
      :add-action="add"
      :edit-action="edit"
      :delete-action="deletePesticide"
      row-key="id"></CTable>
    <PesticidesAdminDialog
      ref="dialogRef"
      @close="onDialogClose"></PesticidesAdminDialog>
  </DefaultPageLayout>
</template>

<script setup lang="ts">
import { QTableColumn } from 'quasar';
import routes from 'src/services/routes';
import { computed, ref } from 'vue';
import { Pesticide } from 'src/models/fieldbook.models';
import { DialogCloseEventArgs } from 'src/models/core.models';
import PesticidesAdminDialog from './PesticidesAdminDialog.vue';
import CTable from 'src/components/CTable.vue';
import { deleteItem } from 'src/services';
import { useI18n } from 'vue-i18n';
import { formatBoolean, formatDate } from 'src/helpers';

const { t } = useI18n();
const tableRef = ref<InstanceType<typeof CTable>>();
const dialogRef = ref<InstanceType<typeof PesticidesAdminDialog>>();

const add = function () {
  var dialog = dialogRef.value;
  if (dialog) {
    dialog.open();
  }
};

const edit = function (data: Pesticide) {
  var dialog = dialogRef.value;
  if (dialog) {
    dialog.open(data);
  }
};

const deletePesticide = async function (data: Pesticide) {
  if (
    data &&
    (await deleteItem(routes.pesticides.single, { pesticideId: data.id }))
  ) {
    refreshData();
  }
};

const onDialogClose = function (data: DialogCloseEventArgs) {
  if (data.changes) {
    refreshData();
  }
};

const refreshData = async function () {
  tableRef.value?.refreshData();
};

const pesticidesColumns = computed<QTableColumn<Pesticide>[]>(() => [
  {
    name: 'name',
    label: t('modules.admin.pesticides.columns.name'),
    field: 'name',
    sortable: true,
    align: 'left',
  },
  {
    name: 'nameEn',
    label: t('modules.admin.pesticides.columns.nameEn'),
    field: 'nameEn',
    sortable: true,
    align: 'left',
  },
  {
    name: 'isGlobal',
    label: t('modules.admin.pesticides.columns.isGlobal'),
    field: 'isGlobal',
    format: (val: boolean) => formatBoolean(val) ?? '',
    sortable: true,
    align: 'center',
    style: 'width: 80px;',
  },
  {
    name: 'farmName',
    label: t('modules.admin.pesticides.columns.addedByFarm'),
    field: 'farmName',
    sortable: true,
    align: 'left',
    style: 'width: 200px;',
  },
  {
    name: 'created',
    label: t('common.created'),
    field: 'created',
    format: (val: string) => formatDate(val, true) ?? '',
    sortable: true,
    align: 'center',
    style: 'width: 100px;',
  },
]);
</script>
