<template>
  <DefaultPageLayout>
    <CTable
      ref="tableRef"
      :route="routes.pesticides.default"
      :columns="pesticidesColumns"
      :add-action="add"
      :edit-action="edit"
      :delete-action="deletePesticide"
      :can-edit="canEdit"
      row-key="id"></CTable>
    <PesticidesDialog ref="dialogRef" @close="onDialogClose"></PesticidesDialog>
  </DefaultPageLayout>
</template>

<script setup lang="ts">
import { QTableColumn } from 'quasar';
import routes from 'src/services/routes';
import { computed, ref } from 'vue';
import { Pesticide } from 'src/models/fieldbook.models';
import { DialogCloseEventArgs } from 'src/models/core.models';
import PesticidesDialog from './PesticidesDialog.vue';
import CTable from 'src/components/CTable.vue';
import { deleteItem } from 'src/services';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();
const tableRef = ref<InstanceType<typeof CTable>>();
const dialogRef = ref<InstanceType<typeof PesticidesDialog>>();

const add = function () {
  var dialog = dialogRef.value;
  if (dialog) {
    dialog.open();
  }
};

const edit = function (data: Pesticide) {
  var dialog = dialogRef.value;
  if (dialog) {
    dialog.open(data);
  }
};

const canEdit = function (data: Pesticide) {
  return !data?.isGlobal ? true : false;
};

const deletePesticide = async function (data: Pesticide) {
  if (
    data &&
    (await deleteItem(routes.pesticides.single, { pesticideId: data.id }))
  ) {
    refreshData();
  }
};

const onDialogClose = function (data: DialogCloseEventArgs) {
  if (data.changes) {
    refreshData();
  }
};

const refreshData = async function () {
  tableRef.value?.refreshData();
};

const pesticidesColumns = computed<QTableColumn<Pesticide>[]>(() => [
  {
    name: 'name',
    label: t('modules.admin.pesticides.columns.name'),
    field: 'name',
    sortable: true,
    align: 'left',
  },
  {
    name: 'nameEn',
    label: t('modules.admin.pesticides.columns.nameEn'),
    field: 'nameEn',
    sortable: true,
    align: 'left',
  },
]);
</script>
