<template>
  <div class="fit">
    <CTable
      ref="pesticidesTableRef"
      :route="routes.stock.pesticides.default"
      :columns="stockPesticidesColumns"
      :add-action="addPesticideStock"
      :edit-action="editPesticideStock"
      :delete-action="deletePesticideStock"
      row-key="id"></CTable>
    <PesticideStockInputDialog
      ref="pesticideDialogRef"
      @close="onPesticideDialogClose"></PesticideStockInputDialog>
  </div>
</template>

<script setup lang="ts">
import routes from 'src/services/routes';
import { computed, ref } from 'vue';
import { StockPesticide } from 'src/models/fieldbook.models';
import { DialogCloseEventArgs } from 'src/models/core.models';
import CTable from 'src/components/CTable.vue';
import PesticideStockInputDialog from './PesticideStockInputDialog.vue';
import { deleteItem } from 'src/services';
import { QTableColumn } from 'quasar';
import { formatDate, formatDecimal, getLocalizedValue } from 'src/helpers';
import { useI18n } from 'vue-i18n';
import fieldbookService from 'src/services/fieldbook.service';

const { t } = useI18n();
const pesticidesTableRef = ref<InstanceType<typeof CTable>>();
const pesticideDialogRef =
  ref<InstanceType<typeof PesticideStockInputDialog>>();
const stockTypes = fieldbookService.getStockTypes();

const addPesticideStock = function () {
  var dialog = pesticideDialogRef.value;
  if (dialog) {
    dialog.open();
  }
};

const editPesticideStock = function (data: StockPesticide) {
  var dialog = pesticideDialogRef.value;
  if (dialog) {
    dialog.open(data);
  }
};

const deletePesticideStock = async function (data: StockPesticide) {
  if (
    data &&
    (await deleteItem(routes.stock.pesticides.single, {
      stockPesticideId: data.id,
    }))
  ) {
    refreshData();
  }
};

const onPesticideDialogClose = function (data: DialogCloseEventArgs) {
  if (data.changes) {
    refreshData();
  }
};

const refreshData = async function () {
  pesticidesTableRef.value?.refreshData();
};

const stockPesticidesColumns = computed<QTableColumn<StockPesticide>[]>(() => [
  {
    name: 'date',
    label: t('modules.pesticides.columns.date'),
    field: 'date',
    format: (val) => formatDate(val) ?? '',
    sortable: true,
    style: 'width:150px;',
  },
  {
    name: 'pesticideName',
    label: t('modules.pesticides.columns.pesticideName'),
    field: (row: StockPesticide) =>
      getLocalizedValue(row.pesticideName, row.pesticideNameEn),
    sortable: true,
    align: 'left',
  },
  {
    name: 'stockName',
    label: t('modules.pesticides.columns.stockName'),
    field: 'stockName',
    format: (val, row: StockPesticide) => {
      if (row.taskId) {
        return t('modules.pesticides.taskUsage');
      } else if (row.stockTypeId) {
        return stockTypes.value.find((y) => y.id == row.stockTypeId)?.name;
      } else {
        return val;
      }
    },
    sortable: true,
    align: 'left',
    style: 'width: 150px;',
  },
  {
    name: 'value',
    label: t('modules.pesticides.columns.value'),
    field: 'value',
    format: (val, row) =>
      formatDecimal(val) + (row.valueUnit ? ` ${row.valueUnit}` : ''),
    sortable: true,
    align: 'right',
    style: 'width: 150px;',
  },
  {
    name: 'note',
    label: t('modules.pesticides.columns.note'),
    field: 'note',
    sortable: true,
    align: 'left',
  },
]);
</script>
