<template>
  <DefaultPageLayout>
    <CTable
      ref="tableRef"
      :route="routes.reports.stock.pesticides"
      :columns="pesticidesStockColumns"
      :filter="{ date }"
      selection="none"
      row-key="id">
      <template #filter>
        <div class="row q-col-gutter-md items-center">
          <div class="col-xs-12 col-md-auto">
            <CDate
              :label="$t('modules.pesticideStockStatus.filter.date')"
              v-model="date"></CDate>
          </div>
        </div>
      </template>
    </CTable>
  </DefaultPageLayout>
</template>

<script setup lang="ts">
import { pesticidesStockColumns } from 'src/models/table.columns';
import routes from 'src/services/routes';
import { ref } from 'vue';

const date = ref(new Date().toDate().toJSON());
</script>
