<template>
  <CDialog
    :title="$t('modules.admin.pesticides.editDialog.title')"
    icon="science"
    v-model="visible"
    :loading="loading"
    :confirm-action="save"
    :cancel-action="() => close(false)"
    :width="600"
    @close="close(false)">
    <CForm ref="formRef" v-if="itm">
      <div class="row q-col-gutter-md">
        <div class="col-12">
          <CInput
            v-model="itm.name"
            :rules="[rules.required]"
            :label="$t('modules.admin.pesticides.editDialog.inputs.name')"
            autofocus></CInput>
        </div>
        <div class="col-12">
          <CInput
            v-model="itm.nameEn"
            :label="
              $t('modules.admin.pesticides.editDialog.inputs.nameEn')
            "></CInput>
        </div>
      </div>
    </CForm>
  </CDialog>
</template>

<script setup lang="ts">
import { Pesticide } from 'src/models/fieldbook.models';
import { ref } from 'vue';
import rules from 'src/helpers/rules';
import fieldbookService from 'src/services/fieldbook.service';
import { showSuccess } from 'src/helpers';
import CForm from 'src/components/CForm.vue';
import { DialogCloseEventArgs } from 'src/models/core.models';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();
const emit = defineEmits(['close']);
const itm = ref<Pesticide>();
const formRef = ref<InstanceType<typeof CForm>>();
const loading = ref(false);

const open = async function (data?: Pesticide) {
  itm.value = data ? { ...data } : { isGlobal: false };
  visible.value = true;
};

const save = async function () {
  if (itm.value && (await formRef.value?.validate())) {
    loading.value = true;
    await fieldbookService.savePesticide(itm.value);
    showSuccess(t('common.saveSuccess'));
    loading.value = false;
    close(true);
  }
};

const close = function (changes: boolean) {
  itm.value = undefined;

  visible.value = false;
  emit('close', <DialogCloseEventArgs>{ changes: changes });
};

const visible = ref(false);
defineExpose({ open, close });
</script>
