<template>
  <q-checkbox v-model="value" :label="label" dense></q-checkbox>
</template>

<script setup lang="ts">
import { computed } from 'vue';
const emit = defineEmits(['update:modelValue']);

const props = withDefaults(
  defineProps<{
    label?: string;
    modelValue: any;
  }>(),
  { modelValue: false }
);

const value = computed({
  get() {
    return props.modelValue;
  },
  set(val) {
    emit('update:modelValue', val);
  },
});
</script>
