<template>
  <CInput
    v-model="displayValue"
    :label="props.label"
    :rules="props.rules"
    @blur="onBlur"
    @keydown.tab="onBlur"
    clearable>
    <template v-slot:prepend>
      <q-icon name="event" class="cursor-pointer">
        <q-popup-proxy
          ref="popup"
          cover
          transition-show="scale"
          transition-hide="scale">
          <q-date
            v-model="value"
            :mask="props.time ? 'YYYY-MM-DDTHH:mm' : 'YYYY-MM-DD'">
            <div class="row items-center justify-end">
              <q-btn
                v-close-popup
                :label="$t('dialog.close')"
                color="primary"
                flat />
            </div>
          </q-date>
        </q-popup-proxy>
      </q-icon>
    </template>

    <template v-slot:append v-if="props.time">
      <q-icon name="access_time" class="cursor-pointer">
        <q-popup-proxy cover transition-show="scale" transition-hide="scale">
          <q-time v-model="calendarValue" mask="YYYY-MM-DDTHH:mm" format24h>
            <div class="row items-center justify-end">
              <q-btn
                v-close-popup
                :label="$t('dialog.close')"
                color="primary"
                flat />
            </div>
          </q-time>
        </q-popup-proxy>
      </q-icon>
    </template>
  </CInput>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue';
import { date, QPopupProxy, ValidationRule } from 'quasar';

const emit = defineEmits(['update:modelValue', 'change']);

const popup = ref<InstanceType<typeof QPopupProxy>>();
let inputValue: string | null;

const props = defineProps<{
  label: string;
  modelValue: string | null | undefined;
  rules?: ValidationRule[] | undefined;
  time?: boolean;
}>();

const displayValue = computed({
  get() {
    return props.modelValue
      ? date.formatDate(
          new Date(props.modelValue),
          'DD.MM.YYYY' + (props.time ? ' HH:mm' : '')
        )
      : '';
  },
  set(val) {
    if (!val) {
      value.value = null;
    }
    inputValue = val;
  },
});

const calendarValue = computed({
  get() {
    return value.value || '';
  },
  set(val) {
    value.value = val;
  },
});

const value = computed({
  get() {
    return props.modelValue;
  },
  set(val) {
    emit('update:modelValue', val);
    emit('change', val);

    if (popup.value) {
      popup.value?.hide();
    }
  },
});

function onBlur() {
  setDate();
}

function setDate() {
  if (inputValue) {
    const val = inputValue;
    inputValue = null;

    var dateTimeSplitted = val.split(' ');
    if (dateTimeSplitted.length > 0) {
      var dateSplitted: number[] = dateTimeSplitted[0]
        .split('.')
        .map((x) => parseInt(x));

      if (
        dateSplitted.length == 3 &&
        dateSplitted[2] > 1900 &&
        dateSplitted[2] < 2100
      ) {
        var date = new Date(
          dateSplitted[2],
          dateSplitted[1] - 1,
          dateSplitted[0]
        );

        var timeSplitted =
          props.time && dateTimeSplitted.length > 1
            ? dateTimeSplitted[1].split(':').map((x) => parseInt(x))
            : null;
        if (timeSplitted && timeSplitted.length > 1) {
          const hours = timeSplitted[0];
          const minutes = timeSplitted[1];

          if (hours >= 0 && hours <= 23) {
            date.setHours(hours);
          }

          if (minutes >= 0 && minutes <= 59) {
            date.setMinutes(minutes);
          }
        }

        if (date.toString() != 'Invalid Date') {
          value.value = date.toJSON();
          return;
        }
      }
    }
    value.value = null;
  }
}
</script>
