<template>
  <q-dialog
    ref="dialogRef"
    @hide="close"
    :persistent="props.persistent || loading">
    <q-card
      :style="{
        'max-width': widthVal,
        height: heightVal,
        maxHeight: maxHeightVal,
      }"
      :class="[widthVal == 'auto' ? '' : 'full-width']"
      class="c-dialog__card column no-wrap text-body1 border-radius">
      <q-card-section
        v-if="props.title"
        class="col-auto row items-center full-width no-wrap">
        <CIcon
          v-if="props.icon"
          :name="props.icon"
          size="lg"
          color="primary"></CIcon>
        <div class="text-h5 text-primary q-pl-md text-no-wrap ellipsis">
          {{ props.title }}
        </div>
        <q-space></q-space>
        <div v-if="!props.persistent">
          <q-btn icon="close" @click="close" flat round></q-btn>
        </div>
      </q-card-section>
      <q-card-section v-if="$slots.header" class="col-auto">
        <slot name="header"></slot>
      </q-card-section>
      <q-card-section class="col overflow-auto">
        <slot></slot>
      </q-card-section>
      <q-card-actions class="col-auto" align="center" v-if="hasActions">
        <slot name="actions"></slot>
        <CBtn
          v-if="props.confirmAction"
          padding="xs lg"
          class="border-radius"
          color="positive"
          icon="check_circle"
          :label="props.confirmText || t('dialog.save')"
          @click="props.confirmAction"></CBtn>
        <CBtn
          v-if="props.cancelAction"
          padding="xs lg"
          class="border-radius"
          color="negative"
          icon="block"
          :label="props.cancelText || t('dialog.cancel')"
          @click="props.cancelAction"></CBtn>
        <CBtn
          v-if="props.closeAction"
          padding="xs lg"
          class="border-radius"
          color="primary"
          icon="close"
          :label="props.closeText || t('dialog.close')"
          @click="props.closeAction"></CBtn>
      </q-card-actions>
      <q-inner-loading
        :showing="loading"
        :label="loadingText"
        color="primary" />
    </q-card>
  </q-dialog>
</template>
<style scoped lang="scss">
/*.c-dialog__card {
  max-height: 90vh;
}*/
</style>
<script setup lang="ts">
import { QDialog } from 'quasar';
import { ref, computed, useSlots } from 'vue';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();
const emit = defineEmits(['close']);
const props = withDefaults(
  defineProps<{
    title?: string;
    icon?: string;
    loading?: boolean;
    loadingText?: string;
    width?: string | number;
    height?: string | number;
    maxHeight?: string | number;
    persistent?: boolean;
    confirmText?: string;
    confirmAction?: () => void;
    cancelText?: string;
    cancelAction?: () => void;
    closeText?: string;
    closeAction?: () => void;
  }>(),
  {
    width: '1200px',
    loading: false,
    loadingText: undefined,
  }
);

const slots = useSlots();
const dialogRef = ref<InstanceType<typeof QDialog>>();
const hasActions =
  props.confirmAction ||
  props.cancelAction ||
  props.closeAction ||
  slots.actions
    ? true
    : false;

const widthVal = computed(() => {
  var w = props.width;
  return typeof w == 'string' ? w : w + 'px';
});

const heightVal = computed(() => {
  var h = props.height;
  return typeof h == 'string' ? h : h + 'px';
});

const maxHeightVal = computed(() => {
  var h = props.maxHeight;
  return typeof h == 'string' ? h : h + 'px';
});

const close = function () {
  dialogRef.value?.hide();
  emit('close');
};

defineExpose({ dialogRef });
</script>
