<template>
  <q-field
    style="align-items: center"
    v-model="value"
    :label="label"
    :placeholder="props.placeholder"
    hide-bottom-space
    stack-label
    lazy-rules
    outlined
    dense
    bg-color="white"
  >
    <template v-slot:control>
      <slot></slot>
    </template>
    <template v-slot:append>
      <slot name="append"></slot>
    </template>
    <template v-slot:after>
      <slot name="after"></slot>
    </template>
  </q-field>
</template>

<script setup lang="ts">
import { ValidationRule } from 'quasar';
import { computed } from 'vue';
const emit = defineEmits(['update:modelValue']);

const props = defineProps<{
  label?: string;
  placeholder?: string;
  modelValue?: string | number | null | undefined;
  rules?: ValidationRule<unknown>[];
}>();

const value = computed({
  get() {
    return props.modelValue;
  },
  set(val) {
    emit('update:modelValue', val);
  },
});
</script>
