<template>
  <q-field
    :label="label"
    stack-label
    hide-bottom-space
    outlined
    bg-color="white"
    dense>
    <template v-slot:prepend>
      <q-icon name="attachment" />
    </template>
    <template v-slot:control>
      <div class="self-center full-width no-outline" tabindex="0">
        <a @click="download" style="cursor: pointer">
          {{ $t('components.file.downloadFile') }}
        </a>
      </div>
    </template>
  </q-field>
</template>

<script setup lang="ts">
const props = defineProps<{
  label: string;
  modelValue: any;
}>();

const download = function () {
  var id = props.modelValue;
  if (id) {
    window.open(`api/files/${id}`, '_blank');
  }
};
</script>
