<template>
  <div>
    <q-file
      v-if="!value && !uploading"
      ref="fileRef"
      v-model="selected"
      :label="label"
      lazy-rules
      dense
      outlined
      :multiple="props.multiple"
      bg-color="white"
      hide-bottom-space>
      <template v-slot:prepend>
        <q-icon name="attachment" @click="() => {}" />
      </template>
      <template v-slot:append>
        <q-btn v-if="selected" icon="upload" dense flat @click="upload"></q-btn>
      </template>
    </q-file>
  </div>

  <q-field
    v-if="value || uploading"
    :label="label"
    stack-label
    hide-bottom-space
    outlined
    bg-color="white"
    dense>
    <template v-slot:prepend>
      <q-icon name="attachment" />
    </template>
    <template v-slot:control>
      <div v-if="uploading" class="full-width">
        <q-linear-progress
          color="primary border-radius"
          indeterminate
          class="full-width"></q-linear-progress>
      </div>
      <div v-else class="self-center full-width no-outline" tabindex="0">
        <a @click="downloadFile(<number>value)" style="cursor: pointer">
          {{ $t('components.file.downloadFile') }}
        </a>
      </div>
    </template>
  </q-field>
</template>

<script setup lang="ts">
import { ref, computed, watch } from 'vue';
import { QFile, QInputProps } from 'quasar';
import { axiosApi } from 'src/services';

export interface SaveFileInfo {
  id?: number;
  displayname?: string;
}

const emit = defineEmits(['update:modelValue', 'selected']);
const fileRef = ref<InstanceType<typeof QFile>>();
const uploading = ref(false);
const uploaded = ref(false);

const props = withDefaults(
  defineProps<{
    label: string;
    modelValue: number | number[] | undefined;
    emitValue?: boolean;
    uploadedFiles?: SaveFileInfo[];
    type?: QInputProps['type'];
    disable?: boolean;
    multiple?: boolean;
  }>(),
  { type: 'text', emitValue: true }
);

const selected = ref<FileList | File | null | undefined>();

watch(
  () => selected.value,
  (newValue) => {
    uploaded.value = false;
    emit('selected', newValue);
  }
);

const value = computed({
  get() {
    return props.modelValue;
  },
  set(val) {
    emit('update:modelValue', val);
  },
});

const upload = async function () {
  if (selected.value && !uploaded.value) {
    uploading.value = true;
    const sel = selected.value;
    let data = new FormData();

    if (sel instanceof Array) {
      var files = sel;
      for (const file of files) {
        data.append('file', file);
      }
    } else {
      var file = <File>sel;
      data.append('file', file);
    }

    var d = (await axiosApi.post<SaveFileInfo[]>('files', data)).data;
    if (props.multiple) {
      value.value = d.map((x) => <number>x.id);
    } else {
      value.value = d.length > 0 ? d[0].id : undefined;
    }

    uploading.value = false;
    uploaded.value = true;
  }
  return Promise.resolve(true);
};

const downloadFile = function (id: number) {
  if (id) {
    window.open(`/api/files/${id}`, '_blank');
  }
};

defineExpose({
  upload,
});
</script>
