<template>
  <q-form ref="formRef" greedy><slot></slot></q-form>
</template>
<script setup lang="ts">
import { QForm } from 'quasar';
import { ref } from 'vue';

const formRef = ref<InstanceType<typeof QForm>>();

const validate = async function () {
  return await formRef.value?.validate();
};

const resetValidation = async function () {
  return await formRef.value?.resetValidation();
};

defineExpose({ validate, resetValidation });
</script>
