<template>
  <q-input
    v-model="value"
    :label="label"
    :rules="props.rules"
    :type="props.type"
    :placeholder="props.placeholder"
    hide-bottom-space
    lazy-rules
    outlined
    dense
    bg-color="white">
    <template v-slot:prepend>
      <slot name="prepend"></slot>
    </template>
    <template v-slot:append>
      <slot name="append"></slot>
    </template>
    <template v-slot:after>
      <slot name="after"></slot>
    </template>
  </q-input>
</template>

<script setup lang="ts">
import { ValidationRule } from 'quasar';
import { computed } from 'vue';
const emit = defineEmits(['update:modelValue']);

const props = defineProps<{
  type?:
    | 'text'
    | 'password'
    | 'textarea'
    | 'email'
    | 'search'
    | 'tel'
    | 'file'
    | 'number'
    | 'url'
    | 'time'
    | 'date'
    | undefined;
  label?: string;
  placeholder?: string;
  modelValue: string | number | null | undefined;
  rules?: ValidationRule<unknown>[];
}>();

const value = computed({
  get() {
    return props.modelValue;
  },
  set(val) {
    if (props.type == 'number') {
      if (val == '') {
        val = null;
      } else if (typeof val == 'string') {
        val = parseFloat(val);
        if (isNaN(val)) {
          val = 0;
        }
      }
    }

    emit('update:modelValue', val);
  },
});
</script>
