<template>
  <q-field outlined dense :label="props.label" stack-label readonly>
    <template v-slot:control>
      {{ props.modelValue }}
    </template>
  </q-field>
</template>
<script setup lang="ts">
const props = defineProps<{
  label: string;
  modelValue: unknown;
}>();
</script>
