<template>
  <div v-if="!hasAccessToken" class="fit row items-center justify-center">
    Mapbox API key required
  </div>
  <div
    v-if="hasAccessToken"
    class="fit border-radius overflow-hidden"
    :style="{ visibility: mapLoaded ? 'visible' : 'hidden' }">
    <div ref="mapContainer" class="map-container fit"></div>
  </div>
</template>

<script lang="ts">
export function getBoundsFromGeoJSON(geoJsonObj: any) {
  const bounds = new mapboxgl.LngLatBounds();

  // Function to extend bounds recursively
  function extendBounds(geometry: any) {
    if (geometry.type === 'Point') {
      bounds.extend(geometry.coordinates);
    } else if (
      geometry.type === 'Polygon' ||
      geometry.type == 'Feature' ||
      geometry.type == 'MultiLineString'
    ) {
      geometry.coordinates.forEach((ring: any) => {
        ring.forEach((coord: any) => {
          bounds.extend(coord);
        });
      });
    } else if (
      geometry.type === 'GeometryCollection' ||
      geometry.type == 'FeatureCollection'
    ) {
      geometry.geometries.forEach((subGeometry: any) => {
        extendBounds(subGeometry);
      });
    }
  }

  // Iterate through features and extend bounds for each geometry
  geoJsonObj.features.forEach((feature: any) => {
    if (feature.geometry) {
      extendBounds(feature.geometry);
    }
  });

  return bounds;
}
</script>

<script setup lang="ts">
import mapboxgl, { LngLatLike, Map } from 'mapbox-gl';
import { ref, onMounted } from 'vue';
import '../../node_modules/mapbox-gl/dist/mapbox-gl.css';
import MapboxGeocoder from '@mapbox/mapbox-gl-geocoder';
import MapboxDraw from '@mapbox/mapbox-gl-draw';
import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';
import '@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css';
import { useFieldbookStore } from 'src/stores/fieldbook.store';
//import MapboxDrawPro from '@map.ir/mapbox-gl-draw-geospatial-tools';
/*import defaultDrawStyle from '@mapbox/mapbox-gl-draw/src/lib/theme.js';

import CutPolygonMode, {
  drawStyles as cutPolygonDrawStyles,
} from 'mapbox-gl-draw-cut-polygon-mode';*/

const fieldbookStore = useFieldbookStore();

// Data
const map = ref<Map>();
const mapLoaded = ref(false);
const mapContainer = ref();
const hasAccessToken = ref(true);
let drawInstance = ref<MapboxDraw>();

// Props
const props = defineProps<{
  addGeocoder?: boolean;
  draw?: boolean;
  drawMode?: string;
}>();

const emit = defineEmits(['update:modelValue', 'loaded', 'areaUpdated']);

// Mounted
onMounted(() => {
  const appSettings = fieldbookStore.appSettings;
  if (appSettings.mapboxAccessToken) {
    mapboxgl.accessToken = appSettings.mapboxAccessToken;
  } else {
    hasAccessToken.value = false;
    return;
  }

  const m = new mapboxgl.Map({
    container: mapContainer.value,
    style: 'mapbox://styles/mickeycek/cly73mc0300dv01pi19sq9i0g', //'mapbox://styles/mapbox/satellite-v9',
    projection: { name: 'globe' }, // Display the map as a globe, since satellite-v9 defaults to Mercator
    center: [16.16639, 46.6625],
    zoom: 14,
  });

  m.on('load', () => {
    m.resize();

    if (props.addGeocoder) {
      // Add the control to the map.
      m.addControl(
        new MapboxGeocoder({
          accessToken: mapboxgl.accessToken,
          mapboxgl: mapboxgl,
        })
      );
    }

    if (props.draw) {
      var drawMode = props.drawMode || 'draw_polygon';

      drawInstance.value = new MapboxDraw({
        displayControlsDefault: false,

        controls: {
          polygon: drawMode == 'draw_polygon' ? true : false,
          point: drawMode == 'draw_point' ? true : false,
          trash: true,
        },

        /*modes: {
          ...CutPolygonMode(MapboxDraw.modes),
        },
        styles: [...cutPolygonDrawStyles(defaultDrawStyle)],
        userProperties: true,*/
        // Set mapbox-gl-draw to draw by default.
        // The user does not have to click the polygon control button first.
        defaultMode: drawMode,
      });

      m.addControl(drawInstance.value);
      m.on('draw.create', updateArea);
      m.on('draw.delete', updateArea);
      m.on('draw.update', updateArea);
    }
    emit('loaded');

    setTimeout(() => {
      mapLoaded.value = true;
    }, 50);
  });

  map.value = m;
});

const setLocation = function (latLng: LngLatLike, flyTo = false) {
  var m = map.value;
  if (m) {
    if (flyTo) {
      m.flyTo({ center: latLng });
    } else {
      m.setCenter(latLng);
    }
  }
};

const addMarker = function (latLng: LngLatLike) {
  var m = map.value;
  if (m) {
    new mapboxgl.Marker({ color: '#6f9c3d' }).setLngLat(latLng).addTo(m);
  }
};

const updateArea = function () {
  const data = drawInstance.value?.getAll();
  emit('areaUpdated', data);
};

defineExpose({ map, drawInstance, setLocation, addMarker });
</script>
