<template>
  <q-option-group v-model="value" :options="props.options" :label="label" />
</template>

<script setup lang="ts">
import { QOptionGroupProps } from 'quasar';
import { computed } from 'vue';
const emit = defineEmits(['update:modelValue']);

const props = defineProps<{
  label?: string;
  modelValue: string | number | null | undefined;
  options: QOptionGroupProps['options'];
}>();

const value = computed({
  get() {
    return props.modelValue;
  },
  set(val) {
    emit('update:modelValue', val);
  },
});
</script>
