<template>
  <div class="row items-center text-no-wrap">
    <CIcon
      class="col-auto"
      v-if="icon"
      :name="icon"
      :color="color"
      :size="large ? '48px' : 'md'"></CIcon>
    <div
      class="col text-primary ellipsis"
      :class="[large ? 'text-h5 q-ml-md' : 'text-subtitle1 q-ml-sm']">
      <slot></slot>
    </div>
  </div>
</template>
<script setup lang="ts">
import { toRefs } from 'vue';

const props = withDefaults(
  defineProps<{
    icon: string;
    color?: string;
    large?: boolean;
  }>(),
  {
    color: 'primary',
    large: false,
  }
);

const { icon, color } = toRefs(props);
</script>
