<template>
  <q-select
    ref="selectRef"
    v-model="valueObj"
    :label="label"
    :options="filteredOptions"
    :option-value="optionValue"
    :option-label="optionLabel"
    :multiple="multiple"
    :use-chips="multiple"
    :hide-selected="!multiple"
    :fill-input="!multiple"
    :rules="rules"
    lazy-rules
    use-input
    hide-bottom-space
    bg-color="white"
    clearable
    outlined
    bottom-slots
    dense
    @filter="filterData">
    <template #after v-if="$slots.after">
      <slot name="after"></slot>
    </template>
    <template v-slot:no-option>
      <q-item>
        <q-item-section class="text-grey">
          {{ $t('select.noResults') }}
        </q-item-section>
      </q-item>
    </template>
    <!--
    <template v-slot:before-options>
      <div
        class="q-pa-md bg-white"
        style="position: sticky; top: 0px; width: 100%; z-index: 1"
      >
        <q-input
          v-model="query"
          :debounce="500"
          dense
          autofocus
          outlined
          label="Iskanje..."
        ></q-input>
      </div>
    </template>-->

    <template v-if="$slots.option" v-slot:option="scope">
      <slot name="option" v-bind="scope"></slot>
    </template>
    <template v-if="$slots['selected']" v-slot:selected="scope">
      <slot name="selected" v-bind="scope"></slot>
    </template>
    <template v-if="$slots['selected-item']" v-slot:selected-item="scope">
      <slot name="selected-item" v-bind="scope"></slot>
    </template>
  </q-select>
</template>

<script setup lang="ts">
import { QSelect, ValidationRule } from 'quasar';
import { getData } from 'src/services';
import { computed, onMounted, ref, toRefs, watch } from 'vue';

const emit = defineEmits([
  'update:modelValue',
  //'update:displayValue',
  'selected',
  'update:selected',
]);

const props = defineProps<{
  label: string;
  modelValue: any;
  //displayValue?: any;
  selected?: any;
  route?: string;
  filter?: object;
  options?: any[];
  optionValue?: string /* | ((item: any) => string)*/ | undefined;
  optionLabel?: string | ((item: any) => string) | undefined;
  searchColumn?: string | ((item: any) => string) | undefined;
  emitValue?: boolean;
  multiple?: boolean;
  rules?: ValidationRule<any>[];
  required?: boolean;
}>();

const selectRef = ref<InstanceType<typeof QSelect>>();
const {
  modelValue,
  //displayValue,
  label,
  optionLabel,
  optionValue,
  options,
  filter,
  multiple,
  rules,
} = toRefs(props);

let dataLoaded = false;
type KeyObject = { [key: string]: any };
const valProp = optionValue?.value ?? 'id';
const data = ref<KeyObject[]>();
const filteredOptions = ref();
const query = ref();

// Initial load
onMounted(async () => {
  if (modelValue.value && !dataLoaded) {
    await loadData(modelValue.value);
  }

  //loadValue();
});

// Watch model value changes
watch(
  () => modelValue.value,
  async (val) => {
    if (val && !dataLoaded) {
      await loadData(val);
    } else {
      loadValue();
    }
  }
);

/*watch(
  () => options?.value,
  async (val) => {
    loadValue();
  }
);*/

watch(
  () => options?.value,
  () => {
    loadData();
  }
);

watch(
  () => query.value,
  (newValue) => {
    filterData(newValue);
  }
);

// Watch filter changes
if (filter?.value) {
  watch(
    () => filter.value,
    (newValue, oldValue) => {
      if (JSON.stringify(oldValue) !== JSON.stringify(newValue)) {
        valueObj.value = undefined;
        loadData();
      }
    },
    { deep: true }
  );
}

const _valueObj = ref();
const valueObj = computed({
  get() {
    return _valueObj.value;
  },
  set(valObj: any) {
    _valueObj.value = valObj;

    var val = valObj && optionValue?.value ? valObj[optionValue.value] : valObj;
    emit('selected', valObj);
    emit('update:selected', valObj);
    emit('update:modelValue', val);
  },
});

async function filterData(val?: string, update?: any) {
  if (!dataLoaded) {
    await loadData();
    filteredOptions.value = data.value;
  }

  var allData = data?.value ?? [];
  if (!val) {
    filteredOptions.value = allData;
  } else {
    const query = val.toString().toLowerCase();
    const optionLabel = props.searchColumn || props.optionLabel || null;

    if (typeof optionLabel == 'function') {
      filteredOptions.value = allData.filter((v: any) => {
        var propValue = optionLabel ? optionLabel(v) : v?.toString();
        return propValue.toLowerCase().indexOf(query) > -1;
      });
    } else {
      var filtData = allData.filter((v: any) => {
        var propValue = optionLabel ? v[optionLabel] : v?.toString();
        return propValue.toLowerCase().indexOf(query) > -1;
      });
      filteredOptions.value = filtData;
    }
  }

  if (update) {
    update();
  }
}

const loadData = async function (...ids: number[]) {
  if (options?.value) {
    data.value = options.value;
    dataLoaded = true;
  } else if (props.route) {
    let response = (await getData<any>(props.route, { ...filter?.value, ids }))
      .data;
    if (response) {
      data.value = response;
      dataLoaded = !ids || ids.length == 0;
    }
  }

  loadValue();
};

const loadValue = async function () {
  var val = modelValue.value;
  if (val) {
    var isObject = typeof val == 'object';
    var isMultiselect = isObject && Array.isArray(val);

    // Multiselect
    if (isMultiselect) {
      if (_valueObj.value != val) {
        _valueObj.value = val;
      }
      return;
    }

    // Single item
    var value = isObject ? val[valProp] : val;
    var objectValueUnwrapped = _valueObj.value
      ? _valueObj.value[valProp]
      : undefined;
    if (objectValueUnwrapped == value) {
      // Value is the same, skip
      return;
    }

    var item = null;
    var allData = data.value;
    if (allData) {
      item = allData.find((x) => x[valProp] == value);
      _valueObj.value = item;
    }
  } else {
    _valueObj.value = undefined;
  }
};

const refreshData = async function () {
  await loadData();
};

defineExpose({ data, refreshData });
</script>
