<template>
  <div class="fit column">
    <div class="col-auto full-width">
      <q-tabs
        v-model="tab"
        inline-label
        class="bg-white text-primary"
        active-color="secondary">
        <q-tab
          v-for="(tab, index) in tabs"
          :key="index"
          :name="tab.name"
          :icon="tab.icon"
          :label="tab.label" />
      </q-tabs>
    </div>
    <div class="col q-mt-md full-width">
      <q-tab-panels
        v-model="tab"
        class="border-radius fit"
        _animated
        keep-alive>
        <q-tab-panel v-for="(itm, index) in tabs" :key="index" :name="itm.name">
          <div class="fit">
            <slot :name="'tab-' + itm.name"></slot>
          </div>
        </q-tab-panel>
      </q-tab-panels>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, onBeforeMount, ref, toRefs } from 'vue';
const emit = defineEmits(['update:modelValue']);

export interface CTabItem {
  name: string;
  label: string;
  icon?: string;
}

const props = defineProps<{
  tabs: CTabItem[];
  modelValue?: string;
}>();

const { tabs } = toRefs(props);

onBeforeMount(() => {
  _tab.value = props.modelValue;
  if (!props.modelValue && tabs.value.length > 0) {
    tab.value = tabs.value[0].name;
  }
});

const _tab = ref();
const tab = computed({
  get() {
    return _tab.value;
  },
  set(val) {
    _tab.value = val;
    emit('update:modelValue', val);
  },
});
</script>
