<template>
  <q-table
    ref="tableRef"
    class="full-width _full-height sticky-table"
    :class="{
      'sticky-column_last': hasActions || hasMenuActions,
      'row-details': $slots['row-details'],
    }"
    v-model:selected="_selected"
    :rows="filteredRows"
    :columns="filteredColumns"
    :row-key="props.rowKey"
    :pagination="{ rowsPerPage: 30 }"
    :dense="$q.screen.lt.md"
    :grid="_grid"
    :loading="loadingVal"
    :loading-label="loadingLabel"
    :selection="props.selection"
    @row-click="(event, data) => updateSelectedRow(data)"
    separator="cell"
    flat
    bordered>
    <template v-slot:loading>
      <q-inner-loading
        class="z-top"
        showing
        color="primary"
        :label="loadingLabel" />
    </template>

    <template v-slot:top="slotProps">
      <div class="row full-width">
        <div v-if="props.addAction || $slots['actions-top']" class="col-12">
          <div class="row no-wrap q-col-gutter-x-md">
            <div v-if="props.addAction">
              <q-btn
                class="q-px-md"
                icon="add"
                color="primary"
                :label="$t('table.buttons.add')"
                unelevated
                @click="addAction"></q-btn>
            </div>
            <slot name="actions-top"></slot>
          </div>
          <div>
            <q-separator class="q-my-sm"></q-separator>
          </div>
        </div>
        <div class="col-12 row q-col-gutter-md items-center">
          <div class="col-xs-12 col-md-auto">
            <q-input
              debounce="1000"
              v-model="query"
              outlined
              dense
              :placeholder="$t('table.search') + '...'">
              <template v-slot:append>
                <CIcon name="search" />
              </template>
            </q-input>
          </div>
          <div v-if="$slots.filter" class="col-auto">
            <slot name="filter"></slot>
          </div>
          <div class="col-auto">
            <q-btn
              v-if="hasRefreshAction"
              icon="refresh"
              color="primary"
              round
              unelevated
              @click="refreshAction" />
          </div>
          <div class="col row justify-end q-gutter-xs">
            <q-btn
              flat
              round
              icon="download"
              @click="exportData"
              :loading="exportingData" />
            <q-btn
              flat
              round
              :icon="grid ? 'view_list' : 'grid_view'"
              @click="toggleGridView" />
            <q-btn
              flat
              round
              :icon="slotProps.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
              @click="slotProps.toggleFullscreen" />
          </div>
        </div>
      </div>
    </template>

    <template v-slot:header="slotProps">
      <q-tr :props="slotProps">
        <q-th v-if="$slots['row-details']" auto-width></q-th>
        <q-th auto-width v-if="selection != 'none'">
          <q-checkbox
            v-if="props.selection == 'multiple'"
            v-model="slotProps.selected"></q-checkbox>
        </q-th>
        <q-th v-for="col in slotProps.cols" :key="col.name" :props="slotProps">
          {{ col.label }}
        </q-th>
        <q-th v-if="hasActions || hasMenuActions" auto-width></q-th>
      </q-tr>
    </template>

    <template v-slot:body="slotProps">
      <q-tr :props="slotProps" @click="updateSelectedRow(slotProps.row)">
        <q-td v-if="$slots['row-details']" auto-width>
          <q-btn
            size="sm"
            color="primary"
            round
            dense
            unelevated
            @click="expandRow(slotProps)"
            :icon="slotProps.expand ? 'remove' : 'add'" />
        </q-td>
        <q-td v-if="selection != 'none'">
          <q-checkbox v-model="slotProps.selected"></q-checkbox>
        </q-td>
        <q-td v-for="col in slotProps.cols" :key="col.name" :props="slotProps">
          <template v-if="$slots['body-cell-' + col.name]">
            <slot
              :name="'body-cell-' + col.name"
              :props="slotProps"
              :col="col"></slot>
          </template>
          <template v-else>
            {{ col.value }}
          </template>
        </q-td>

        <q-td v-if="hasActions || hasMenuActions" auto-width>
          <div
            class="row items-center justify-center no-wrap q-col-gutter-x-xs">
            <!--<div v-if="props.viewAction">
              <q-btn
                class="q-px-md"
                icon="edit_note"
                color="primary"
                :label="showLabel ? $t('table.buttons.view') : undefined"
                no-wrap
                dense
                unelevated
                @click="viewAction(slotProps.row)"></q-btn>
            </div>
            <div v-if="props.editAction">
              <q-btn
                class="q-px-md"
                icon="mode_edit"
                color="primary"
                :label="showLabel ? $t('table.buttons.edit') : undefined"
                no-wrap
                dense
                unelevated
                @click="editAction(slotProps.row)"></q-btn>
            </div>
            <div v-if="props.deleteAction">
              <q-btn
                class="q-px-md"
                icon="delete"
                color="primary"
                :label="showLabel ? $t('table.buttons.delete') : undefined"
                no-wrap
                dense
                unelevated
                @click="deleteAction(slotProps.row)"></q-btn>
            </div>-->
            <div v-if="$slots.actions">
              <slot
                name="actions"
                :show-label="showLabel"
                :row="slotProps.row"></slot>
            </div>
            <div v-if="hasMenuActions">
              <CBtn
                class="q-px-md"
                icon="more_horiz"
                color="primary"
                dense
                unelevated>
                <q-menu :offset="[0, 5]">
                  <q-list style="min-width: 150px">
                    <q-item
                      v-if="props.viewAction"
                      class="bg-primary text-white text-no-wrap"
                      clickable
                      @click="viewAction(slotProps.row)"
                      v-close-popup>
                      <q-item-section side>
                        <CIcon name="edit_note" color="white" />
                      </q-item-section>
                      <q-item-section>
                        {{ $t('table.buttons.view') }}
                      </q-item-section>
                    </q-item>
                    <q-item
                      v-if="props.editAction"
                      class="bg-primary text-white text-no-wrap"
                      clickable
                      @click="editAction(slotProps.row)"
                      :disable="!canEdit(slotProps.row)"
                      v-close-popup>
                      <q-item-section side>
                        <CIcon name="mode_edit" color="white" />
                      </q-item-section>
                      <q-item-section>
                        {{ $t('table.buttons.edit') }}
                      </q-item-section>
                    </q-item>
                    <template v-if="menuActions">
                      <q-item
                        v-for="ma in menuActions"
                        :key="ma.text"
                        class="bg-primary text-white text-no-wrap"
                        clickable
                        @click="ma.action(slotProps.row)"
                        v-close-popup>
                        <q-item-section side v-if="ma.icon">
                          <CIcon :name="ma.icon" color="white" />
                        </q-item-section>
                        <q-item-section>
                          {{ ma.text }}
                        </q-item-section>
                      </q-item>
                    </template>
                    <template v-if="slots['actions-menu']">
                      <slot name="actions-menu" :row="slotProps.row"></slot>
                    </template>
                    <q-item
                      v-if="props.deleteAction"
                      class="bg-red-4 text-white text-no-wrap"
                      clickable
                      @click="deleteAction(slotProps.row)"
                      :disable="!canEdit(slotProps.row)"
                      v-close-popup>
                      <q-item-section side>
                        <CIcon name="delete" color="white" />
                      </q-item-section>
                      <q-item-section>
                        {{ $t('table.buttons.delete') }}
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </CBtn>
            </div>
          </div>
        </q-td>
      </q-tr>
      <q-tr
        v-if="$slots['row-details']"
        v-show="slotProps.expand"
        :props="slotProps">
        <q-td colspan="100%">
          <slot name="row-details" :props="slotProps"></slot>
        </q-td>
      </q-tr>
    </template>

    <template v-if="$slots.item" #item="props">
      <slot name="item" :props="props"></slot>
    </template>

    <template v-if="$slots['bottom-row']" #bottom-row="props">
      <slot name="bottom-row" :props="props"></slot>
    </template>

    <template v-if="$slots['bottom']" #bottom="props">
      <slot name="bottom" :props="props"></slot>
    </template>
  </q-table>
</template>

<script setup lang="ts">
import { QTable, QTableProps, useQuasar } from 'quasar';
import { DbData } from 'src/models/core.models';
import services, { axiosApi } from 'src/services';
import { computed, onMounted, ref, toRefs, useSlots, watch } from 'vue';

const emit = defineEmits([
  'update:selected',
  'update:selectedRow',
  'update:grid',
  'expandRow',
  'collapseRow',
  'refresh',
]);

/*const operators = [
  {
    id: 'Equals',
    label: 'Je enako (=)',
  },
  {
    id: 'Contains',
    label: 'Vsebuje (=)',
  },
];
const operator = ref();
const field = ref();
*/

export interface MenuAction {
  icon?: string;
  text?: string;
  action: (row: any) => void;
}

const props = withDefaults(
  defineProps<{
    selected?: any[];
    selectedRow?: any;
    columns: QTableProps['columns'];
    rowKey: string | ((row: unknown) => unknown) | undefined;
    rows?: unknown[];
    route?: string;
    routeParams?: object;
    filter?: object;
    grid?: boolean;
    loading?: boolean;
    loadingLabel?: string;
    selection?: 'single' | 'multiple' | 'none' | undefined;
    service?: (filter?: any) => DbData<any>;
    addAction?: () => void;
    viewAction?: (selectedRow: any) => void;
    editAction?: (selectedRow: any) => void;
    deleteAction?: (selectedRow: any) => void;
    canEdit?: (selectedRow: any) => boolean;
    refreshAction?: () => void;
    menuActions?: MenuAction[] | undefined;
  }>(),
  { selection: 'single', grid: false, loading: false }
);

const $q = useQuasar();
const tableRef = ref<InstanceType<typeof QTable>>();
const { rows, columns, loadingLabel } = toRefs(props);
const filteredColumns = ref<QTableProps['columns']>();
const filteredRows = ref();
const query = ref();
const data = ref();
const slots = useSlots();
//const selected = ref<any[]>([]);
const loadingVal = ref(false);
const exportingData = ref(false);
const hasActions = slots.actions ? true : false;
const _grid = ref(false);
const _selected = ref<any[]>(props.selected || []);

const hasMenuActions =
  props.viewAction ||
  props.editAction ||
  props.deleteAction ||
  slots['actions-menu'] ||
  (props.menuActions?.length ?? 0) > 0
    ? true
    : false;

const hasRefreshAction = props.refreshAction || props.route ? true : false;

onMounted(() => {
  filteredColumns.value = props.columns;
  refreshData(true);
});

/* Selected */
watch(
  () => props.selected,
  (val) => {
    _selected.value = val ?? [];
  },
  { immediate: true }
);

watch(
  () => _selected.value,
  (val) => {
    emit('update:selected', val);
    emit('update:selectedRow', val?.at(0));
  }
);
/* /Selected */

/* Grid mode */
watch(
  () => props.grid,
  (val) => {
    _grid.value = val;
  },
  { immediate: true }
);

watch(
  () => _grid.value,
  (val) => {
    emit('update:grid', val);
  }
);
/* /Grid mode */

watch(
  () => props.loading,
  (newValue) => {
    loadingVal.value = newValue;
  },
  { immediate: true }
);

watch(
  () => props.columns,
  () => {
    filteredColumns.value = props.columns;
  }
);

watch(
  () => rows?.value,
  () => {
    refreshData();
  }
);

watch(
  () => query.value,
  () => {
    filterData();
  }
);

const showLabel = computed(() => {
  return $q.screen.lt.md ? false : true;
});

const updateSelectedRow = function (data: any) {
  _selected.value = data ? [data] : [];
  emit('update:selected', data ? [data] : []);
};

const viewAction = function (selectedItem?: any) {
  if (props.viewAction) {
    props.viewAction(selectedItem);
  }
};

const addAction = function () {
  if (props.addAction) {
    props.addAction();
  }
};

const editAction = function (selectedItem?: any) {
  if (props.editAction) {
    props.editAction(selectedItem);
  }
};

const deleteAction = function (selectedItem?: any) {
  if (props.deleteAction) {
    props.deleteAction(selectedItem);
  }
};

const canEdit = function (selectedItem?: any) {
  if (props.canEdit) {
    return props.canEdit(selectedItem);
  }

  return true;
};

/*const openAdvancedFilter = function () {
  filterDialogVisible.value = true;
};*/

const filterData = function () {
  var queryValue = query.value?.toLowerCase();
  var allRows = data.value;

  if (!queryValue) {
    filteredRows.value = allRows;
    return;
  }

  const columnsValue = columns.value;
  const fields = columnsValue?.map((x) => {
    return { field: x.field, isFunction: typeof x.field == 'function' };
  });

  if (!fields) {
    return;
  }

  filteredRows.value = allRows?.filter(
    (row: any) =>
      fields.filter((field) => {
        var value: string;
        if (typeof field.field == 'function') {
          value = field.field(row)?.toString();
        } else {
          value = row[field.field];
        }
        return value?.toString()?.toLowerCase()?.includes(queryValue);
      }).length > 0
  );
};

const refreshAction = async function () {
  if (props.refreshAction) {
    loadingVal.value = true;
    await props.refreshAction();
    loadingVal.value = false;
  } else {
    refreshData();
  }
};

const refreshData = async function (initial = false) {
  if (!initial) {
    // commented out: leave selected for now...
    //selected.value = [];
  }

  if (tableRef.value) {
    tableRef.value.setExpanded([]);
  }

  if (rows?.value) {
    data.value = rows.value;
  } else if (props.route) {
    try {
      loadingVal.value = true;

      var route = props.route;
      var routeParams = props.routeParams;
      if (routeParams) {
        Object.entries(routeParams).map(([key, value]) => {
          route = route.replace(`{${key}}`, value?.toString());
        });
      }
      let response = (
        await axiosApi.get<DbData<any>>(route, {
          params: props.filter,
        })
      ).data;
      if (response) {
        data.value = response.data;
      }
    } finally {
      loadingVal.value = false;
    }
  } else if (props.service) {
    try {
      loadingVal.value = true;

      let response = await props.service(props.filter);
      if (response) {
        data.value = response.data;
      }
    } finally {
      loadingVal.value = false;
    }
  }

  filterData();
  emit('refresh', { rows: filteredRows?.value });
};

const expandRow = function (params: any) {
  params.expand = !params.expand;
  params.expand
    ? emit('expandRow', { row: params.row })
    : emit('collapseRow', { row: params.row });
};

const toggleGridView = function () {
  _grid.value = !_grid.value;
};

const exportData = async function () {
  try {
    exportingData.value = true;
    var cols = columns.value;
    var rows = tableRef.value?.filteredSortedRows;
    var exportRows: { [k: string]: any }[] = [];

    rows?.forEach((row) => {
      var exportRow: { [k: string]: any } = {};

      cols?.forEach((c) => {
        let val = null;

        if (typeof c.field == 'string') {
          val = row[c.field];
          if (c.format) {
            val = c.format(row[c.field], row);
          }
        } else if (typeof c.field == 'function') {
          val = c.field(row);
        }

        exportRow[c.name] = val;
      });

      exportRows.push(exportRow);
    });

    await services.exportData({
      columns:
        cols?.map((x) => {
          return { label: x.label, name: x.name };
        }) ?? [],
      rows: exportRows,
    });
  } finally {
    exportingData.value = false;
  }
};

defineExpose({ data, refreshData });
</script>
