<template>
  <q-toggle v-model="value" color="primary"><slot></slot></q-toggle>
</template>
<script setup lang="ts">
import { computed } from 'vue';

const emit = defineEmits(['update:modelValue']);

const props = defineProps<{
  modelValue: any;
}>();

const value = computed({
  get() {
    return props.modelValue;
  },
  set(val) {
    emit('update:modelValue', val);
  },
});
</script>
