<template>
  <CDialog v-model="visible">
    <CCard v-if="user" style="width: 600px" class="text-body1 border-radius">
      <q-card-section class="row items-center full-width no-wrap">
        <CIcon name="task" size="lg" color="primary"></CIcon>
        <div class="text-h5 text-primary q-pl-md text-no-wrap ellipsis">
          {{ $t('admin.users.editUser') }}
        </div>
      </q-card-section>
      <q-separator inset />
      <q-card-section>
        <q-tabs v-model="tab" class="text-primary" active-class="text-tertiary">
          <q-tab name="userInfo" icon="person" label="User info" />
          <q-tab name="settings" icon="settings" label="Settings" />
        </q-tabs>
        <q-tab-panels v-model="tab" animated class="no-shadow">
          <q-tab-panel name="userInfo" class="column q-col-gutter-md">
            <CLabel
              v-model="user.name"
              :label="$t('admin.review.user')"
            ></CLabel>
            <CLabel
              v-model="user.surname"
              :label="$t('admin.review.user')"
            ></CLabel>
            <CLabel
              v-model="user.email"
              :label="$t('admin.review.user')"
            ></CLabel>
            <span class="text-negative text-justify text-caption text-bold"
              >* {{ $t('admin.users.onlyEditInAzure') }}
            </span>

            <div>
              <q-separator></q-separator>
            </div>

            <CSelect
              label="Vloga"
              v-model="user.role"
              emit-value
              :options="roles"
            ></CSelect>

            <CSelect
              label="Status"
              v-model="user.status"
              emit-value
              :options="statuses"
            ></CSelect>
          </q-tab-panel>

          <q-tab-panel name="settings" class="column q-col-gutter-md">
            <CInput
              v-for="(itm, index) in settings"
              :key="index"
              v-model="itm.value"
              :label="itm.name"
            ></CInput>
          </q-tab-panel>
        </q-tab-panels>
      </q-card-section>
      <q-card-actions align="center">
        <CBtn
          padding="xs lg"
          class="border-radius"
          color="positive"
          icon="check_circle"
          :label="$t('actions.save')"
          @click="save"
        ></CBtn>
        <CBtn
          padding="xs lg"
          class="border-radius"
          color="negative"
          icon="block"
          :label="$t('actions.cancel')"
          @click="close"
        ></CBtn>
      </q-card-actions>
      <CInnerLoading :showing="loading" />
    </CCard>
  </CDialog>
</template>

<script setup lang="ts">
import { User, UserSetting } from 'src/models/core.models';
import fieldbookService from 'src/services/fieldbook.service';
import { computed, ref } from 'vue';
import { useI18n } from 'vue-i18n';

const emit = defineEmits(['close']);
const { t } = useI18n();
const tab = ref();
const loading = ref(false);
const user = ref<User>();
const settings = ref<UserSetting[]>();

const roles = computed(() => [
  { id: '1', text: t('admin.users.role.admin') },
  { id: '2', text: t('admin.users.role.user') },
]);

const statuses = computed(() => [
  { id: -1, text: t('admin.users.status.deactivated') },
  { id: 0, text: t('admin.users.status.registered') },
  { id: 1, text: t('admin.users.status.active') },
]);

const open = async function (u: User) {
  tab.value = 'userInfo';
  user.value = u;
  visible.value = true;

  // Tab 2...
  settings.value = (await ssoService.getUserSettings(u.id)).data;
};

const close = function () {
  visible.value = false;
  emit('close');
};

const save = async function () {
  loading.value = true;
  var u = user.value;
  var s = settings.value;
  if (u && s && s.length > 0) {
    await Promise.all([
      ssoService.saveUser(u),
      ssoService.saveUserSettings(u.id, s),
    ]);
  }
  loading.value = false;
  close();
};

const visible = ref(false);
defineExpose({ open, close });
</script>
