<template>
  <DefaultPageLayout>
    <CTable
      ref="tableRef"
      :route="routes.users.default"
      :filter="{ includeInactive: true }"
      :columns="allUsersColumns"
      :add-action="() => showUserEditDialog()"
      :edit-action="showUserEditDialog"
      :delete-action="deleteUser"
      row-key="id"></CTable>
  </DefaultPageLayout>
</template>

<script setup lang="ts">
import { type QTableColumn } from 'quasar';
import { User } from 'src/models/core.models';
import { useI18n } from 'vue-i18n';
import routes from 'src/services/routes';
import { formatBoolean, showCustomDialog } from 'src/helpers';
import { computed, defineAsyncComponent, ref } from 'vue';
import CTable from 'src/components/CTable.vue';
import fieldbookService from 'src/services/fieldbook.service';
import { deleteItem } from 'src/services';

const { t } = useI18n();
const tableRef = ref<InstanceType<typeof CTable>>();
const roles = fieldbookService.getUserRoles();

const showUserEditDialog = async function (user?: User) {
  var result = await showCustomDialog(
    defineAsyncComponent(() => import('./UserEditDialog.vue')),
    { user }
  );

  if (result.confirm) {
    refreshData();
  }
};

const deleteUser = async function (data: User) {
  if (data && (await deleteItem(routes.users.single, { userId: data.id }))) {
    refreshData();
  }
};

const allUsersColumns = computed<QTableColumn<User>[]>(() => [
  {
    name: 'id',
    label: t('modules.admin.users.columns.id'),
    field: 'id',
    sortable: true,
    style: 'width: 100px;',
  },
  {
    name: 'name',
    label: t('modules.admin.users.columns.name'),
    field: 'name',
    sortable: true,
    align: 'left',
    style: 'width: 150px;',
  },
  {
    name: 'surname',
    label: t('modules.admin.users.columns.surname'),
    field: 'surname',
    sortable: true,
    align: 'left',
    style: 'width: 150px;',
  },
  {
    name: 'email',
    label: t('modules.admin.users.columns.email'),
    field: 'email',
    sortable: true,
    align: 'left',
    style: 'width: 250px;',
  },
  {
    name: 'role',
    label: t('modules.admin.users.columns.role'),
    field: (row: User) => {
      return roles.value.find((r) => r.id == row.role)?.name ?? '';
    },
    sortable: true,
    align: 'left',
    style: 'width: 150px;',
  },
  {
    name: 'isActive',
    label: t('common.isActive'),
    field: 'isActive',
    format: (data) => formatBoolean(data) ?? '',
    sortable: true,
  },
]);

const refreshData = function () {
  tableRef.value?.refreshData();
};
</script>
