<template>
  <CDialog
    ref="cDialogRef"
    @hide="onDialogHide"
    :confirm-action="onOKClick"
    :cancel-action="onDialogCancel"
    :loading="loading"
    width="600px">
    <CForm ref="formRef" v-if="itm">
      <div class="row q-col-gutter-md">
        <div class="col-12">
          <CSectionTitle icon="person">
            {{ $t('modules.admin.users.editDialog.user') }}
          </CSectionTitle>
        </div>
        <div class="col-xs-12 col-md-6">
          <CInput
            v-model="itm.name"
            :rules="[rules.required]"
            :label="$t('modules.admin.users.editDialog.inputs.name')"
            autofocus></CInput>
        </div>
        <div class="col-xs-12 col-md-6">
          <CInput
            v-model="itm.surname"
            :rules="[rules.required]"
            :label="
              $t('modules.admin.users.editDialog.inputs.surname')
            "></CInput>
        </div>
        <div class="col-12">
          <CInput
            v-model="itm.email"
            :rules="[rules.required]"
            :label="$t('modules.admin.users.editDialog.inputs.email')"></CInput>
        </div>
        <div class="col-12">
          <CSelect
            v-model="itm.role"
            option-value="id"
            option-label="name"
            :options="userRoles"
            :label="$t('modules.admin.users.editDialog.inputs.role')"></CSelect>
        </div>
        <div class="col-12">
          <CSelect
            v-model="itm.farmId"
            option-value="id"
            option-label="name"
            :route="routes.farms.default"
            :label="$t('modules.admin.users.editDialog.inputs.farm')"></CSelect>
        </div>
        <div class="col-12">
          <CCheckbox
            v-model="itm.isActive"
            :label="$t('common.isActive')"></CCheckbox>
        </div>

        <template v-if="appSettings.loginType == EnumLoginType.LOCAL_LOGIN">
          <div class="col-12">
            <CSectionTitle icon="password">
              {{ $t('modules.admin.users.editDialog.password') }}
            </CSectionTitle>
          </div>
          <div class="col-xs-12 col-md-6">
            <CInput
              type="password"
              autocomplete="new-password"
              v-model="password"
              :rules="[
                () => rules.requiredIf(password, itm?.id ? false : true),
                () => !password || rules.minLength(password, 8),
              ]"
              :label="$t('modules.admin.users.editDialog.inputs.password')">
              <template v-slot:prepend>
                <q-icon name="password" />
              </template>
            </CInput>
          </div>
          <div class="col-xs-12 col-md-6">
            <CInput
              type="password"
              autocomplete="new-password"
              v-model="passwordConfirmation"
              :rules="[
                () =>
                  rules.requiredIf(
                    passwordConfirmation,
                    password ? true : false
                  ),
                () => rules.match(password, passwordConfirmation),
              ]"
              :label="
                $t('modules.admin.users.editDialog.inputs.passwordConfirmation')
              ">
              <template v-slot:prepend>
                <q-icon name="password" />
              </template>
            </CInput>
          </div>
        </template>
      </div>
    </CForm>
  </CDialog>
</template>

<script setup lang="ts">
import { useDialogPluginComponent } from 'quasar';
import { onMounted, ref, watch } from 'vue';
import CDialog from 'src/components/CDialog.vue';
import { User } from 'src/models/core.models';
import rules from 'src/helpers/rules';
import fieldbookService from 'src/services/fieldbook.service';
import CForm from 'src/components/CForm.vue';
import { saveItem } from 'src/services';
import routes from 'src/services/routes';
import { showSuccess } from 'src/helpers';
import { useI18n } from 'vue-i18n';
import { useFieldbookStore } from 'src/stores/fieldbook.store';
import { EnumLoginType } from 'src/enums/core.enums';

const cDialogRef = ref<InstanceType<typeof CDialog>>();
watch(
  () => cDialogRef.value,
  (newVal) => (dialogRef.value = newVal?.dialogRef)
);

const { t } = useI18n();
const props = defineProps<{
  // ...your custom props
  user: User;
}>();

const loading = ref(false);
const itm = ref<User>();
const password = ref<string>();
const passwordConfirmation = ref<string>();
const userRoles = fieldbookService.getUserRoles();
const formRef = ref<InstanceType<typeof CForm>>();
const fieldbookStore = useFieldbookStore();
const appSettings = fieldbookStore.appSettings;

onMounted(() => {
  itm.value = { ...props.user } || {};
});

defineEmits([
  // REQUIRED; need to specify some events that your
  // component will emit through useDialogPluginComponent()
  ...useDialogPluginComponent.emits,
]);

const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } =
  useDialogPluginComponent();
// dialogRef      - Vue ref to be applied to QDialog
// onDialogHide   - Function to be used as handler for @hide on QDialog
// onDialogOK     - Function to call to settle dialog with "ok" outcome
//                    example: onDialogOK() - no payload
//                    example: onDialogOK({ /*...*/ }) - with payload
// onDialogCancel - Function to call to settle dialog with "cancel" outcome

// this is part of our example (so not required)
const onOKClick = async function () {
  // on OK, it is REQUIRED to
  // call onDialogOK (with optional payload)
  if (await formRef.value?.validate()) {
    try {
      loading.value = true;
      var keys = (
        await saveItem<{ id: number }>(
          routes.users.default,
          itm.value,
          null,
          false
        )
      )?.data;

      if (keys && password.value) {
        await saveItem(
          routes.users.password.setUserPassword,
          {
            password: password.value,
            passwordConfirmation: passwordConfirmation.value,
          },
          { userId: keys.id },
          false
        );
      }

      showSuccess(t('common.saveSuccess'));
      onDialogOK();
    } finally {
      loading.value = false;
    }
  }
  // or with payload: onDialogOK({ ... })
  // ...and it will also hide the dialog automatically
};
</script>
