<template>
  <CDialog
    :title="$t('modules.admin.fertilizers.editDialog.title')"
    icon="mdi-sack"
    v-model="visible"
    :loading="loading"
    :confirm-action="save"
    :cancel-action="() => close(false)"
    :width="800"
    @close="close(false)">
    <CForm ref="formRef" v-if="itm">
      <div class="row q-col-gutter-md">
        <div class="col-12">
          <CSectionTitle icon="info">
            {{ $t('modules.admin.fertilizers.editDialog.basicInfo') }}
          </CSectionTitle>
        </div>
        <div class="col-12">
          <CInput
            v-model="itm.name"
            :rules="[rules.required]"
            :label="$t('modules.admin.fertilizers.editDialog.inputs.name')"
            autofocus></CInput>
        </div>
        <div class="col-12">
          <CInput
            v-model="itm.nameEn"
            :label="
              $t('modules.admin.fertilizers.editDialog.inputs.nameEn')
            "></CInput>
        </div>
        <div class="col-12">
          <CSectionTitle icon="science">
            {{ $t('modules.admin.fertilizers.editDialog.ratio') }}
          </CSectionTitle>
        </div>
        <div class="col-12">
          <CSelect
            v-model="itm.type"
            option-value="id"
            option-label="name"
            :options="fertilizerTypes"
            :rules="[rules.required]"
            :label="
              $t('modules.admin.fertilizers.editDialog.inputs.type')
            "></CSelect>
        </div>
        <div class="col-xs-12 col-md-4">
          <CInput
            v-model="itm.ratioN"
            type="number"
            :rules="[(val: any) => rules.requiredIf(val, itm?.type == 'MINERAL')]"
            :label="
              $t('modules.admin.fertilizers.editDialog.inputs.ratioN')
            "></CInput>
        </div>
        <div class="col-xs-12 col-md-4">
          <CInput
            v-model="itm.ratioP"
            type="number"
            :rules="[(val: any) => rules.requiredIf(val, itm?.type == 'MINERAL')]"
            :label="
              $t('modules.admin.fertilizers.editDialog.inputs.ratioP')
            "></CInput>
        </div>
        <div class="col-xs-12 col-md-4">
          <CInput
            v-model="itm.ratioK"
            type="number"
            :rules="[(val: any) => rules.requiredIf(val, itm?.type == 'MINERAL')]"
            :label="
              $t('modules.admin.fertilizers.editDialog.inputs.ratioK')
            "></CInput>
        </div>
        <!--
        <CInput
          class="col-12"
          v-model="itm.brandName"
          label="Komercialno ime"></CInput>-->
      </div>
    </CForm>
  </CDialog>
</template>

<script setup lang="ts">
import { Fertilizer } from 'src/models/fieldbook.models';
import { ref } from 'vue';
import rules from 'src/helpers/rules';
import fieldbookService from 'src/services/fieldbook.service';
import { showSuccess } from 'src/helpers';
import CForm from 'src/components/CForm.vue';
import { DialogCloseEventArgs } from 'src/models/core.models';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();
const emit = defineEmits(['close']);
const itm = ref<Fertilizer>();
const formRef = ref<InstanceType<typeof CForm>>();
const loading = ref(false);
const fertilizerTypes = fieldbookService.getFertilizerTypes();

const open = async function (data?: Fertilizer) {
  itm.value = data ? { ...data } : { isGlobal: false };
  visible.value = true;
};

const save = async function () {
  if (itm.value && (await formRef.value?.validate())) {
    loading.value = true;
    await fieldbookService.saveFertilizer(itm.value);
    showSuccess(t('common.saveSuccess'));
    loading.value = false;
    close(true);
  }
};

const close = function (changes: boolean) {
  itm.value = undefined;

  visible.value = false;
  emit('close', <DialogCloseEventArgs>{ changes: changes });
};

const visible = ref(false);
defineExpose({ open, close });
</script>
