<template>
  <div class="fit">
    <CTable
      ref="fertilizersTableRef"
      :route="routes.stock.fertilizers.default"
      :columns="stockFertilizersColumns"
      :add-action="addFertilizerStock"
      :edit-action="editFertilizerStock"
      :delete-action="deleteFertilizerStock"
      row-key="id"></CTable>

    <FertilizerStockInputDialog
      ref="fertilizerDialogRef"
      @close="onFertilizerDialogClose"></FertilizerStockInputDialog>
  </div>
</template>

<script setup lang="ts">
import routes from 'src/services/routes';
import { computed, ref } from 'vue';
import { StockFertilizer } from 'src/models/fieldbook.models';
import { DialogCloseEventArgs } from 'src/models/core.models';
import CTable from 'src/components/CTable.vue';
import FertilizerStockInputDialog from './FertilizerStockInputDialog.vue';
import { deleteItem } from 'src/services';
import { QTableColumn } from 'quasar';
import { useI18n } from 'vue-i18n';
import { formatDate, formatDecimal, getLocalizedValue } from 'src/helpers';
import fieldbookService from 'src/services/fieldbook.service';

const { t } = useI18n();
const fertilizersTableRef = ref<InstanceType<typeof CTable>>();
const fertilizerDialogRef =
  ref<InstanceType<typeof FertilizerStockInputDialog>>();
const stockTypes = fieldbookService.getStockTypes();

const addFertilizerStock = function () {
  var dialog = fertilizerDialogRef.value;
  if (dialog) {
    dialog.open();
  }
};

const editFertilizerStock = function (data: StockFertilizer) {
  var dialog = fertilizerDialogRef.value;
  if (dialog) {
    dialog.open(data);
  }
};

const deleteFertilizerStock = async function (data: StockFertilizer) {
  if (
    data &&
    (await deleteItem(routes.stock.fertilizers.single, {
      stockFertilizerId: data.id,
    }))
  ) {
    refreshData();
  }
};

const onFertilizerDialogClose = function (data: DialogCloseEventArgs) {
  if (data.changes) {
    refreshData();
  }
};

const refreshData = async function () {
  fertilizersTableRef.value?.refreshData();
};

const stockFertilizersColumns = computed<QTableColumn<StockFertilizer>[]>(
  () => [
    {
      name: 'date',
      label: t('modules.fertilizers.columns.date'),
      field: 'date',
      format: (val) => formatDate(val) ?? '',
      sortable: true,
      style: 'width:150px;',
    },
    {
      name: 'fertilizerName',
      label: t('modules.fertilizers.columns.fertilizerName'),
      field: (row: StockFertilizer) =>
        getLocalizedValue(row.fertilizerName, row.fertilizerNameEn),
      sortable: true,
      align: 'left',
    },
    {
      name: 'stockName',
      label: t('modules.fertilizers.columns.stockName'),
      field: 'stockName',
      format: (val, row: StockFertilizer) => {
        if (row.taskId) {
          return t('modules.fertilizers.taskUsage');
        } else if (row.stockTypeId) {
          return stockTypes.value.find((y) => y.id == row.stockTypeId)?.name;
        } else {
          return val;
        }
      },
      sortable: true,
      align: 'left',
      style: 'width: 150px;',
    },
    {
      name: 'value',
      label: t('modules.fertilizers.columns.value'),
      field: 'value',
      format: (val, row) =>
        formatDecimal(val) + (row.valueUnit ? ` ${row.valueUnit}` : ''),
      sortable: true,
      align: 'right',
      style: 'width: 150px;',
    },
    {
      name: 'note',
      label: t('modules.fertilizers.columns.note'),
      field: 'note',
      sortable: true,
      align: 'left',
    },
  ]
);
</script>
