<template>
  <CDialog
    :title="$t('modules.fertilizers.editDialog.title')"
    icon="inventory_2"
    v-model="visible"
    :loading="loading"
    :confirm-action="save"
    :cancel-action="() => close(false)"
    :width="700"
    @close="close(false)">
    <CForm ref="formRef" v-if="itm">
      <div class="row q-col-gutter-md">
        <template v-if="canEditStockType">
          <div class="col-12">
            <COptionGroup
              v-model="itm.stockTypeId"
              :options="stockTypeOptions"
              inline></COptionGroup>
          </div>
        </template>
        <template v-if="!canEditStockType && itm.taskId">
          <div class="col-12">
            <CField
              :label="$t('modules.fertilizers.editDialog.inputs.stockType')"
              readonly>
              {{ $t('modules.fertilizers.taskUsage') }}
            </CField>
          </div>
        </template>
        <CDate
          class="col-12"
          v-model="itm.date"
          :rules="[rules.required]"
          :label="$t('modules.fertilizers.editDialog.inputs.date')"></CDate>
        <CSelect
          class="col-12"
          v-model="itm.fertilizerId"
          :route="routes.fertilizers.default"
          option-value="id"
          :option-label="(row: Fertilizer) => `${getLocalizedValue(row.name, row.nameEn)}`"
          :rules="[rules.required]"
          :label="
            $t('modules.fertilizers.editDialog.inputs.fertilizer')
          "></CSelect>
        <CInput
          class="col-xs-12 col-md-8"
          type="number"
          v-model="itm.value"
          :rules="[rules.required]"
          :label="$t('modules.fertilizers.editDialog.inputs.value')"></CInput>
        <CSelect
          class="col-xs-12 col-md-4"
          v-model="itm.valueUnitId"
          :options="units"
          option-value="id"
          option-label="name"
          :rules="[rules.required]"
          :label="$t('modules.fertilizers.editDialog.inputs.unit')"></CSelect>
        <CInput
          class="col-12"
          type="textarea"
          v-model="itm.note"
          :label="$t('modules.fertilizers.editDialog.inputs.note')"></CInput>
      </div>
    </CForm>
  </CDialog>
</template>

<script setup lang="ts">
import { StockFertilizer, Fertilizer, Unit } from 'src/models/fieldbook.models';
import { onBeforeMount, ref, watch } from 'vue';
import rules from 'src/helpers/rules';
import fieldbookService from 'src/services/fieldbook.service';
import { showError, showSuccess, getLocalizedValue } from 'src/helpers';
import CForm from 'src/components/CForm.vue';
import { DialogCloseEventArgs } from 'src/models/core.models';
import routes from 'src/services/routes';
import { QOptionGroupProps } from 'quasar';
import { getData } from 'src/services';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();
const emit = defineEmits(['close']);
const visible = ref(false);
const itm = ref<StockFertilizer>();
const canEditStockType = ref(true);
const formRef = ref<InstanceType<typeof CForm>>();
const loading = ref(false);
const stockTypes = fieldbookService.getStockTypes();
const stockTypeOptions = ref<QOptionGroupProps['options']>([]);
const units = ref<Unit[]>();

onBeforeMount(async () => {
  await loadData(false);
});

watch(
  () => itm.value?.fertilizerId,
  () => {
    loadData(true);
  }
);

const open = function (data?: StockFertilizer) {
  itm.value = data ? { ...data } : { date: new Date().toDate().toJSON() };
  console.log('data', data);

  canEditStockType.value = !data || !data.taskId ? true : false;
  if (canEditStockType.value) {
    stockTypeOptions.value = stockTypes.value.map((x) => {
      return { value: <number>x.id, label: <string>x.name };
    });
  }

  visible.value = true;
};

const save = async function () {
  if (itm.value && (await formRef.value?.validate())) {
    if (!itm.value.stockTypeId) {
      showError(t('modules.fertilizers.editDialog.selectStockType'));
      return;
    }
    loading.value = true;

    // Stock type (positive, negative, initial)
    itm.value.stockType = stockTypes.value.find(
      (x) => x.id == itm.value?.stockTypeId
    )?.type;

    await fieldbookService.saveStockFertilizer(itm.value);
    showSuccess(t('common.saveSuccess'));
    loading.value = false;
    close(true);
  }
};

async function loadData(reset: boolean) {
  var selected = itm.value;

  units.value =
    selected && selected.fertilizerId
      ? (
          await getData(routes.fertilizers.units, {
            fertilizerId: selected.fertilizerId,
          })
        ).data
      : [];

  if (reset && selected) {
    selected.valueUnitId =
      units.value.length == 1 ? units.value[0].id : undefined;
  }
}

const close = function (changes: boolean) {
  itm.value = undefined;

  visible.value = false;
  emit('close', <DialogCloseEventArgs>{ changes: changes });
};

defineExpose({ open, close });
</script>
