<template>
  <DefaultPageLayout>
    <CTable
      ref="tableRef"
      :route="routes.documents.default"
      :columns="documentsColumns"
      :add-action="add"
      :edit-action="edit"
      :delete-action="deleteDocument"
      :menu-actions="menuActions"
      row-key="id">
      <template
        v-slot:body-cell-taskId="{
          props,
        }: {
          props: {
            row: Document,
          },
          col: any,
        }">
        <CBtn
          v-if="props.row.taskId"
          round
          icon="search"
          @click="editTask(props.row)"></CBtn>
      </template>
    </CTable>
    <FileEditDialog
      ref="fileEditDialogRef"
      @close="onDialogClose"></FileEditDialog>
  </DefaultPageLayout>
</template>

<script setup lang="ts">
import routes from 'src/services/routes';
import { documentsColumns } from 'src/models/table.columns';
import { computed, defineAsyncComponent, ref } from 'vue';
import { Document } from 'src/models/fieldbook.models';
import CTable from 'src/components/CTable.vue';
import FileEditDialog from './FileEditDialog.vue';
import { DialogCloseEventArgs } from 'src/models/core.models';
import fieldbookService from 'src/services/fieldbook.service';
import { showCustomDialog } from 'src/helpers';
import { useI18n } from 'vue-i18n';
import { deleteItem } from 'src/services';

const tableRef = ref<InstanceType<typeof CTable>>();
const fileEditDialogRef = ref<InstanceType<typeof FileEditDialog>>();
const { t } = useI18n();

const menuActions = computed(() => [
  {
    icon: 'download',
    action: (row: Document) => downloadDocument(row),
    text: t('modules.documents.download'),
  },
]);

const add = function () {
  var d = fileEditDialogRef.value;
  if (d) {
    d.open();
  }
};

const edit = function (data: Document) {
  var d = fileEditDialogRef.value;
  if (d) {
    d.open(data);
  }
};

const deleteDocument = async function (data: Document) {
  if (
    data &&
    (await deleteItem(routes.documents.single, { documentId: data.id }))
  ) {
    refreshData();
  }
};

const editTask = async function (document: Document) {
  if (document?.taskId) {
    await showCustomDialog(
      defineAsyncComponent(
        () => import('src/pages/fieldbook/tasks/TaskEditDialog.vue')
      ),
      { taskId: document.taskId }
    );
  }
};

const downloadDocument = async function (data: Document) {
  if (data && data.fileId) {
    fieldbookService.getFile(data.fileId);
  }
};

const onDialogClose = function (data: DialogCloseEventArgs) {
  if (data.changes) {
    refreshData();
  }
};

const refreshData = function () {
  tableRef.value?.refreshData();
};
</script>
