<template>
  <CDialog
    :title="$t('modules.documents.editDialog.title')"
    icon="folder"
    v-model="visible"
    :loading="loading"
    :confirm-action="save"
    :cancel-action="() => close(false)"
    :width="600"
    @close="close(false)">
    <CForm ref="formRef" v-if="itm">
      <div class="row q-col-gutter-md">
        <div class="col-12">
          <CFile
            ref="uploaderRef"
            v-model="itm.fileId"
            :label="$t('modules.documents.editDialog.inputs.file')"></CFile>
        </div>
        <div class="col-12">
          <CSelect
            v-model="itm.documentTypeId"
            :route="routes.documents.types.default"
            option-value="id"
            :option-label="(row: DocumentType) => `${getLocalizedValue(row.name, row.nameEn)}`"
            :label="$t('modules.documents.editDialog.inputs.documentType')"
            :rules="[rules.required]"></CSelect>
        </div>
        <div class="col-12">
          <CInput
            class="col-12"
            type="textarea"
            v-model="itm.description"
            :label="
              $t('modules.documents.editDialog.inputs.description')
            "></CInput>
        </div>
      </div>
    </CForm>
  </CDialog>
</template>

<script setup lang="ts">
import { Document, DocumentType } from 'src/models/fieldbook.models';
import { getLocalizedValue } from 'src/helpers';
import { ref } from 'vue';
import rules from 'src/helpers/rules';
import { saveItem } from 'src/services';
import CForm from 'src/components/CForm.vue';
import { DialogCloseEventArgs } from 'src/models/core.models';
import CFile from 'src/components/CFile.vue';
import routes from 'src/services/routes';

const emit = defineEmits(['close']);
const itm = ref<Document>();
const formRef = ref<InstanceType<typeof CForm>>();
const uploaderRef = ref<InstanceType<typeof CFile>>();
const loading = ref(false);

const open = function (data?: Document) {
  itm.value = data ? { ...data } : {};
  visible.value = true;
};

const save = async function () {
  if (
    itm.value &&
    (await formRef.value?.validate()) &&
    (await uploaderRef.value?.upload())
  ) {
    await saveItem(routes.documents.default, itm.value);
    close(true);
  }
};

const close = function (changes: boolean) {
  itm.value = undefined;

  visible.value = false;
  emit('close', <DialogCloseEventArgs>{ changes: changes });
};

const visible = ref(false);
defineExpose({ open, close });
</script>
