// app global css in SCSS form

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $primary;
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $positive;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $warning;
}

html,
body {
  width: 100%;
  height: 100%;
}

.bodyBackground {
  background-color: rgba(238, 238, 238, 0.8);
}

body {
  background: url('/images/HLM_8176 PS.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-blend-mode: multiply;
}

/*
a:not(.q-item, .q-btn) {
  color: $secondary;
}

a:not(.q-item, .q-btn):hover {
  color: $orange;
  text-decoration: underline;
}*/

.c-layout-wrapper {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;
}

.sticky-container {
  z-index: 1000;
}

.bordered-container {
  width: calc(100% - 25px);
  height: calc(100% - 25px);
}
.bordered-container
/*,.bordered-container > div.absolute-full*/ {
  border-radius: 25px;
  overflow: hidden;
  transform: translateZ(0);
}
/*
.q-layout-container.bordered-container,
.q-layout-container.bordered-container .q-layout {
  border-radius: 25px;
  overflow: hidden;
}
*/
.border-radius {
  border-radius: 25px !important;
}

.border-radius,
.q-banner,
.q-card,
.q-field__control,
.q-btn:not(.q-btn--rounded, .q-btn-dropdown--current, .q-btn-dropdown__arrow-container),
.q-btn-group,
/*.q-menu,*/
.q-select,
.q-tabs,
.q-menu,
.q-table__container:not(.fullscreen),
.q-file__dnd,
.q-menu {
  border-radius: 25px !important;
}

.q-card,
.q-table__container {
  overflow: hidden;
}

.large-btn {
  height: 50px;
}

.q-page-container {
  background-color: rgba($grey-3, 0.8);
  /*height: calc(100vh - 50px);
  min-height: auto !important;
  overflow-y: auto;
  width: 100%;
  scroll-behavior: smooth;*/
}

.q-footer a {
  color: inherit;
  text-decoration: none;
}

.q-footer a:hover,
.q-footer a:active {
  color: $tertiary;
}

/*@media (max-width: $breakpoint-md-max) {
  .q-page {
    height: calc(100vh - 106px);
  }
}*/

.q-card {
  border-radius: 25px;
}

/* q-table */
.q-table tbody tr.selected td:after {
  background: rgba($color: $primary, $alpha: 0.15);
}
.sticky-table {
  /* height or max-height is important */
  height: 100%;

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th {
    background-color: white;
  }
  thead tr th {
    position: sticky;
    z-index: 1;
  } /* this will be the loading indicator */
  thead tr:last-child th {
    /* height of all previous header rows */
    top: 48px;
  }
  thead tr:first-child th {
    top: 0;
  }
  /* prevent scrolling behind sticky top row on focus */
  tbody {
    /* height of all previous header rows */
    scroll-margin-top: 48px;
  }
}

.sticky-column_first {
  thead tr:first-child th:first-child {
    /* bg color is important for th; just specify one */
    background-color: white;
    z-index: 1;
  }
  td:first-child {
    background-color: white;
  }
  th:first-child,
  td:first-child {
    position: sticky;
    left: 0;
    z-index: 0;
  }
}

.sticky-column_last {
  thead tr:last-child th:last-child {
    /* bg color is important for th; just specify one */
    background-color: white;
    z-index: 1;
  }
  th:last-child,
  td:last-child {
    position: sticky;
    right: 0;
    z-index: 0;
  }
}

.q-table__container:not(.q-markup-table) .q-table {
  thead tr,
  tbody tr,
  tbody td {
    height: 40px;
  }
  th,
  td {
    padding: 0px 10px;
  }
}

/* test
.q-table__container:not(.q-markup-table) .q-table tbody tr:nth-child(2n + 1) {
  background-color: $blue-grey-1 !important;
}*/
/* /test*/

.q-table__container:not(.q-markup-table).row-details
  .q-table
  tbody
  tr:nth-child(4n + 1),
.q-table__container:not(.q-markup-table):not(.row-details)
  .q-table
  tbody
  tr:nth-child(2n + 1),
.q-table__container:not(.q-markup-table).sticky-column_last.row-details
  .q-table
  tbody
  tr:nth-child(4n + 1)
  td:last-child,
.q-table__container:not(.q-markup-table).sticky-column_last:not(.row-details)
  .q-table
  tbody
  tr:nth-child(2n + 1)
  td:last-child {
  background-color: $grey-1;
}

.q-table__container:not(.q-markup-table).row-details
  .q-table
  tbody
  tr:nth-child(4n - 1),
.q-table__container:not(.q-markup-table):not(.row-details)
  .q-table
  tbody
  tr:nth-child(2n),
.q-table__container:not(.q-markup-table).sticky-column_last.row-details
  .q-table
  tbody
  tr:nth-child(4n - 1)
  td:last-child,
.q-table__container:not(.q-markup-table).sticky-column_last:not(.row-details)
  .q-table
  tbody
  tr:nth-child(2n)
  td:last-child {
  background-color: white;
}
/*.q-table__container:not(.q-markup-table).sticky-column_last:not(.row-details)
  .q-table
  tbody
  tr:nth-child(2n)
  td:last-child {
  background-color: red !important;
}*/
.q-table tbody tr:hover {
  cursor: pointer;
}
/* /q-table */

.q-stepper--flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  // 0 0 auto
  // 10000 1 0%
}
.q-stepper--flex .q-stepper__header {
  flex: 0 0 auto;
}
.q-stepper--flex .q-stepper__content {
  flex: 10000 1 0%;
}

.q-stepper--flex .q-stepper__content .q-stepper__step,
.q-stepper--flex .q-stepper__content .q-stepper__step-content,
.q-stepper--flex
  .q-stepper__content
  .q-stepper__step-content
  .q-stepper__step-inner {
  width: 100%;
  height: 100%;
}

.drawer-menu .q-item {
  border-radius: 25px;
  margin-top: 1px;
}
.drawer-menu .q-item.q-router-link--active {
  color: white;
  background: rgba($color: $grey-3, $alpha: 0.2);
  border-radius: 25px;
}
.q-focus-helper:hover {
  border-radius: 25px !important;
}

// Animations
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
