// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

//$primary: #acc926;
//$secondary: #444b5a;

$primary: #444b5a;
$secondary: #6f9c3d; // #acc926;

$accent: #9c27b0;

// #4695b9
$tertiary: #c08b57;
.text-tertiary {
  color: $tertiary;
}
.bg-tertiary {
  background-color: $tertiary;
}

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #6f9c3d; //#21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
