<template>
  <DefaultPageLayout>
    <CTable
      ref="tableRef"
      :route="routes.crops.default"
      :columns="cropsColumns"
      :add-action="add"
      :edit-action="edit"
      :delete-action="deleteCrop"
      row-key="id"></CTable>
    <CropsDialog ref="dialogRef" @close="onDialogClose"></CropsDialog>
  </DefaultPageLayout>
</template>

<script setup lang="ts">
import routes from 'src/services/routes';
import { cropsColumns } from 'src/models/table.columns';
import { ref } from 'vue';
import { Crop } from 'src/models/fieldbook.models';
import { DialogCloseEventArgs } from 'src/models/core.models';
import CropsDialog from './CropsDialog.vue';
import CTable from 'src/components/CTable.vue';
import { deleteItem } from 'src/services';

const tableRef = ref<InstanceType<typeof CTable>>();
const dialogRef = ref<InstanceType<typeof CropsDialog>>();

const add = function () {
  var dialog = dialogRef.value;
  if (dialog) {
    dialog.open();
  }
};

const edit = function (data: Crop) {
  var dialog = dialogRef.value;
  if (dialog) {
    dialog.open(data);
  }
};

const deleteCrop = async function (data: Crop) {
  if (data && (await deleteItem(routes.crops.single, { cropId: data.id }))) {
    refreshData();
  }
};

const onDialogClose = function (data: DialogCloseEventArgs) {
  if (data.changes) {
    refreshData();
  }
};

const refreshData = async function () {
  tableRef.value?.refreshData();
};
</script>
