<template>
  <CDialog
    :title="$t('modules.admin.taskTypes.editDialog.title')"
    icon="task"
    v-model="visible"
    :loading="loading"
    :confirm-action="save"
    :cancel-action="() => close(false)"
    :width="600"
    @close="close(false)">
    <CForm ref="formRef" v-if="itm">
      <div class="row q-col-gutter-md">
        <div class="col-12">
          <CInput
            v-model="itm.identifier"
            :rules="[rules.required]"
            :label="$t('modules.admin.taskTypes.editDialog.inputs.identifier')"
            autofocus></CInput>
        </div>
        <div class="col-12">
          <CInput
            v-model="itm.name"
            :rules="[rules.required]"
            :label="$t('modules.admin.taskTypes.editDialog.inputs.name')"
            autofocus></CInput>
        </div>
        <div class="col-12">
          <CInput
            v-model="itm.nameEn"
            :label="
              $t('modules.admin.taskTypes.editDialog.inputs.nameEn')
            "></CInput>
        </div>
        <div class="col-12">
          <CSelect
            v-model="itm.systemType"
            option-value="id"
            option-label="text"
            :options="systemTypes"
            :label="
              $t('modules.admin.taskTypes.editDialog.inputs.systemTypeName')
            "></CSelect>
        </div>
        <div class="col-12">
          <CSelect
            :label="
              $t('modules.admin.taskTypes.editDialog.inputs.cropStatusName')
            "
            v-model="itm.cropStatus"
            option-value="id"
            option-label="text"
            :options="cropStatuses"></CSelect>
        </div>
        <div class="col-12">
          <CCheckbox
            :label="
              $t('modules.admin.taskTypes.editDialog.inputs.cropStatusEditable')
            "
            v-model="itm.cropStatusEditable"></CCheckbox>
        </div>
        <div class="col-12">
          <CCheckbox
            v-model="itm.requiresTime"
            :label="
              $t('modules.admin.taskTypes.editDialog.inputs.requiresTime')
            "></CCheckbox>
        </div>
      </div>
    </CForm>
  </CDialog>
</template>

<script setup lang="ts">
import { TaskType } from 'src/models/fieldbook.models';
import { ref } from 'vue';
import rules from 'src/helpers/rules';
import fieldbookService from 'src/services/fieldbook.service';
import { showSuccess } from 'src/helpers';
import CForm from 'src/components/CForm.vue';
import { DialogCloseEventArgs } from 'src/models/core.models';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();
const emit = defineEmits(['close']);
const itm = ref<TaskType>();
const formRef = ref<InstanceType<typeof CForm>>();
const loading = ref(false);

const systemTypes = fieldbookService.getSystemTaskTypes();
const cropStatuses = fieldbookService.getTaskTypeCropStatuses();

const open = async function (data?: TaskType) {
  itm.value = data ? { ...data } : {};
  visible.value = true;
};

const save = async function () {
  if (itm.value && (await formRef.value?.validate())) {
    loading.value = true;
    await fieldbookService.saveTaskType(itm.value);
    showSuccess(t('common.saveSuccess'));
    loading.value = false;
    close(true);
  }
};

const close = function (changes: boolean) {
  itm.value = undefined;

  visible.value = false;
  emit('close', <DialogCloseEventArgs>{ changes: changes });
};

const visible = ref(false);
defineExpose({ open, close });
</script>
