<template>
  <DefaultPageLayout>
    <CTable
      ref="tableRef"
      :rows="data"
      :columns="taskTypesColumns"
      :add-action="add"
      :edit-action="edit"
      :delete-action="deleteTaskType"
      :refresh-action="refreshData"
      row-key="id"></CTable>
    <TaskTypesDialog ref="dialogRef" @close="onDialogClose"></TaskTypesDialog>
  </DefaultPageLayout>
</template>

<script setup lang="ts">
import routes from 'src/services/routes';
import { computed, onBeforeMount, ref } from 'vue';
import { TaskType } from 'src/models/fieldbook.models';
import { DialogCloseEventArgs } from 'src/models/core.models';
import { deleteItem, getData } from 'src/services';
import { QTableColumn } from 'quasar';
import { useI18n } from 'vue-i18n';
import { formatBoolean } from 'src/helpers';
import TaskTypesDialog from './TaskTypesDialog.vue';
import CTable from 'src/components/CTable.vue';
import fieldbookService from 'src/services/fieldbook.service';

const { t } = useI18n();
const tableRef = ref<InstanceType<typeof CTable>>();
const dialogRef = ref<InstanceType<typeof TaskTypesDialog>>();
const data = ref<TaskType[]>([]);

const systemTypes = fieldbookService.getSystemTaskTypes();
const cropStatuses = fieldbookService.getTaskTypeCropStatuses();

onBeforeMount(() => {
  refreshData();
});

const add = function () {
  var dialog = dialogRef.value;
  if (dialog) {
    dialog.open();
  }
};

const edit = function (data: TaskType) {
  var dialog = dialogRef.value;
  if (dialog) {
    dialog.open(data);
  }
};

const deleteTaskType = async function (data: TaskType) {
  if (
    data &&
    (await deleteItem(routes.tasks.types.single, { taskTypeId: data.id }))
  ) {
    refreshData();
  }
};

const onDialogClose = function (data: DialogCloseEventArgs) {
  if (data.changes) {
    refreshData();
  }
};

const refreshData = async function () {
  data.value = (await getData<TaskType>(routes.tasks.types.default)).data;
};

const taskTypesColumns = computed<QTableColumn<TaskType>[]>(() => [
  {
    name: 'identifier',
    label: t('modules.admin.taskTypes.columns.identifier'),
    field: 'identifier',
    sortable: true,
    align: 'left',
  },
  {
    name: 'name',
    label: t('modules.admin.taskTypes.columns.name'),
    field: 'name',
    sortable: true,
    align: 'left',
  },
  {
    name: 'nameEn',
    label: t('modules.admin.taskTypes.columns.nameEn'),
    field: 'nameEn',
    sortable: true,
    align: 'left',
  },
  {
    name: 'systemTypeName',
    label: t('modules.admin.taskTypes.columns.systemTypeName'),
    field: (row: TaskType) => {
      return systemTypes.value.find((y) => y.id == row.systemType)?.text;
    },
    sortable: true,
    align: 'left',
    style: 'width: 200px;',
  },
  {
    name: 'cropStatusName',
    label: t('modules.admin.taskTypes.columns.cropStatusName'),
    field: (row: TaskType) => {
      return cropStatuses.value.find((y) => y.id == row.cropStatus)?.text;
    },
    sortable: true,
    align: 'left',
    style: 'width: 200px;',
  },
  {
    name: 'cropStatusEditable',
    label: t('modules.admin.taskTypes.columns.cropStatusEditable'),
    field: 'cropStatusEditable',
    format: (data) => formatBoolean(data) ?? '',
    sortable: true,
    align: 'left',
  },
  {
    name: 'requiresTime',
    label: t('modules.admin.taskTypes.columns.requiresTime'),
    field: 'requiresTime',
    format: (data) => formatBoolean(data) ?? '',
    sortable: true,
    align: 'left',
  },
]);
</script>
