<template>
  <div class="c-layout-wrapper row items-center justify-center relative">
    <!--lHh lpR lFf -->
    <q-layout view="lHh Lpr lFf" :container="isContainer" :class="containerCss">
      <q-header class="bg-white text-black">
        <q-toolbar>
          <q-btn
            flat
            dense
            round
            @click="toggleLeftDrawer"
            aria-label="Menu"
            icon="menu" />

          <q-breadcrumbs
            v-if="!$q.platform.is.mobile"
            class="q-ml-sm text-primary"
            active-color="secondary"
            style="font-size: 21px">
            <template v-for="(matched, idx) in $route.matched" :key="idx">
              <q-breadcrumbs-el
                v-if="
                  matched.meta &&
                  (matched.meta.title || matched.meta.titleTranslation)
                "
                :label="
                  matched.meta?.titleTranslation
                    ? $t(matched.meta?.titleTranslation)
                    : matched.meta?.title
                "
                :to="
                  idx == $route.matched.length - 1 ? undefined : matched.path
                "></q-breadcrumbs-el>
            </template>
          </q-breadcrumbs>
          <q-space />

          <div class="q-gutter-sm row items-center no-wrap">
            <q-select
              class="language-switcher"
              v-model="locale"
              :options="localeOptions"
              dense
              rounded
              borderless
              emit-value
              map-options />

            <CBtn
              round
              dense
              flat
              :icon="fullscreenIcon"
              @click="toggleFullscreen"
              v-if="$q.screen.gt.sm"></CBtn>

            <CBtn
              round
              dense
              flat
              icon="person"
              padding="xs sm"
              :label="authStore.userDisplayname">
              <q-popup-proxy
                class="border-radius bg-secondary text-white"
                :offset="[0, 10]"
                transition-show="flip-up"
                transition-hide="flip-down">
                <div style="width: 100%; width: 350px" class="q-pa-md">
                  <div class="row items-center no-wrap">
                    <div>
                      <q-avatar
                        icon="person"
                        color="white"
                        text-color="primary"
                        size="48px"
                        font-size="32px"
                        class="q-mr-md" />
                    </div>
                    <div class="ellipsis">
                      <div class="ellipsis text-h5 text-no-wrap">
                        {{ authStore.userDisplayname }}
                        <CTooltip>{{ authStore.userDisplayname }}</CTooltip>
                      </div>
                      <div class="ellipsis text-caption text-no-wrap">
                        {{ authStore.user?.email }}
                        <CTooltip>{{ authStore.user?.email }}</CTooltip>
                      </div>
                    </div>
                  </div>
                  <q-separator dark class="q-my-md"></q-separator>

                  <div class="full-width q-gutter-md">
                    <CBtn
                      v-if="fieldbookStore.farm"
                      color="primary"
                      class="full-width border-radius"
                      :label="$t('adminLayout.drawer.fieldbook')"
                      icon="apps"
                      v-close-popup
                      to="/" />
                    <CBtn
                      color="negative"
                      class="full-width border-radius"
                      :label="$t('logout')"
                      icon="logout"
                      v-close-popup
                      @click="logout" />
                  </div>
                </div>
              </q-popup-proxy>
            </CBtn>
          </div>
        </q-toolbar>
        <!--<q-separator dark></q-separator>-->
      </q-header>

      <q-drawer
        style="z-index: 10"
        v-model="leftDrawerOpen"
        show-if-above
        side="left"
        class="bg-secondary">
        <!-- drawer content -->
        <div class="column fit text-white">
          <div class="col-auto text-center">
            <template
              v-if="appSettings.appEnvironment == EnumAppEnvironment.FARMTOPIA">
              <a href="https://farmtopia.eu/" target="_blank">
                <img
                  style="height: 48px"
                  class="q-mt-md"
                  src="images/farmtopia-logo-text.png"
                  alt="" />
              </a>
            </template>
            <template v-else>
              <a href="https://farmtopia.eu/" target="_blank">
                <img
                  style="height: 48px"
                  class="q-mt-md"
                  src="~assets/ITC_DIH_logo_only_300px.png"
                  alt="" />
              </a>
            </template>
            <div class="text-center text-h6">
              {{ $t('title') }}
            </div>
            <div class="text-subtitle2">
              {{ $t('admin.administration') }}
            </div>
          </div>

          <div class="col text-white">
            <q-scroll-area class="fit">
              <CList class="drawer-menu">
                <template v-for="item in menuItems" :key="item.text">
                  <template v-if="item.group != null">
                    <q-separator dark class="q-my-md" inset></q-separator>
                    <q-item-label
                      v-if="item.group != ''"
                      header
                      class="text-weight-bold text-uppercase text-white">
                      {{ item.group }}
                    </q-item-label>
                  </template>
                  <template v-if="item.children && item.children.length > 0">
                    <q-expansion-item
                      :content-inset-level="0.5"
                      :icon="item.icon"
                      class="text-white q-mx-sm"
                      expand-icon-class="text-white"
                      :default-opened="item.expanded"
                      :label="
                        item.translation ? $t(item.translation) : item.text
                      ">
                      <template v-slot:header>
                        <q-item-section avatar>
                          <CIcon color="primary" :name="item.icon" />
                        </q-item-section>
                        <q-item-section>
                          <q-item-label>
                            {{
                              item.translation
                                ? $t(item.translation)
                                : item.text
                            }}
                          </q-item-label>
                        </q-item-section>
                        <q-item-section
                          side
                          v-if="(item.badge?.value ?? 0) > 0">
                          <q-badge color="red">{{ item.badge }}</q-badge>
                        </q-item-section>
                      </template>
                      <q-item
                        dense
                        v-for="cItm in item.children"
                        :key="cItm.path"
                        :to="cItm.path"
                        exact
                        v-ripple
                        clickable>
                        <q-item-section
                          avatar
                          v-if="cItm.icon"></q-item-section>
                        <q-item-section>
                          <q-item-label>
                            <CIcon
                              color="primary"
                              name="arrow_right"
                              class="q-mr-sm" />
                            {{
                              cItm.translation
                                ? $t(cItm.translation)
                                : cItm.text
                            }}
                          </q-item-label>
                        </q-item-section>
                        <q-item-section
                          side
                          v-if="(cItm.badge?.value ?? 0) > 0">
                          <q-badge color="red">{{ cItm.badge }}</q-badge>
                        </q-item-section>
                      </q-item>
                    </q-expansion-item>
                  </template>
                  <template v-else>
                    <q-item :to="item.path" v-ripple clickable class="q-mx-sm">
                      <q-item-section avatar>
                        <CIcon color="primary" :name="item.icon" _size="32px" />
                      </q-item-section>
                      <q-item-section>
                        <q-item-label>
                          {{
                            item.translation ? $t(item.translation) : item.text
                          }}
                        </q-item-label>
                      </q-item-section>
                      <q-item-section side v-if="(item.badge?.value ?? 0) > 0">
                        <q-badge color="red">{{ item.badge }}</q-badge>
                      </q-item-section>
                    </q-item>
                  </template>
                </template>
              </CList>
            </q-scroll-area>
          </div>
        </div>
      </q-drawer>

      <q-page-container>
        <transition
          appear
          enter-active-class="animated fadeIn"
          leave-active-class="animated fadeOut"
          mode="out-in">
          <slot></slot>
        </transition>
      </q-page-container>

      <!--<q-footer
        style="z-index: 9"
        class="bg-primary text-white text-caption row justify-center"
      >
        <a
          href="https://itc-cluster.com/"
          target="_blank"
          class="ellipsis text-no-wrap"
        >
          © 2023 ITC - Innovation Technology Cluster.
          {{ $t('allRightsReserved') }}.
        </a>
      </q-footer>-->
    </q-layout>
  </div>
</template>

<style scoped lang="scss">
.language-switcher:deep(.q-field__native span),
.language-switcher:deep(.q-field__append i) {
  color: black;
}
</style>

<script setup lang="ts">
import { useQuasar } from 'quasar';
import { useAuthStore } from 'src/stores/auth.store';
import { computed, ref } from 'vue';
import { useRouter } from 'vue-router';
import { useI18n } from 'vue-i18n';
import { localeOptions } from 'src/i18n/languageSwitcher';
import { MenuItem } from 'src/models/core.models';
import { useFieldbookStore } from 'src/stores/fieldbook.store';
import { EnumAppEnvironment } from 'src/enums/core.enums';

const $q = useQuasar();
const router = useRouter();
const authStore = useAuthStore();
const { locale } = useI18n({ useScope: 'global' });
const leftDrawerOpen = ref(false);
const fieldbookStore = useFieldbookStore();
const appSettings = fieldbookStore.appSettings;

const menuItems = computed<MenuItem[]>(() => {
  var items: MenuItem[] = [
    {
      icon: 'home',
      path: '/admin',
      translation: 'adminLayout.drawer.administration',
      group: '',
    },
    {
      icon: 'mdi-sack',
      path: '/admin/fertilizers',
      translation: 'adminLayout.drawer.fertilizers',
    },
    {
      icon: 'science',
      path: '/admin/pesticides',
      translation: 'adminLayout.drawer.pesticides',
    },
    {
      icon: 'mdi-sprout',
      path: '/admin/crops',
      translation: 'adminLayout.drawer.crops',
    },
    {
      icon: 'straighten',
      path: '/admin/units',
      translation: 'adminLayout.drawer.units',
    },
    {
      icon: 'assignment_late',
      path: '/admin/measure-types',
      translation: 'adminLayout.drawer.measureTypes',
    },
    {
      icon: 'folder_copy',
      path: '/admin/document-types',
      translation: 'adminLayout.drawer.documentTypes',
    },
    {
      icon: 'mdi-land-fields',
      path: '/admin/field-types',
      translation: 'adminLayout.drawer.fieldTypes',
    },
    {
      icon: 'task',
      path: '/admin/task-types',
      translation: 'adminLayout.drawer.taskTypes',
    },
    {
      group: '',
      icon: 'person',
      translation: 'adminLayout.drawer.users',
      path: '/admin/users',
    },
    {
      icon: 'settings',
      translation: 'adminLayout.drawer.settings',
      path: '/admin/settings',
    },
  ];

  if (fieldbookStore.farm) {
    items.push({
      id: 'userHome',
      icon: 'mdi-notebook-edit',
      translation: 'adminLayout.drawer.fieldbook',
      path: '/',
    });
  }

  return items;
});

const isContainer = computed(() => {
  return $q.screen.gt.sm;
});

const containerCss = computed(() => {
  return isContainer.value ? ['bordered-container', 'shadow-10'] : [];
});

const fullscreenIcon = computed(() =>
  $q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'
);

const toggleFullscreen = function () {
  $q.fullscreen.toggle();
};

const toggleLeftDrawer = function () {
  leftDrawerOpen.value = !leftDrawerOpen.value;
};

const logout = async () => {
  await authStore.logout();
  router.push({ name: 'login' });
};
</script>
