<template>
  <q-layout>
    <q-page-container>
      <slot></slot>
    </q-page-container>
  </q-layout>
</template>
<style scoped lang="scss">
.q-page-container:deep(.q-page) {
  height: 100vh;
  height: 100dvh;
}
</style>
