<template>
  <q-page :style-fn="calcHeight">
    <div class="fit column overflow-auto no-wrap" :class="{ _fit: props.fit }">
      <div class="col-auto" v-if="$slots.header">
        <slot name="header"></slot>
      </div>
      <div class="col-auto q-mt-md q-px-md" v-if="$slots.top">
        <slot name="top"></slot>
      </div>
      <div
        class="col full-width q-mt-md q-px-md q-mb-md overflow-auto"
        style="min-height: 400px">
        <slot></slot>
      </div>
    </div>
    <div v-if="$slots.after" class="q-mt-md q-px-md q-mb-md overflow-auto">
      <slot name="after"></slot>
    </div>
  </q-page>
</template>
<style scoped lang="scss">
.q-page {
  //height: 100vh;
  width: 100%;
  overflow: auto;
}
</style>
<script setup lang="ts">
import { useRoute } from 'vue-router';

const props = withDefaults(
  defineProps<{
    showTitle?: boolean;
    title?: string;
    fit?: boolean;
  }>(),
  { showTitle: true }
);

const route = useRoute();
/*const icon = <string | undefined>route.meta?.icon;
const titleVal = computed(() => {
  return props.title !== undefined
    ? props.title
    : <string | undefined>route.meta?.title;
});*/

const calcHeight = function (offset: number, height: number) {
  return { height: height - offset + 'px' };
};
</script>
