<template>
  <div class="c-layout-wrapper row items-center justify-center relative">
    <!--lHh lpR lFf -->
    <q-layout view="lHh Lpr lFf" :container="isContainer" :class="containerCss">
      <q-header class="bg-white text-black">
        <q-toolbar>
          <!--<q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />-->

          <q-btn
            round
            dense
            icon="menu"
            color="secondary"
            text-color="white"
            @click="toggleLeftDrawer"
            unelevated />

          <q-breadcrumbs
            v-if="!$q.platform.is.mobile"
            class="q-ml-sm text-primary"
            active-color="secondary"
            style="font-size: 21px">
            <template v-for="(matched, idx) in $route.matched" :key="idx">
              <q-breadcrumbs-el
                v-if="
                  matched.meta &&
                  (matched.meta.title || matched.meta.titleTranslation)
                "
                :label="
                  matched.meta?.titleTranslation
                    ? $t(matched.meta?.titleTranslation)
                    : matched.meta?.title
                "
                :to="
                  idx == $route.matched.length - 1 ? undefined : matched.path
                "></q-breadcrumbs-el>
            </template>
          </q-breadcrumbs>
          <q-space />

          <!--
          <template v-if="!$q.platform.is.mobile && $q.screen.gt.sm">
            <q-space />
            <q-tabs shrink inline-label active-color="secondary">
              <q-route-tab to="/" label="GERK" icon="grass" class="q-px-lg" />
              <q-route-tab
                to="/tasks"
                label="Opravila"
                icon="agriculture"
                class="q-px-lg"
              />
              <q-route-tab label="Poročila" icon="summarize" class="q-px-lg" />
            </q-tabs>
            <q-btn-dropdown stretch flat label="Več ..." class="q-px-lg">
              <q-list>
                <q-item-label header>Folders</q-item-label>
                <q-item
                  v-for="n in 3"
                  :key="`x.${n}`"
                  clickable
                  v-close-popup
                  tabindex="0"
                >
                  <q-item-section avatar>
                    <q-avatar
                      icon="folder"
                      color="secondary"
                      text-color="white"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Photos</q-item-label>
                    <q-item-label caption>February 22, 2016</q-item-label>
                  </q-item-section>
                  <q-item-section side>
                    <q-icon name="info" />
                  </q-item-section>
                </q-item>
                <q-separator inset spaced />
                <q-item-label header>Files</q-item-label>
                <q-item
                  v-for="n in 3"
                  :key="`y.${n}`"
                  clickable
                  v-close-popup
                  tabindex="0"
                >
                  <q-item-section avatar>
                    <q-avatar
                      icon="assignment"
                      color="primary"
                      text-color="white"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Vacation</q-item-label>
                    <q-item-label caption>February 22, 2016</q-item-label>
                  </q-item-section>
                  <q-item-section side>
                    <q-icon name="info" />
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
            <q-space />
          </template>-->

          <q-select
            class="language-switcher"
            v-model="locale"
            :options="localeOptions"
            dense
            rounded
            borderless
            emit-value
            map-options />

          <CBtn
            round
            dense
            flat
            :icon="fullscreenIcon"
            @click="toggleFullscreen"
            v-if="$q.screen.gt.sm"></CBtn>

          <CBtn
            round
            dense
            icon="person"
            padding="xs sm"
            :label="authStore.userDisplayname">
            <q-popup-proxy
              class="border-radius bg-secondary text-white"
              :offset="[0, 15]"
              transition-show="flip-up"
              transition-hide="flip-down">
              <div style="width: 100%; width: 350px" class="q-pa-md">
                <div class="row items-center no-wrap">
                  <div>
                    <q-avatar
                      icon="person"
                      color="white"
                      text-color="primary"
                      size="48px"
                      font-size="32px"
                      class="q-mr-md" />
                  </div>
                  <div class="ellipsis">
                    <div class="ellipsis text-h5 text-no-wrap">
                      {{ authStore.userDisplayname }}
                      <CTooltip>{{ authStore.userDisplayname }}</CTooltip>
                    </div>
                    <div class="ellipsis text-caption text-no-wrap">
                      {{ authStore.user?.email }}
                      <CTooltip>{{ authStore.user?.email }}</CTooltip>
                    </div>
                  </div>
                </div>
                <q-separator dark class="q-my-md"></q-separator>

                <div class="full-width q-gutter-md">
                  <CBtn
                    v-if="authStore.user?.role == EnumRole.Admin"
                    color="primary"
                    class="full-width border-radius"
                    :label="$t('mainLayout.drawer.administration')"
                    icon="admin_panel_settings"
                    v-close-popup
                    to="/admin"></CBtn>
                  <CBtn
                    color="negative"
                    class="full-width border-radius"
                    :label="$t('logout')"
                    icon="logout"
                    v-close-popup
                    @click="logout" />
                </div>
              </div>
            </q-popup-proxy>
          </CBtn>
        </q-toolbar>
      </q-header>

      <q-drawer
        style="z-index: 10"
        v-model="leftDrawerOpen"
        show-if-above
        side="left"
        class="bg-secondary">
        <!-- drawer content -->
        <div class="column fit text-white">
          <div class="col-auto text-center">
            <template
              v-if="appSettings.appEnvironment == EnumAppEnvironment.FARMTOPIA">
              <a href="https://farmtopia.eu/" target="_blank">
                <img
                  style="height: 48px"
                  class="q-mt-md"
                  src="images/farmtopia-logo-text.png"
                  alt="" />
              </a>
            </template>
            <template v-else>
              <a href="https://farmtopia.eu/" target="_blank">
                <img
                  style="height: 48px"
                  class="q-mt-md"
                  src="~assets/ITC_DIH_logo_only_300px.png"
                  alt="" />
              </a>
            </template>
            <div class="text-center text-h6">
              {{ $t('title') }}
            </div>
            <div class="text-subtitle2" v-if="farm">
              {{ farm.identifier }} {{ farm.name }}
            </div>
          </div>

          <div class="col text-white">
            <q-scroll-area class="fit">
              <CList class="drawer-menu">
                <template v-for="item in menuItems" :key="item.text">
                  <template v-if="item.group != null">
                    <q-separator dark class="q-my-md" inset></q-separator>
                    <q-item-label
                      v-if="item.group != ''"
                      header
                      class="text-weight-bold text-uppercase text-white">
                      {{ item.group }}
                    </q-item-label>
                  </template>
                  <template v-if="item.children && item.children.length > 0">
                    <q-expansion-item
                      :content-inset-level="0.5"
                      :icon="item.icon"
                      class="text-white q-mx-sm"
                      expand-icon-class="text-white"
                      :default-opened="item.expanded"
                      :label="
                        item.translation ? $t(item.translation) : item.text
                      ">
                      <template v-slot:header>
                        <q-item-section avatar>
                          <CIcon color="primary" :name="item.icon" />
                        </q-item-section>
                        <q-item-section>
                          <q-item-label>
                            {{
                              item.translation
                                ? $t(item.translation)
                                : item.text
                            }}
                          </q-item-label>
                        </q-item-section>
                        <q-item-section
                          side
                          v-if="(item.badge?.value ?? 0) > 0">
                          <q-badge color="red">{{ item.badge }}</q-badge>
                        </q-item-section>
                      </template>
                      <q-item
                        dense
                        v-for="cItm in item.children"
                        :key="cItm.path"
                        :to="cItm.path"
                        exact
                        v-ripple
                        clickable>
                        <q-item-section
                          avatar
                          v-if="cItm.icon"></q-item-section>
                        <q-item-section>
                          <q-item-label>
                            <CIcon
                              color="primary"
                              name="arrow_right"
                              class="q-mr-sm" />
                            {{
                              cItm.translation
                                ? $t(cItm.translation)
                                : cItm.text
                            }}
                          </q-item-label>
                        </q-item-section>
                        <q-item-section
                          side
                          v-if="(cItm.badge?.value ?? 0) > 0">
                          <q-badge color="red">{{ cItm.badge }}</q-badge>
                        </q-item-section>
                      </q-item>
                    </q-expansion-item>
                  </template>
                  <template v-else>
                    <q-item :to="item.path" v-ripple clickable class="q-mx-sm">
                      <q-item-section avatar>
                        <CIcon color="primary" :name="item.icon" _size="32px" />
                      </q-item-section>
                      <q-item-section>
                        <q-item-label>
                          {{
                            item.translation ? $t(item.translation) : item.text
                          }}
                        </q-item-label>
                      </q-item-section>
                      <q-item-section side v-if="(item.badge?.value ?? 0) > 0">
                        <q-badge color="red">{{ item.badge }}</q-badge>
                      </q-item-section>
                    </q-item>
                  </template>
                </template>
              </CList>
              <div class="text-center q-mx-sm">
                <q-separator dark class="q-my-md" inset></q-separator>
                <div class="row items-center justify-center">
                  <div>
                    <CToggle
                      v-model="locationEnabled"
                      icon="my_location"
                      :label="$t('mainLayout.drawer.useMyLocation')"
                      class="q-mb-none"></CToggle>
                  </div>
                  <div class="q-ml-sm">
                    <CBtn
                      round
                      icon="travel_explore"
                      @click="showMyLocationDialog"
                      :disable="!locationEnabled">
                      <CTooltip>
                        {{ $t('mainLayout.drawer.showMyLocationTooltip') }}
                      </CTooltip>
                    </CBtn>
                  </div>
                </div>
              </div>
            </q-scroll-area>
          </div>
        </div>
      </q-drawer>

      <q-page-container>
        <transition
          appear
          enter-active-class="animated fadeIn"
          leave-active-class="animated fadeOut"
          mode="out-in">
          <slot></slot>
        </transition>
      </q-page-container>

      <!--<q-footer
        v-if="$q.platform.is.mobile || $q.screen.lt.md"
        class="bg-primary text-white shadow-1"
        elevated>
        <q-tabs v-model="tab" dense shrink align="justify">
          <q-route-tab to="/" label="GERK" icon="grass" />
          <q-route-tab to="/tasks" label="Opravila" icon="agriculture" />
          <q-route-tab label="Več" icon="more_horiz" @click="openDrawer" />
        </q-tabs>
      </q-footer>-->
    </q-layout>
  </div>
</template>

<style scoped lang="scss">
.language-switcher:deep(.q-field__native span),
.language-switcher:deep(.q-field__append i) {
  color: black;
}
</style>

<script setup lang="ts">
import { useQuasar } from 'quasar';
import { ref, computed, onMounted, defineAsyncComponent } from 'vue';
import { useAuthStore } from 'src/stores/auth.store';
import { useFieldbookStore } from 'src/stores/fieldbook.store';
import { useRouter } from 'vue-router';
import { EnumAppEnvironment, EnumRole } from 'src/enums/core.enums';
import { useI18n } from 'vue-i18n';
import { localeOptions } from 'src/i18n/languageSwitcher';
import { MenuItem } from 'src/models/core.models';
import { showCustomDialog } from 'src/helpers';
import { storeToRefs } from 'pinia';

const $q = useQuasar();
const leftDrawerOpen = ref(false);
const authStore = useAuthStore();
const router = useRouter();
const menuItems = ref<MenuItem[]>();
const fieldbookStore = useFieldbookStore();
const farm = fieldbookStore.farm;
const { locale } = useI18n({ useScope: 'global' });
const { locationEnabled } = storeToRefs(fieldbookStore);
const appSettings = fieldbookStore.appSettings;

onMounted(async () => {
  /*var reportsItems: MenuItem[] = reports.map((x) => {
    return { text: x.name, path: `/reports/${x.slug}` };
  });
  reportsItems.push({ text: 'Vsa poročila...', path: '/reports' });*/

  var mItms: MenuItem[] = [
    {
      icon: 'mdi-home-silo-outline',
      translation: 'mainLayout.drawer.farm',
      path: '/farm',
      group: '',
    },
    {
      icon: 'mdi-land-fields',
      translation: 'mainLayout.drawer.fields',
      path: '/',
    },
    {
      icon: 'compost',
      translation: 'mainLayout.drawer.cropRotation',
      children: [
        {
          translation: 'mainLayout.drawer.cropRotation',
          path: '/crop-rotation',
        },
        {
          translation: 'mainLayout.drawer.cropRotationSum',
          path: '/crop-rotation/sum',
        },
      ],
    },
    {
      icon: 'mdi-calendar-check',
      translation: 'mainLayout.drawer.log',
      path: '/',
      expanded: true,
      children: [
        {
          translation: 'mainLayout.drawer.tasks',
          path: '/tasks',
        },
      ],
    },
    {
      icon: 'mdi-sack',
      translation: 'mainLayout.drawer.fertilizers',
      children: [
        {
          translation: 'mainLayout.drawer.fertilizersList',
          path: '/fertilizers',
        },
        {
          translation: 'mainLayout.drawer.stockControl',
          path: '/fertilizers/stock',
        },
        {
          translation: 'mainLayout.drawer.stockStatus',
          path: '/fertilizers/stock-status',
        },
      ],
    },
    {
      icon: 'science',
      translation: 'mainLayout.drawer.pesticides',
      children: [
        {
          translation: 'mainLayout.drawer.pesticidesList',
          path: '/pesticides',
        },
        {
          translation: 'mainLayout.drawer.stockControl',
          path: '/pesticides/stock',
        },
        {
          translation: 'mainLayout.drawer.stockStatus',
          path: '/pesticides/stock-status',
        },
      ],
    },
    {
      icon: 'agriculture',
      translation: 'mainLayout.drawer.machinery',
      path: '/machinery',
    },
    {
      icon: 'folder',
      translation: 'mainLayout.drawer.documents',
      path: '/files',
    },
    {
      icon: 'analytics',
      translation: 'mainLayout.drawer.reports',
      path: '/reports',
    },
    {
      icon: 'settings',
      translation: 'mainLayout.drawer.settings',
      path: '/settings',
      group: '',
    },
  ];

  if (authStore.user?.role == EnumRole.Admin) {
    mItms.push({
      icon: 'admin_panel_settings',
      translation: 'mainLayout.drawer.administration',
      path: '/admin',
    });
  }
  menuItems.value = mItms;
});

const isContainer = computed(() => {
  return $q.screen.gt.sm;
});

const containerCss = computed(() => {
  return isContainer.value ? ['bordered-container', 'shadow-10'] : [];
});

const fullscreenIcon = computed(() =>
  $q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'
);

const toggleFullscreen = function () {
  $q.fullscreen.toggle();
};

const toggleLeftDrawer = function () {
  leftDrawerOpen.value = !leftDrawerOpen.value;
};

const showMyLocationDialog = function () {
  showCustomDialog(
    defineAsyncComponent(() => import('src/dialogs/MyLocationDialog.vue'))
  );
};

/*const openDrawer = function () {
  leftDrawerOpen.value = true;
};*/

const logout = async () => {
  await authStore.logout();
  router.push({ name: 'login' });
};
</script>
