<template>
  <CDialog
    title="Kmetija"
    icon="mdi-home-silo-outline"
    v-model="visible"
    :loading="loading"
    :confirm-action="save"
    :cancel-action="() => close(false)"
    :width="600"
    @close="close(false)">
    <CForm ref="formRef" v-if="itm">
      <div class="row q-col-gutter-md">
        <CInput
          class="col-12"
          v-model="itm.identifier"
          :rules="[rules.required]"
          label="KMG-MID"
          autofocus></CInput>
        <CInput
          class="col-12"
          v-model="itm.name"
          :rules="[rules.required]"
          label="Naziv"></CInput>
        <CInput
          class="col-12"
          v-model="itm.address"
          :rules="[rules.required]"
          label="Naslov"></CInput>
        <CCheckbox
          class="col-12"
          v-model="itm.ecoFarm"
          :rules="[rules.required]"
          label="EKO kmetija"></CCheckbox>
      </div>
    </CForm>
  </CDialog>
</template>

<script setup lang="ts">
import { Farm } from 'src/models/fieldbook.models';
import { ref } from 'vue';
import rules from 'src/helpers/rules';
import CForm from 'src/components/CForm.vue';
import { DialogCloseEventArgs } from 'src/models/core.models';
import { saveItem } from 'src/services';
import routes from 'src/services/routes';

const emit = defineEmits(['close']);
const itm = ref<Farm>();
const formRef = ref<InstanceType<typeof CForm>>();
const loading = ref(false);

const open = async function (data?: Farm) {
  itm.value = data ? { ...data } : {};
  visible.value = true;
};

const save = async function () {
  if (itm.value && (await formRef.value?.validate())) {
    loading.value = true;
    await saveItem(routes.farms.default, itm.value);
    loading.value = false;
    close(true);
  }
};

const close = function (changes: boolean) {
  itm.value = undefined;

  visible.value = false;
  emit('close', <DialogCloseEventArgs>{ changes: changes });
};

const visible = ref(false);
defineExpose({ open, close });
</script>
