<template>
  <CDialog
    :title="$t('modules.farm.title')"
    icon="mdi-home-silo-outline"
    v-model="visible"
    :loading="loading"
    :confirm-action="save"
    :cancel-action="() => close(false)"
    :width="600"
    @close="close(false)">
    <CForm ref="formRef" v-if="itm">
      <div class="row q-col-gutter-md">
        <CField class="col-12" :label="$t('modules.farm.farmIdentifier')">
          {{ itm.identifier }}
        </CField>
        <CInput
          class="col-12"
          v-model="itm.name"
          :rules="[rules.required]"
          :label="$t('modules.farm.farmName')"
          autofocus></CInput>
        <CInput
          class="col-12"
          v-model="itm.owner"
          :label="$t('modules.farm.farmOwner')"
          autofocus></CInput>
        <CInput
          class="col-12"
          v-model="itm.address"
          :rules="[rules.required]"
          :label="$t('modules.farm.farmAddress')"></CInput>
        <CCheckbox
          class="col-12"
          v-model="itm.ecoFarm"
          :label="$t('modules.farm.ecoFarm')"></CCheckbox>
      </div>
    </CForm>
  </CDialog>
</template>

<script setup lang="ts">
import { Farm } from 'src/models/fieldbook.models';
import { ref } from 'vue';
import rules from 'src/helpers/rules';
import fieldbookService from 'src/services/fieldbook.service';
import { showSuccess } from 'src/helpers';
import CForm from 'src/components/CForm.vue';
import { DialogCloseEventArgs } from 'src/models/core.models';
import { useI18n } from 'vue-i18n';
import { getItem } from 'src/services';
import routes from 'src/services/routes';

const { t } = useI18n();
const emit = defineEmits(['close']);
const itm = ref<Farm>();
const formRef = ref<InstanceType<typeof CForm>>();
const loading = ref(false);

const open = async function (farmId: number) {
  itm.value = (
    await getItem<Farm>(routes.farms.single, { farmId: farmId })
  ).item;
  visible.value = true;
};

const save = async function () {
  if (itm.value && (await formRef.value?.validate())) {
    loading.value = true;
    await fieldbookService.saveFarm(itm.value);
    showSuccess(t('common.saveSuccess'));
    loading.value = false;
    close(true);
  }
};

const close = function (changes: boolean) {
  itm.value = undefined;

  visible.value = false;
  emit('close', <DialogCloseEventArgs>{ changes: changes });
};

const visible = ref(false);
defineExpose({ open, close });
</script>
