<template>
  <CDialog
    ref="cDialogRef"
    icon="task_alt"
    :loading="loading"
    height="100%"
    @close="close(false)">
    <q-stepper
      v-if="itm"
      class="fit no-shadow q-stepper--flex"
      :contracted="$q.screen.lt.md"
      v-model="step"
      keep-alive
      ref="stepper"
      color="secondary"
      done-color="green-7"
      animated>
      <q-step
        :name="steps.Basic"
        :title="$t('modules.farm.editDialog.title')"
        icon="mdi-home-silo-outline"
        :done="step > steps.Basic">
        <div class="fit overflow-auto">
          <CForm ref="basicFormRef">
            <div>
              <CSectionTitle icon="info">
                {{ $t('modules.farm.editDialog.basicInfo') }}
              </CSectionTitle>
            </div>

            <div class="text-caption q-mt-sm q-mb-md">
              {{ $t('modules.farm.editDialog.basicInfoDescription') }}
            </div>
            <div class="row q-col-gutter-md">
              <div class="col-12">
                <CInput
                  v-model="itm.identifier"
                  :label="$t('modules.farm.editDialog.inputs.farmIdentifier')"
                  :rules="[rules.required]"></CInput>
              </div>
              <div class="col-12">
                <CInput
                  v-model="itm.name"
                  :label="$t('modules.farm.editDialog.inputs.farmName')"
                  :rules="[rules.required]"></CInput>
              </div>
              <div class="col-12">
                <CInput
                  v-model="itm.owner"
                  :label="
                    $t('modules.farm.editDialog.inputs.farmOwner')
                  "></CInput>
              </div>
              <div class="col-12">
                <CInput
                  v-model="itm.address"
                  :label="$t('modules.farm.editDialog.inputs.farmAddress')"
                  :rules="[rules.required]"></CInput>
              </div>
              <div class="col-xs-12 col-md-4">
                <CInput
                  v-model="itm.postCode"
                  :label="$t('modules.farm.editDialog.inputs.farmPostZipCode')"
                  :rules="[rules.required]"></CInput>
              </div>
              <div class="col-xs-12 col-md-8">
                <CInput
                  v-model="itm.city"
                  :label="$t('modules.farm.editDialog.inputs.farmCity')"
                  :rules="[rules.required]"></CInput>
              </div>
              <div class="col-12">
                <CCheckbox
                  class="col-12"
                  v-model="itm.ecoFarm"
                  :label="
                    $t('modules.farm.editDialog.inputs.ecoFarm')
                  "></CCheckbox>
              </div>
            </div>
          </CForm>
        </div>
      </q-step>

      <q-step
        class="fit"
        :name="steps.Misc"
        :title="$t('modules.farm.editDialog.location')"
        icon="pin_drop"
        :done="step > steps.Misc">
        <div class="fit column q-col-gutter-md">
          <div class="col-auto">
            <span class="text-caption">
              {{ $t('modules.farm.editDialog.selectLocationDescription') }}
            </span>
          </div>
          <div class="col">
            <CMap
              ref="mapRef"
              add-geocoder
              draw
              draw-mode="draw_point"
              @areaUpdated="onAreaUpdated"
              @loaded="onMapLoaded"></CMap>
          </div>
        </div>
      </q-step>
    </q-stepper>

    <template #actions>
      <div class="row full-width justify-between">
        <div class="col" style="max-width: 200px">
          <CBtn
            v-if="step > 1"
            flat
            color="primary"
            @click="previousStep"
            :label="$t('modules.taskEdit.previous')"
            style="width: 100%"
            icon="arrow_back" />
        </div>
        <div class="col" style="max-width: 200px">
          <CBtn
            @click="nextStep"
            color="primary"
            :label="continueLabel"
            :loading="buttonLoading"
            style="width: 100%"
            :icon-right="continueIcon" />
        </div>
      </div>
    </template>
  </CDialog>
</template>
<script setup lang="ts">
import { QForm, QStepper } from 'quasar';
import { computed, nextTick, onMounted, ref, watch } from 'vue';
import { DialogCloseEventArgs } from 'src/models/core.models';
import { getItem, saveItem } from 'src/services';
import routes from 'src/services/routes';

import { Farm } from 'src/models/fieldbook.models';
import { showError } from 'src/helpers';
import { useDialogPluginComponent } from 'quasar';
import CDialog from 'src/components/CDialog.vue';
import { useI18n } from 'vue-i18n';
import rules from 'src/helpers/rules';
import CMap, { getBoundsFromGeoJSON } from 'src/components/CMap.vue';

const { t } = useI18n();

const emit = defineEmits([
  'close',
  // REQUIRED; need to specify some events that your
  // component will emit through useDialogPluginComponent()
  ...useDialogPluginComponent.emits,
]);

const props = defineProps<{
  // ...your custom props
  farmId?: number;
}>();

const step = ref(1);
const stepper = ref<QStepper>();
const loading = ref(false);
const buttonLoading = ref(false);
const itm = ref<Farm>();

// Refs
const basicFormRef = ref<InstanceType<typeof QForm>>();
//const miscFormRef = ref<InstanceType<typeof QForm>>();
const mapRef = ref<InstanceType<typeof CMap>>();

const steps = {
  Basic: 1,
  Misc: 90,
};

const cDialogRef = ref<InstanceType<typeof CDialog>>();
watch(
  () => cDialogRef.value,
  (newVal) => (dialogRef.value = newVal?.dialogRef)
);

const { dialogRef, /*onDialogHide,*/ onDialogOK, onDialogCancel } =
  useDialogPluginComponent();
// dialogRef      - Vue ref to be applied to QDialog
// onDialogHide   - Function to be used as handler for @hide on QDialog
// onDialogOK     - Function to call to settle dialog with "ok" outcome
//                    example: onDialogOK() - no payload
//                    example: onDialogOK({ /*...*/ }) - with payload
// onDialogCancel - Function to call to settle dialog with "cancel" outcome

onMounted(async () => {
  if (props.farmId) {
    try {
      loading.value = true;
      itm.value = (
        await getItem<Farm>(routes.farms.single, { farmId: props.farmId })
      ).item;
    } finally {
      loading.value = false;
    }
  } else {
    itm.value = {};
  }
});

const onMapLoaded = function () {
  setGeojson();
};

const onAreaUpdated = function (data: any) {
  //const area = turf.area(data) ?? null;
  if (itm.value) {
    if (data.features && data.features.length > 0) {
      if (data.features.length > 1) {
        showError(t('modules.farm.editDialog.onlyOnePinAllowed'));

        var drawInstance = mapRef.value?.drawInstance;
        if (drawInstance) {
          var fc = drawInstance.getAll();

          if (fc && fc.features.length > 1) {
            fc.features.forEach((f, index) => {
              if (index > 0 && drawInstance && f.id)
                drawInstance.delete(f.id.toString());
            });
          }
        }
      }
      var point = data.features[0].geometry.coordinates;
      console.log('point', point);
      itm.value.longitude = point[0];
      itm.value.latitude = point[1];
    }
    var geoJson = data ? JSON.stringify(data) : undefined;
    itm.value.geoJSON = geoJson;
  }
};

const continueLabel = computed(() => {
  return isLastStep() ? t('modules.taskEdit.save') : t('modules.taskEdit.next');
});

const continueIcon = computed(() => {
  return isLastStep() ? 'done' : 'arrow_forward';
});

const nextStep = async function () {
  // Go to next step
  buttonLoading.value = true;
  if (await validateStep(step.value)) {
    await beforeNextStep(step.value);
    stepper.value?.next();
    await nextTick();
    //onStepLoaded(step.value);
  } else {
    showError(t('common.validationError'));
  }
  buttonLoading.value = false;
};

const validateStep = async function (currentStep: number) {
  if (currentStep == steps.Basic) {
    if (!(await basicFormRef.value?.validate())) {
      return false;
    }
  } else if (currentStep == steps.Misc) {
    /*if (!(await miscFormRef.value?.validate())) {
      return false;
    }*/
  }

  return true;
};

const beforeNextStep = async function (currentStep: number) {
  if (currentStep == steps.Basic) {
    setGeojson();
  } else if (currentStep == steps.Misc) {
    // Save

    loading.value = true;
    await save();
    loading.value = false;

    close(true);
  }
};

const setGeojson = function () {
  if (mapRef.value == null) {
    return;
  }

  var map = mapRef.value.map;
  if (map == null) {
    return;
  }

  var farm = itm.value;
  if (farm && farm.longitude && farm.latitude) {
    var geoJsonObj: any = {
      type: 'FeatureCollection',
      features: [
        {
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: [farm.longitude, farm.latitude],
          },
        },
      ],
    };

    if (map.getLayer('center')) {
      map.removeLayer('center');
    }

    if (map.getSource('center')) {
      map.removeSource('center');
    }

    if (mapRef.value.drawInstance) {
      mapRef.value.drawInstance.deleteAll();
      mapRef.value.drawInstance.add({ ...geoJsonObj });
      mapRef.value.drawInstance.changeMode('simple_select');
    }

    const bounds = getBoundsFromGeoJSON(geoJsonObj);
    var center = bounds.getCenter();

    map.fitBounds(bounds, {
      zoom: 17,
      animate: false,
    });

    map.addSource('center', {
      type: 'geojson',
      data: {
        type: 'FeatureCollection',
        features: [
          {
            type: 'Feature',
            geometry: {
              type: 'Point',
              coordinates: [center.lng, center.lat],
            },
            properties: {},
          },
        ],
      },
    });

    map.addLayer({
      id: 'center',
      type: 'symbol',
      source: 'center',
      minzoom: 16,
      layout: {
        'text-offset': [0, 5],
        'text-font': ['Open Sans Regular'],
        'text-field': `${farm.identifier} ${farm.name}`,
        'text-size': 21,
        'text-anchor': 'center',
        'text-max-width': 250,
      },
      paint: {
        'text-color': 'white',
      },
    });

    map.fitBounds(bounds, {
      zoom: 17,
      animate: false,
    });
  }
};

const previousStep = function () {
  stepper.value?.previous();
};

const isLastStep = function () {
  const stepNum = step.value;
  return stepNum == steps.Misc ? true : false;
};

const save = async function () {
  if (itm.value) {
    await saveItem(routes.farms.default, itm.value);
    close(true);
  }
};

const close = function (changes: boolean) {
  if (changes) {
    onDialogOK();
  } else {
    onDialogCancel();
  }
  emit('close', <DialogCloseEventArgs>{ changes: changes });
};

defineExpose({ open, close });
</script>
