<template>
  <DefaultPageLayout :show-title="false">
    <div v-if="farm && farm.thumbFileId">
      <q-img
        class="border-radius"
        fetchpriority="high"
        height="250px"
        :src="routes.files.get.replace('{fileId}', farm.thumbFileId.toString())"
        style="
          mask-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 95%,
            rgba(0, 0, 0, 0) 100%
          );
        ">
        <div class="absolute-bottom text-center">
          <div class="text-h4">
            {{ farm.name }}
          </div>
          <div class="text-subtitle1 text-center">{{ farm.identifier }}</div>
        </div>
      </q-img>
    </div>
    <div class="q-pt-md">
      <div>
        <CMarkupTable v-if="farm">
          <thead>
            <tr>
              <th colspan="100">
                <div
                  class="text-h6 text-bold text-left row items-center justify-between">
                  <div class="inline-block">
                    <CSectionTitle icon="info">
                      {{ $t('modules.farm.farmInfo') }}
                    </CSectionTitle>
                  </div>
                  <div>
                    <CBtn
                      color="primary"
                      @click="showFarmEditDialog"
                      icon="edit"></CBtn>
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-left text-bold">
                {{ $t('modules.farm.farmIdentifier') }}
              </td>
              <td class="text-left">{{ farm.identifier }}</td>
            </tr>
            <tr>
              <td class="text-left text-bold">
                {{ $t('modules.farm.farmName') }}
              </td>
              <td class="text-left">{{ farm.name }}</td>
            </tr>
            <tr>
              <td class="text-left text-bold">
                {{ $t('modules.farm.farmOwner') }}
              </td>
              <td class="text-left">{{ farm.owner }}</td>
            </tr>
            <tr>
              <td class="text-left text-bold">
                {{ $t('modules.farm.farmAddress') }}
              </td>
              <td class="text-left">{{ farm.address }}</td>
            </tr>
            <tr>
              <td class="text-left text-bold">
                {{ $t('modules.farm.farmCity') }}
              </td>
              <td class="text-left">{{ farm.postCode }} {{ farm.city }}</td>
            </tr>
            <tr>
              <td class="text-left text-bold">
                {{ $t('modules.farm.ecoFarm') }}
              </td>
              <td class="text-left">
                <CCheckbox v-model="farm.ecoFarm" disable></CCheckbox>
              </td>
            </tr>
          </tbody>
        </CMarkupTable>
      </div>
      <div class="q-mt-md">
        <CMarkupTable>
          <thead>
            <tr>
              <th colspan="100">
                <div
                  class="text-h6 text-bold text-left row items-center justify-between">
                  <div class="inline-block">
                    <CSectionTitle icon="mdi-land-fields">
                      {{ $t('modules.farm.fields') }}
                    </CSectionTitle>
                  </div>
                  <div>
                    <CBtn
                      color="primary"
                      @click="showFieldEditDialog"
                      icon="add"></CBtn>
                  </div>
                </div>
              </th>
            </tr>
            <tr>
              <th class="text-left" style="width: 150px">
                {{ $t('modules.farm.fieldIdentifier') }}
              </th>
              <th class="text-left">{{ $t('modules.farm.fieldName') }}</th>
              <th class="text-right">{{ $t('modules.farm.fieldArea') }}</th>
              <th class="text-left">{{ $t('modules.farm.fieldType') }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="f in fields" :key="f.id">
              <td class="text-left">{{ f.identifier }}</td>
              <td class="text-left">{{ f.name }}</td>
              <td class="text-right">
                {{ formatArea(f.area) }}
              </td>
              <td>
                {{ f.typeIdentifier }}
                {{ getLocalizedValue(f.typeName, f.typeNameEn) }}
              </td>
            </tr>
          </tbody>
        </CMarkupTable>
      </div>
    </div>
    <FarmDialog ref="farmDialogRef" @close="onDialogClose"></FarmDialog>
  </DefaultPageLayout>
</template>

<script setup lang="ts">
import { defineAsyncComponent, onMounted, ref } from 'vue';
import { Farm, Field } from 'src/models/fieldbook.models';
import FarmDialog from './FarmDialog.vue';
import { DialogCloseEventArgs } from 'src/models/core.models';
import routes from 'src/services/routes';
import { getData, getItem } from 'src/services';
import { useFieldbookStore } from 'src/stores/fieldbook.store';
import { formatArea, getLocalizedValue, showCustomDialog } from 'src/helpers';

const farm = ref<Farm>();
const fields = ref<Field[]>();
const farmDialogRef = ref<InstanceType<typeof FarmDialog>>();

onMounted(() => {
  refreshData();
});

const showFieldEditDialog = async function () {
  var result = await showCustomDialog(
    defineAsyncComponent(
      () => import('src/pages/fieldbook/field/FieldEditDialog.vue')
    )
  );

  if (result.confirm) {
    refreshData();
  }
};

const showFarmEditDialog = async function () {
  if (farm.value) {
    var result = await showCustomDialog(
      defineAsyncComponent(
        () => import('src/pages/fieldbook/farm/FarmEditDialog.vue')
      ),
      { farmId: farm.value.id }
    );

    if (result.confirm) {
      refreshData();
    }
  }
};

const onDialogClose = function (data: DialogCloseEventArgs) {
  if (data.changes) {
    refreshData();
  }
};

const refreshData = async function () {
  var fieldbookStore = useFieldbookStore();
  if (fieldbookStore.farm != null) {
    farm.value = (
      await getItem<Farm>(routes.farms.single, {
        farmId: fieldbookStore.farm.id,
        loadThumb: true,
      })
    ).item;

    fields.value = (await getData<Field>(routes.fields.default)).data;
  }
};
</script>
