<template>
  <CDialog
    ref="cDialogRef"
    :title="$t('dialogs.batchCropSetDialog.title')"
    icon="mdi-sprout"
    :confirm-action="save"
    :cancel-action="onDialogCancel"
    :width="600"
    :loading="loading">
    <CForm ref="formRef">
      <div class="text-caption">
        {{ $t('dialogs.batchCropSetDialog.description') }}
      </div>
      <div class="q-mt-md">
        <template v-for="pg in plotsGrouped" :key="pg.cropType">
          <div class="text-caption text-weight-bold q-mb-sm q-mt-md">
            {{ $t(`crop.types.type${pg.cropType}`) }}
          </div>

          <div>
            <template v-for="p in pg.plots" :key="pg.cropType + '_' + p.cropId">
              <div v-if="p">
                <CSelect
                  v-model="p.fieldPlot.cropId"
                  option-value="id"
                  :option-label="(row: Crop) => `${row.identifier} ${getLocalizedValue(row.name, row.nameEn)}`"
                  :options="allCrops"
                  :label="$t(`crop.types.type${pg.cropType}`)"
                  :disable="!p.editable"></CSelect>
              </div>
            </template>
          </div>
        </template>
      </div>
    </CForm>
  </CDialog>
</template>

<script setup lang="ts">
import {
  Crop,
  CropRotationFieldYear,
  CropRotationGroup,
  FieldPlot,
} from 'src/models/fieldbook.models';
import { useDialogPluginComponent } from 'quasar';
import { onMounted, ref, watch } from 'vue';
import { axiosApi, getData } from 'src/services';
import CForm from 'src/components/CForm.vue';
import routes from 'src/services/routes';
import CDialog from 'src/components/CDialog.vue';
import { getLocalizedValue } from 'src/helpers';

defineEmits([
  // REQUIRED; need to specify some events that your
  // component will emit through useDialogPluginComponent()
  ...useDialogPluginComponent.emits,
]);

const props = defineProps<{
  fieldYears: CropRotationFieldYear[];
}>();

const cDialogRef = ref<InstanceType<typeof CDialog>>();
const formRef = ref<InstanceType<typeof CForm>>();
const allCrops = ref<Crop[]>([]);
const plotsGrouped = ref<CropRotationGroup[]>([]);
const loading = ref(false);

watch(
  () => cDialogRef.value,
  (newVal) => (dialogRef.value = newVal?.dialogRef)
);

const { dialogRef, /*onDialogHide,*/ onDialogOK, onDialogCancel } =
  useDialogPluginComponent();
// dialogRef      - Vue ref to be applied to QDialog
// onDialogHide   - Function to be used as handler for @hide on QDialog
// onDialogOK     - Function to call to settle dialog with "ok" outcome
//                    example: onDialogOK() - no payload
//                    example: onDialogOK({ /*...*/ }) - with payload
// onDialogCancel - Function to call to settle dialog with "cancel" outcome

// this is part of our example (so not required)
function onOKClick() {
  // on OK, it is REQUIRED to
  // call onDialogOK (with optional payload)
  onDialogOK();
  // or with payload: onDialogOK({ ... })
  // ...and it will also hide the dialog automatically
}

onMounted(async () => {
  loading.value = true;
  visible.value = true;

  allCrops.value = (await getData(routes.crops.default)).data;

  plotsGrouped.value = [];

  for (var i = 1; i <= 3; i++) {
    plotsGrouped.value.push({
      cropType: i,
      plots: [
        {
          fieldPlot: { cropType: i },
          editable: true,
        },
      ],
    });
  }

  loading.value = false;
});

const save = async function () {
  var fieldYears = props.fieldYears;
  var fieldPlots: FieldPlot[] = [];

  plotsGrouped.value.forEach((pg) => {
    var plot =
      pg.plots.length == 1 && pg.plots[0].fieldPlot.cropId ? pg.plots[0] : null;

    if (plot != null) {
      fieldYears.forEach((fieldYear) => {
        if (plot != null) {
          // If any already locked crop exists, don't add new crop
          var canAdd = !fieldYear.plots.some(
            (x) =>
              x.fieldPlot.cropType == plot?.fieldPlot.cropType && !x.editable
          );

          if (canAdd) {
            fieldPlots.push({
              fieldId: fieldYear.fieldId,
              year: fieldYear.year,
              cropId: plot.fieldPlot.cropId,
              cropType: plot.fieldPlot.cropType,
            });
          }
        }
      });
    }
  });

  if (fieldPlots.length > 0) {
    try {
      loading.value = true;
      await axiosApi.post<FieldPlot[]>(routes.fields.plots.batch, {
        fieldPlots,
      });
    } finally {
      loading.value = false;
    }
  }

  onOKClick();
};

const visible = ref(false);
defineExpose({ open, close });
</script>
