<template>
  <CDialog
    ref="cDialogRef"
    :title="$t('dialogs.batchMeasureSetDialog.title')"
    icon="assignment_late"
    :confirm-action="save"
    :cancel-action="onDialogCancel"
    :width="800"
    height="100%"
    :loading="loading">
    <CForm ref="formRef">
      <div class="text-caption">
        {{ $t('dialogs.batchMeasureSetDialog.description') }}
      </div>
      <div class="q-mt-md">
        <div v-for="mg in measureGroups" :key="mg.category" class="q-mb-lg">
          <div class="text-h5 q-mb-sm">{{ mg.category }}</div>
          <div class="row q-col-gutter-sm">
            <div class="col-xs-12 col-md-6" v-for="m in mg.items" :key="m.key">
              <CCheckbox
                v-model="m.checked"
                :label="
                  getLocalizedValue(
                    m.item.measure.name,
                    m.item.measure.nameEn
                  ) ?? ''
                " />
              <div class="text-caption">
                {{
                  getLocalizedValue(
                    m.item.measure.description,
                    m.item.measure.descriptionEn
                  )
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </CForm>
  </CDialog>
</template>

<script setup lang="ts">
import {
  CropRotationPlot,
  MeasureGroup,
  Measure,
  FieldMeasure,
} from 'src/models/fieldbook.models';
import { useDialogPluginComponent } from 'quasar';
import { onMounted, ref, watch } from 'vue';
import { getData, saveItem } from 'src/services';
import CForm from 'src/components/CForm.vue';
import routes from 'src/services/routes';
import CDialog from 'src/components/CDialog.vue';
import { CheckboxItem } from 'src/models/core.models';
import { getLocalizedValue } from 'src/helpers';

defineEmits([
  // REQUIRED; need to specify some events that your
  // component will emit through useDialogPluginComponent()
  ...useDialogPluginComponent.emits,
]);

const props = defineProps<{
  year: number;
  plots: CropRotationPlot[];
}>();

const cDialogRef = ref<InstanceType<typeof CDialog>>();
const formRef = ref<InstanceType<typeof CForm>>();
const measureGroups = ref<MeasureGroup[]>();
const editYear = ref<number>();
const loading = ref(false);

watch(
  () => cDialogRef.value,
  (newVal) => (dialogRef.value = newVal?.dialogRef)
);

const { dialogRef, /*onDialogHide,*/ onDialogOK, onDialogCancel } =
  useDialogPluginComponent();
// dialogRef      - Vue ref to be applied to QDialog
// onDialogHide   - Function to be used as handler for @hide on QDialog
// onDialogOK     - Function to call to settle dialog with "ok" outcome
//                    example: onDialogOK() - no payload
//                    example: onDialogOK({ /*...*/ }) - with payload
// onDialogCancel - Function to call to settle dialog with "cancel" outcome

// this is part of our example (so not required)
function onOKClick() {
  // on OK, it is REQUIRED to
  // call onDialogOK (with optional payload)
  onDialogOK();
  // or with payload: onDialogOK({ ... })
  // ...and it will also hide the dialog automatically
}

onMounted(async () => {
  loading.value = true;
  visible.value = true;

  var plots = props.plots;
  if (plots == null || plots.length == 0) {
    return;
  }

  var year = props.year;
  editYear.value = year;
  var measures = (await getData<Measure>(routes.measures.default, { year }))
    .data;

  var mg: MeasureGroup[] = [];

  if (measures.length > 0) {
    measures.forEach((x) => {
      if (!mg.find((y) => y.category == x.category)) {
        mg.push({
          category: x.category,
          items: measures
            .filter((y) => y.category == x.category)
            .map((y) => {
              var itm = new CheckboxItem({
                measure: y,
              });
              itm.checked = false;
              return itm;
            }),
        });
      }
    });
  }

  measureGroups.value = mg;
  loading.value = false;
});

const save = async function () {
  var fm: FieldMeasure[] = [];
  var plots = props.plots;
  var year = editYear.value;
  var mg = measureGroups.value;
  var plotsForYear = plots.filter((x) => x.fieldPlot.year == year);

  plotsForYear.forEach((p) => {
    if (p.fieldPlot && mg) {
      mg.forEach((x) => {
        x.items.forEach((y) => {
          if (y.checked) {
            var measure = y.item.measure;
            var itm: FieldMeasure = {
              fieldId: p.fieldPlot.fieldId,
              fieldPlotId: p.fieldPlot.id,
              year: year,
              measureId: measure.id,
            };

            fm.push(itm);
          }
        });
      });
    }
  });

  if (fm.length > 0) {
    try {
      loading.value = true;
      await saveItem(routes.fields.measures.batch, {
        year: year,
        fieldMeasures: fm,
      });
    } finally {
      loading.value = false;
    }
  }

  onOKClick();
};

const visible = ref(false);
defineExpose({ open, close });
</script>
