<template>
  <DefaultPageLayout>
    <template v-if="initialized">
      <div v-if="!hasCropRotation">
        {{ $t('modules.cropRotationSum.noCropRotationFields') }}
      </div>
      <CTable
        v-if="hasCropRotation"
        class="crop-rotation-sum-tbl"
        ref="tableRef"
        :rows="data?.crops"
        :columns="columns"
        :refresh-action="refreshData"
        selection="none"
        row-key="cropId">
        <template #filter>
          <div class="row q-col-gutter-md items-center">
            <div class="col-xs-12 col-md-auto">
              <CSelect
                v-model="cropType"
                :options="cropTypes"
                :clearable="false"
                option-value="id"
                option-label="name"
                :label="
                  $t('modules.cropRotationSum.filter.cropType')
                "></CSelect>
            </div>
          </div>
        </template>
        <template
          #body-cell-cropName="{
            props,
            col,
          }: {
            props: {
              row: CropRotationSumCrop,
            },
            col: any,
          }">
          <span :style="{ color: props.row.hexColor }">{{ col.value }}</span>
        </template>
        <template #bottom-row>
          <q-tr>
            <q-td>
              <strong class="text-h6">
                {{ $t('modules.cropRotationSum.sum') }}
              </strong>
            </q-td>
            <q-td
              class="font-weight-bolder"
              style="text-align: center; font-size: 16px"
              v-for="y in data?.years"
              :key="y">
              {{ formatArea(data?.yearSum[y].sumAssigned) }} /
              {{ formatArea(data?.yearSum[y].sumAll) }}
            </q-td>
          </q-tr>
        </template>

        <!--
      <template #_bottom>
        <table style="width: 100%">
          <tbody>
            <tr>
              <td><strong class="q-pl-sm text-h6">Skupaj</strong></td>

              <td
                class="text-body1 font-weight-bolder"
                style="width: 120px; text-align: center"
                v-for="y in data?.years"
                :key="y">
                <strong>{{ y }}</strong>
                : {{ formatDecimal(data?.yearSum[y]) }}
              </td>
            </tr>
          </tbody>
        </table>
      </template>-->
      </CTable>
    </template>
    <template v-else>
      <q-inner-loading showing></q-inner-loading>
    </template>
  </DefaultPageLayout>
</template>

<style scoped lang="scss">
.crop-rotation-sum-tbl:deep(.q-table__bottom) {
  padding: 0;
}
</style>

<script setup lang="ts">
import { QTableColumn } from 'quasar';
import { formatArea, formatDecimal } from 'src/helpers';
import {
  CropRotationSum,
  CropRotationSumCrop,
} from 'src/models/fieldbook.models';
import { axiosApi } from 'src/services';
import fieldbookService from 'src/services/fieldbook.service';
import routes from 'src/services/routes';
import { computed, onMounted, ref } from 'vue';
import { useI18n } from 'vue-i18n';
import { getLocalizedValue } from 'src/helpers';

const { t } = useI18n();
const initialized = ref(false);
const cropTypes = fieldbookService.getCropTypes();
const cropType = ref<number>(1);
const data = ref<CropRotationSum>();
const hasCropRotation = ref(true);

const cropRotationColumns = computed<QTableColumn<CropRotationSumCrop>[]>(
  () => [
    {
      name: 'cropName',
      label: t('modules.cropRotationSum.columns.crop'),
      field: (row) =>
        `${row.cropIdentifier} ${getLocalizedValue(
          row.cropName,
          row.cropNameEn
        )}`,
      sortable: true,
      align: 'left',
    },
  ]
);

const dynamicColumns = ref<QTableColumn<CropRotationSumCrop>[]>([]);

onMounted(async () => {
  await refreshData();
  initialized.value = true;
});

const columns = computed(() => {
  return cropRotationColumns.value.concat(dynamicColumns.value ?? []);
});

const refreshData = async function () {
  var d = (
    await axiosApi.get<CropRotationSum>(routes.cropRotation.sum, {
      params: { cropType: cropType.value },
    })
  ).data;
  var dynamicCols: QTableColumn<CropRotationSumCrop>[] = [];
  if (d.years.length > 0) {
    d.years.forEach((y) => {
      ((y: number) => {
        dynamicCols.push({
          name: y.toString(),
          field: (row: CropRotationSumCrop) => {
            var sum = row.years[y].sum;
            if (sum == null || sum == 0) {
              return null;
            }

            var val = formatArea(sum);

            var percentage = row.years[y].percentage;
            if (percentage != null && percentage != 0) {
              val += ' (' + formatDecimal(percentage) + '%)';
            }

            return val;
          },
          //format: (val: number) => formatDecimal(val) ?? '',
          label: y.toString(),
          align: 'right',
          style: 'width: 150px;',
        });
      })(y);
    });
  }

  dynamicColumns.value = dynamicCols;
  data.value = d;
  hasCropRotation.value = d.hasCropRotation;
};
</script>
