<template>
  <CDialog
    ref="cDialogRef"
    :title="$t('dialogs.cropRotationEditDialog.title')"
    icon="mdi-sprout"
    :confirm-action="save"
    :cancel-action="onDialogCancel"
    :width="800"
    height="100%"
    :loading="loading">
    <CForm ref="formRef" v-if="cropRotationField">
      <CMarkupTable>
        <thead>
          <tr>
            <th colspan="100">
              <div class="text-left">
                <CSectionTitle icon="mdi-land-fields">
                  {{ $t('dialogs.cropRotationEditDialog.fieldInfo') }}
                </CSectionTitle>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>
                {{ $t('dialogs.cropRotationEditDialog.fieldColumns.field') }}
              </strong>
            </td>
            <td>
              {{ cropRotationField.fieldIdentifier }}
              {{ cropRotationField.fieldName }}
            </td>
          </tr>
          <tr>
            <td>
              <strong>
                {{ $t('dialogs.cropRotationEditDialog.fieldColumns.year') }}
              </strong>
            </td>
            <td>
              {{ editYear }}
            </td>
          </tr>
          <tr>
            <td>
              <strong>
                {{ $t('dialogs.cropRotationEditDialog.fieldColumns.area') }}
              </strong>
            </td>
            <td>
              {{ formatArea(cropRotationField.fieldArea) }}
            </td>
          </tr>
        </tbody>
      </CMarkupTable>
      <div class="q-mt-md">
        <CSectionTitle icon="mdi-sprout">
          {{ $t('dialogs.cropRotationEditDialog.crops') }}
        </CSectionTitle>
      </div>
      <div class="text-caption q-mt-sm">
        {{ $t('dialogs.cropRotationEditDialog.cropsDescription') }}
      </div>
      <div class="text-body1 q-mt-sm">
        <template v-for="cg in cropsGrouped" :key="cg.cropType">
          <CropRotationCropInput
            ref="cropRotationInputsRef"
            :field="cropRotationField"
            :field-plots-grouped="cg"
            :all-crops="allCrops"></CropRotationCropInput>
        </template>
      </div>
    </CForm>
  </CDialog>
</template>

<script setup lang="ts">
import {
  Crop,
  CropRotationField,
  CropRotationGroup,
  CropRotationFieldYear,
} from 'src/models/fieldbook.models';
import { useDialogPluginComponent } from 'quasar';
import { onMounted, ref, watch } from 'vue';
import { axiosApi, getData } from 'src/services';
import CForm from 'src/components/CForm.vue';
import routes from 'src/services/routes';
import { formatArea, showError } from 'src/helpers';
import CropRotationCropInput from './CropRotationCropInput.vue';
import CDialog from 'src/components/CDialog.vue';
import { FieldPlot } from 'src/models/fieldbook.models';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();

defineEmits([
  // REQUIRED; need to specify some events that your
  // component will emit through useDialogPluginComponent()
  ...useDialogPluginComponent.emits,
]);

const props = defineProps<{
  field: CropRotationField;
  fieldYear: CropRotationFieldYear;
}>();

const cDialogRef = ref<InstanceType<typeof CDialog>>();
const cropRotationField = ref<CropRotationField>();
const formRef = ref<InstanceType<typeof CForm>>();
const allCrops = ref<Crop[]>([]);
const cropsGrouped = ref<CropRotationGroup[]>();
const editYear = ref<number>();
const loading = ref(false);

const cropRotationInputsRef =
  ref<InstanceType<typeof CropRotationCropInput>[]>();

watch(
  () => cDialogRef.value,
  (newVal) => (dialogRef.value = newVal?.dialogRef)
);

const { dialogRef, /*onDialogHide,*/ onDialogOK, onDialogCancel } =
  useDialogPluginComponent();
// dialogRef      - Vue ref to be applied to QDialog
// onDialogHide   - Function to be used as handler for @hide on QDialog
// onDialogOK     - Function to call to settle dialog with "ok" outcome
//                    example: onDialogOK() - no payload
//                    example: onDialogOK({ /*...*/ }) - with payload
// onDialogCancel - Function to call to settle dialog with "cancel" outcome

// this is part of our example (so not required)
function onOKClick() {
  // on OK, it is REQUIRED to
  // call onDialogOK (with optional payload)
  onDialogOK();
  // or with payload: onDialogOK({ ... })
  // ...and it will also hide the dialog automatically
}

onMounted(async () => {
  loading.value = true;
  visible.value = true;

  var fld = props.field;
  var fldYear = props.fieldYear;
  var year = <number>fldYear.year;
  allCrops.value = (await getData(routes.crops.default)).data;
  cropRotationField.value = fld;
  editYear.value = year;

  const fieldYearCrops = fld.fieldYears[year].plots;
  cropsGrouped.value = [];

  for (var i = 1; i <= 3; i++) {
    var groupCrops = fieldYearCrops
      .filter((x) => x.fieldPlot.cropType == i)
      .map((x) => {
        return {
          ...x,
        }; /* destructure, otherwise we are overriding values even if object is not saved */
      });

    if (groupCrops.length == 0) {
      groupCrops.push({
        fieldPlot: { cropType: i, area: fld.fieldArea },
        editable: true,
      });
    }

    cropsGrouped.value.push({
      cropType: i,
      plots: groupCrops,
    });
  }

  loading.value = false;
});

const save = async function () {
  if (cropRotationField.value && cropsGrouped.value) {
    if (cropRotationInputsRef.value) {
      var validationResponses = await Promise.all(
        cropRotationInputsRef.value.map((x) => x.validate())
      );
      if (!validationResponses.every((x) => x)) {
        showError(t('dialogs.cropRotationEditDialog.sumMustMatch'));
        return;
      }
    }

    if (await formRef.value?.validate()) {
      try {
        loading.value = true;
        var fieldPlots = cropsGrouped.value
          .flatMap((x) => x.plots)
          .flatMap((x) => x.fieldPlot)
          .filter((x) => x.cropId != null);

        fieldPlots.forEach((x) => {
          x.fieldId = cropRotationField.value?.fieldId;
          x.year = editYear.value;
        });

        await axiosApi.post<FieldPlot[]>(routes.fields.plots.batch, {
          fieldId: cropRotationField.value?.fieldId,
          year: editYear.value,
          fieldPlots,
        });
      } finally {
        loading.value = false;
      }

      onOKClick();
    }
  }
};

const visible = ref(false);
defineExpose({ open, close });
</script>
