<template>
  <div v-if="fieldPlotsGrouped">
    <div class="text-caption text-weight-bold q-mb-sm q-mt-md">
      {{ $t(`crop.types.type${fieldPlotsGrouped.cropType}`) }}
    </div>

    <div class="row q-col-gutter-md">
      <template
        v-for="crop in fieldPlotsGrouped.plots"
        :key="crop.cropType + '_' + crop.cropId">
        <div class="row col-12 q-col-gutter-md" v-if="crop">
          <div class="col-xs-12 col-md-12">
            <CSelect
              v-model="crop.fieldPlot.cropId"
              option-value="id"
              :option-label="(row: Crop) => `${row.identifier} ${getLocalizedValue(row.name, row.nameEn)}`"
              :options="allCrops"
              :label="$t('dialogs.cropRotationEditDialog.inputs.crop')"
              :rules="[
                () =>
                  rules.requiredIf(
                    crop.fieldPlot.cropId,
                    fieldPlotsGrouped.plots.length > 1
                  ),
              ]"
              :disable="!crop.editable"></CSelect>
          </div>
          <div class="col-xs-12 col-md-8">
            <CInput
              :label="$t('dialogs.cropRotationEditDialog.inputs.variety')"
              v-model="crop.fieldPlot.cropVariety"
              :disable="!crop.editable"></CInput>
          </div>
          <div class="col-xs-12 col-md-4">
            <CInput
              type="number"
              :label="$t('dialogs.cropRotationEditDialog.inputs.area')"
              v-model="crop.fieldPlot.area"
              :rules="[
                () =>
                  rules.requiredIf(
                    crop.fieldPlot.area,
                    crop.fieldPlot.cropId != null ||
                      fieldPlotsGrouped.plots.length > 1
                  ),
              ]"
              :disable="!crop.editable">
              <template #after>
                <div class="row q-col-gutter-x-xs">
                  <div v-if="fieldPlotsGrouped.plots.length > 1">
                    <CBtn
                      flat
                      dense
                      rounded
                      icon="delete"
                      color="negative"
                      @click="removeRow(fieldPlotsGrouped, crop)"
                      :disable="!crop.editable"></CBtn>
                  </div>
                  <div>
                    <CBtn
                      flat
                      dense
                      rounded
                      icon="add"
                      color="positive"
                      @click="addRow(fieldPlotsGrouped)"
                      :disable="!crop.editable"></CBtn>
                  </div>
                </div>
              </template>
            </CInput>
          </div>
        </div>
      </template>
      <div
        v-if="sumDifference != 0"
        class="col-12 row justify-evenly text-caption text-center">
        <span>
          <strong>
            {{
              $t('dialogs.cropRotationEditDialog.cropAreaCalculation.sum')
            }}:&nbsp;
          </strong>
          {{ formatArea(sum) }} / {{ formatArea(field?.fieldArea) }}
        </span>
        <span>
          <strong>
            {{
              $t(
                'dialogs.cropRotationEditDialog.cropAreaCalculation.difference'
              )
            }}:&nbsp;
          </strong>
          <strong class="text-negative">
            {{ formatDecimal(sumDifference) }}
          </strong>
        </span>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import rules from 'src/helpers/rules';
import { ref, toRefs, watch } from 'vue';
import {
  Crop,
  CropRotationPlot,
  CropRotationField,
  CropRotationGroup,
} from 'src/models/fieldbook.models';
import { formatArea, formatDecimal, getLocalizedValue } from 'src/helpers';

const sum = ref(0);
const sumDifference = ref(0);

const props = withDefaults(
  defineProps<{
    field: CropRotationField;
    fieldPlotsGrouped: CropRotationGroup;
    allCrops: Crop[];
  }>(),
  {}
);

const { field, fieldPlotsGrouped, allCrops } = toRefs(props);

watch(
  () => fieldPlotsGrouped.value.plots,
  (newValue) => {
    if (newValue.length == 1 && newValue[0].fieldPlot.cropId == null) {
      sum.value = 0;
      sumDifference.value = 0;
      return;
    }

    sum.value = newValue.reduce(
      (partialSum, x) =>
        parseFloat((partialSum + (x.fieldPlot.area ?? 0)).toFixed(2)),
      0
    );

    sumDifference.value = parseFloat(
      ((field.value.fieldArea ?? 0) - (sum.value ?? 0)).toFixed(2)
    );
  },
  { deep: true, immediate: true }
);

const newPlot = (group: CropRotationGroup) => {
  return <CropRotationPlot>{
    fieldPlot: { cropType: group.cropType },
    editable: true,
  };
};

const addRow = async function (group: CropRotationGroup) {
  var items = group.plots;
  var newItm = newPlot(group);
  var missingArea = parseFloat(
    (
      (field.value.fieldArea ?? 0) -
      items.reduce((partialSum, x) => partialSum + (x.fieldPlot.area ?? 0), 0)
    ).toFixed(2)
  );

  if (missingArea > 0) {
    newItm.fieldPlot.area = missingArea;
  }
  items.push(newItm);
};

const removeRow = async function (
  group: CropRotationGroup,
  item: CropRotationPlot
) {
  var items = group.plots;

  if (items.length > 0) {
    items.splice(items.indexOf(item), 1);
  }

  if (items.length == 0) {
    items.push(newPlot(group));
  }
};

const validate = async function () {
  return sumDifference.value == 0;
};

defineExpose({ validate });
</script>
