<template>
  <div class="fit">
    <template v-if="initialized">
      <div v-if="!hasCropRotation">
        {{ $t('modules.cropRotation.noCropRotationFields') }}
      </div>
      <CTable
        v-if="hasCropRotation"
        class="crop-rotation-tbl"
        ref="tableRef"
        :rows="data?.fields"
        :columns="columns"
        :refresh-action="refreshData"
        selection="none"
        row-key="fieldId">
        <template #filter>
          <div class="row q-col-gutter-md items-center">
            <div class="col-xs-12 col-md-auto">
              <CSelect
                v-model="cropType"
                :options="cropTypes"
                option-value="id"
                option-label="name"
                :label="$t('modules.cropRotation.filter.cropType')"></CSelect>
            </div>
          </div>
        </template>
        <template
          v-for="ds in data?.years"
          v-slot:[`body-cell-${ds}`]="{
            props,
          }: {
            props: {
              row: CropRotationField,
            },
            col: QTableColumn,
          }"
          :key="ds">
          <div
            style="min-height: 100%; min-width: 100%"
            class="cr-item row no-wrap"
            :class="{
              'cr-item__disabled': !props.row.fieldYears[ds].editable,
              'cr-item__selected':
                selectedFieldYear == props.row.fieldYears[ds],
            }"
            @click="onYearCropClick(props.row.fieldYears[ds])">
            <div
              v-if="multipleFieldsCheckboxEnabled"
              class="col-auto q-pa-sm row items-center">
              <CCheckbox
                v-model="props.row.fieldYears[ds].selected"></CCheckbox>
            </div>
            <div class="col column col-grow">
              <div class="col">
                <template
                  v-if="(props.row.fieldYears[ds].plots?.length ?? 0) == 0">
                  <div>/</div>
                </template>
                <template
                  v-for="c in props.row.fieldYears[ds].plots"
                  :key="c.cropType + '_' + c.cropId">
                  <div
                    class="crop-rotation-crop row no-wrap items-start"
                    style="margin: 2px"
                    :class="{
                      'crop-rotation-crop--disabled': !c.editable,
                      'crop-rotation-crop--selected':
                        selectedPlot?.fieldPlot.id == c.fieldPlot.id,
                    }"
                    @click="onCropClick(c)">
                    <div
                      v-if="multipleCropsCheckboxEnabled"
                      class="col-auto q-pr-sm">
                      <CCheckbox v-model="c.selected"></CCheckbox>
                    </div>
                    <div
                      class="col col-grow no-wrap ellipsis q-pr-sm text-left"
                      v-if="c.fieldPlot">
                      <div class="crop-rotation-crop__label">
                        <strong>
                          {{
                            $t(`crop.types.typeShort${c.fieldPlot.cropType}`)
                          }}:&nbsp;
                          <CTooltip>
                            {{ $t(`crop.types.type${c.fieldPlot.cropType}`) }}
                          </CTooltip>
                        </strong>
                        <span :style="{ color: c.hexColor ?? undefined }">
                          {{
                            `${c.fieldPlot.cropIdentifier} ${getLocalizedValue(
                              c.fieldPlot.cropName,
                              c.fieldPlot.cropNameEn
                            )}${
                              c.fieldPlot.cropVariety
                                ? ` (${c.fieldPlot.cropVariety})`
                                : ''
                            }`
                          }}
                        </span>
                      </div>
                      <div
                        v-if="
                          c.fieldMeasures != null && c.fieldMeasures.length > 0
                        ">
                        <ul class="q-py-none q-my-none">
                          <li>
                            {{
                              c.fieldMeasures
                                .map((x) =>
                                  getLocalizedValue(
                                    x.measureName,
                                    x.measureNameEn
                                  )
                                )
                                .join(', ')
                            }}
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-auto crop-rotation-crop__actions">
                      <CBtn
                        icon="more_horiz"
                        dense
                        flat
                        unelevated
                        @click.stop="() => {}"
                        size="sm">
                        <q-menu anchor="top end" self="top start">
                          <q-list style="min-width: 100px">
                            <q-item
                              :disable="!props.row.fieldYears[ds].editable"
                              clickable
                              @click="
                                openEditDialog(
                                  props.row,
                                  props.row.fieldYears[ds]
                                )
                              "
                              v-close-popup>
                              <q-item-section side>
                                <CIcon name="mdi-sprout" />
                              </q-item-section>
                              <q-item-section>
                                {{
                                  $t(
                                    'modules.cropRotation.fieldContextMenu.editCrops'
                                  )
                                }}
                              </q-item-section>
                            </q-item>

                            <q-item
                              clickable
                              @click="
                                openCropRotationMesuresEditDialog(
                                  props.row,
                                  ds,
                                  c
                                )
                              "
                              v-close-popup>
                              <q-item-section side>
                                <CIcon name="assignment_late" />
                              </q-item-section>
                              <q-item-section>
                                {{
                                  $t(
                                    'modules.cropRotation.cropContextMenu.editMeasures'
                                  )
                                }}
                              </q-item-section>
                            </q-item>

                            <q-item clickable>
                              <q-item-section side>
                                <CIcon name="palette" />
                              </q-item-section>
                              <q-item-section>
                                {{
                                  $t(
                                    'modules.cropRotation.cropContextMenu.setColor'
                                  )
                                }}...
                              </q-item-section>
                              <q-item-section side>
                                <CIcon name="keyboard_arrow_right" />
                              </q-item-section>

                              <q-menu anchor="top end" self="top start">
                                <q-list>
                                  <q-item
                                    clickable
                                    @click="setCropColor(c)"
                                    v-close-popup>
                                    <q-item-section side>
                                      <CIcon name="palette" />
                                    </q-item-section>
                                    <q-item-section>
                                      {{
                                        $t(
                                          'modules.cropRotation.cropContextMenu.setCropColor'
                                        )
                                      }}
                                    </q-item-section>
                                  </q-item>

                                  <q-item
                                    :disable="!c.hexColor"
                                    clickable
                                    @click="setCropColor(c, true)"
                                    v-close-popup>
                                    <q-item-section side>
                                      <CIcon name="clear" color="negative" />
                                    </q-item-section>
                                    <q-item-section class="text-negative">
                                      {{
                                        $t(
                                          'modules.cropRotation.cropContextMenu.clear'
                                        )
                                      }}
                                    </q-item-section>
                                  </q-item>
                                </q-list>
                              </q-menu>
                            </q-item>

                            <q-item
                              v-show="!multipleCropsCheckboxEnabled"
                              clickable
                              @click="setMultipleCropsCheckbox(true, c)"
                              v-close-popup>
                              <q-item-section side>
                                <CIcon name="check_box" />
                              </q-item-section>
                              <q-item-section>
                                {{
                                  $t(
                                    'modules.cropRotation.cropContextMenu.selectMore'
                                  )
                                }}...
                              </q-item-section>
                            </q-item>

                            <q-item
                              v-show="multipleCropsCheckboxEnabled"
                              clickable>
                              <q-item-section side>
                                <CIcon name="library_add_check" />
                              </q-item-section>
                              <q-item-section>
                                {{
                                  $t(
                                    'modules.cropRotation.cropContextMenu.withSelected'
                                  )
                                }}...
                              </q-item-section>
                              <q-item-section side>
                                <CIcon name="keyboard_arrow_right" />
                              </q-item-section>

                              <q-menu anchor="top end" self="top start">
                                <q-list>
                                  <q-item
                                    clickable
                                    @click="openBatchMeasureSetDialog(ds)"
                                    v-close-popup>
                                    <q-item-section side>
                                      <CIcon name="assignment_late" />
                                    </q-item-section>
                                    <q-item-section>
                                      {{
                                        $t(
                                          'modules.cropRotation.cropContextMenu.setMeasures'
                                        )
                                      }}
                                    </q-item-section>
                                  </q-item>
                                  <q-item
                                    clickable
                                    @click="setMultipleCropsCheckbox(false)"
                                    v-close-popup>
                                    <q-item-section side>
                                      <CIcon name="clear" color="negative" />
                                    </q-item-section>
                                    <q-item-section class="text-negative">
                                      {{
                                        $t(
                                          'modules.cropRotation.cropContextMenu.clearSelected'
                                        )
                                      }}
                                    </q-item-section>
                                  </q-item>
                                </q-list>
                              </q-menu>
                            </q-item>
                          </q-list>
                        </q-menu>
                      </CBtn>
                    </div>
                  </div>
                </template>
              </div>

              <div class="cr-item__edit col-auto q-pa-sm">
                <div
                  class="text-center row q-col-gutter-sm items-center justify-center no-wrap">
                  <div>
                    <CBtn
                      icon="mdi-sprout"
                      size="sm"
                      color="white"
                      text-color="primary"
                      :label="
                        $t('modules.cropRotation.fieldContextMenu.editCrops')
                      "
                      @click="
                        openEditDialog(props.row, props.row.fieldYears[ds])
                      "></CBtn>
                  </div>
                  <div>
                    <CBtn
                      icon="more_horiz"
                      size="sm"
                      color="white"
                      text-color="primary">
                      <q-menu :offset="[0, 5]">
                        <q-list style="min-width: 100px">
                          <q-item
                            v-show="!multipleFieldsCheckboxEnabled"
                            clickable
                            @click="
                              setMultipleFieldsCheckbox(
                                true,
                                props.row.fieldYears[ds]
                              )
                            "
                            v-close-popup>
                            <q-item-section side>
                              <CIcon name="check_box" />
                            </q-item-section>
                            <q-item-section>
                              {{
                                $t(
                                  'modules.cropRotation.fieldContextMenu.selectMore'
                                )
                              }}...
                            </q-item-section>
                          </q-item>

                          <q-item
                            v-show="multipleFieldsCheckboxEnabled"
                            clickable>
                            <q-item-section side>
                              <CIcon name="library_add_check" />
                            </q-item-section>
                            <q-item-section>
                              {{
                                $t(
                                  'modules.cropRotation.fieldContextMenu.withSelected'
                                )
                              }}...
                            </q-item-section>
                            <q-item-section side>
                              <CIcon name="keyboard_arrow_right" />
                            </q-item-section>

                            <q-menu anchor="top end" self="top start">
                              <q-list>
                                <q-item
                                  clickable
                                  @click="openBatchCropSetDialog"
                                  v-close-popup>
                                  <q-item-section side>
                                    <CIcon name="mdi-sprout" />
                                  </q-item-section>
                                  <q-item-section>
                                    {{
                                      $t(
                                        'modules.cropRotation.fieldContextMenu.setCrops'
                                      )
                                    }}
                                  </q-item-section>
                                </q-item>
                                <q-item
                                  clickable
                                  @click="setMultipleFieldsCheckbox(false)"
                                  v-close-popup>
                                  <q-item-section side>
                                    <CIcon name="clear" color="negative" />
                                  </q-item-section>
                                  <q-item-section class="text-negative">
                                    {{
                                      $t(
                                        'modules.cropRotation.fieldContextMenu.clearSelected'
                                      )
                                    }}
                                  </q-item-section>
                                </q-item>
                              </q-list>
                            </q-menu>
                          </q-item>
                        </q-list>
                      </q-menu>
                    </CBtn>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>
      </CTable>
    </template>
    <template v-else>
      <q-inner-loading showing></q-inner-loading>
    </template>
  </div>
</template>

<style scoped lang="scss">
.crop-rotation-tbl:deep(table tr td:has(div.cr-item):hover),
.crop-rotation-tbl:deep(table tr td div.cr-item.cr-item__selected) {
  background-color: rgba($color: $secondary, $alpha: 0.5) !important;
  color: black;
  cursor: pointer;
}
.crop-rotation-tbl:deep(table tr td:has(div.cr-item)) {
  padding: 0 !important;
}

.cr-item .cr-item__edit {
  display: none;
}

.cr-item:not(.cr-item__disabled).cr-item__selected .cr-item__edit {
  display: inline;
}

.crop-rotation-crop {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.crop-rotation-crop:hover,
.crop-rotation-crop--selected {
  background: $secondary !important;
  border-radius: 5px;
}
.crop-rotation-crop--disabled .crop-rotation-crop__label {
  color: $grey;
}

.crop-rotation-crop:hover,
.crop-rotation-crop:hover .crop-rotation-crop__label,
.crop-rotation-crop.crop-rotation-crop--selected,
.crop-rotation-crop.crop-rotation-crop--selected .crop-rotation-crop__label {
  color: white;
}

.cr-item.cr-item__disabled.cr-item__selected .crop-rotation-crop {
  color: black;
}

.crop-rotation-crop .crop-rotation-crop__actions {
  visibility: hidden;
}
.crop-rotation-crop:hover .crop-rotation-crop__actions,
.crop-rotation-crop.crop-rotation-crop--selected .crop-rotation-crop__actions {
  visibility: visible;
}
</style>

<script setup lang="ts">
import routes from 'src/services/routes';
import { computed, defineAsyncComponent, onBeforeMount, ref } from 'vue';
import CTable from 'src/components/CTable.vue';
import {
  CropRotation,
  CropRotationField,
  CropRotationFieldYear,
  CropRotationPlot,
} from 'src/models/fieldbook.models';
import { axiosApi } from 'src/services';
import fieldbookService from 'src/services/fieldbook.service';
import { QTableColumn } from 'quasar';
import { formatArea, getLocalizedValue, showError } from 'src/helpers';
import { useI18n } from 'vue-i18n';
import { showCustomDialog } from 'src/helpers';

const { t } = useI18n();
const initialized = ref(false);
const tableRef = ref<InstanceType<typeof CTable>>();
const data = ref<CropRotation>();
const selectedFieldYear = ref<CropRotationFieldYear>();
const selectedPlot = ref<CropRotationPlot>();
const cropTypes = fieldbookService.getCropTypes();
const cropType = ref<number>();
const hasCropRotation = ref(false);
const multipleFieldsCheckboxEnabled = ref(false);
const multipleCropsCheckboxEnabled = ref(false);

const cropRotationColumns = computed<QTableColumn<CropRotationField>[]>(() => [
  {
    name: 'fieldName',
    label: t('modules.cropRotation.columns.field'),
    field: (row) => (row.fieldIdentifier ?? '') + ' ' + (row.fieldName ?? ''),
    sortable: true,
    align: 'left',
  },
  {
    name: 'area',
    label: t('modules.cropRotation.columns.area'),
    field: 'fieldArea',
    format: (val) => formatArea(val) ?? '',
    sortable: true,
    align: 'right',
    style: 'width: 100px;',
  },
]);
const dynamicColumns = ref<QTableColumn<CropRotationField>[]>([]);

onBeforeMount(async () => {
  await refreshData();
  initialized.value = true;
});

const columns = computed(() => {
  return cropRotationColumns.value.concat(dynamicColumns.value ?? []);
});

const onYearCropClick = function (fieldYear: CropRotationFieldYear) {
  selectedFieldYear.value = fieldYear;
};

const onCropClick = function (crop: CropRotationPlot) {
  selectedPlot.value = crop;
};

const openEditDialog = async (
  field: CropRotationField,
  fieldYear: CropRotationFieldYear
) => {
  if (fieldYear.editable) {
    var result = await showCustomDialog(
      defineAsyncComponent(() => import('./CropRotationEditDialog.vue')),
      {
        field,
        fieldYear,
      }
    );
    if (result.confirm) {
      refreshData();
    }
  }
};

const openCropRotationMesuresEditDialog = async (
  field: CropRotationField,
  year: number,
  plot: CropRotationPlot
) => {
  var result = await showCustomDialog(
    defineAsyncComponent(() => import('./CropRotationMeasuresEditDialog.vue')),
    {
      field,
      year,
      plot,
    }
  );

  if (result.confirm) {
    refreshData();
  }
};

const openBatchCropSetDialog = async () => {
  var fieldYears: CropRotationFieldYear[] = [];
  data.value?.fields.forEach((x) => {
    for (var yc in x.fieldYears) {
      var fieldYear = x.fieldYears[yc];
      if (fieldYear.selected) {
        fieldYears.push(fieldYear);
      }
    }
  });

  if (fieldYears.length > 0) {
    var result = await showCustomDialog(
      defineAsyncComponent(() => import('./BatchCropSetDialog.vue')),
      {
        fieldYears,
      }
    );

    if (result.confirm) {
      refreshData();
      setMultipleFieldsCheckbox(false);
    }
  }
};

const openBatchMeasureSetDialog = async (year: number) => {
  var plots: CropRotationPlot[] = [];
  data.value?.fields.forEach((x) => {
    for (var yc in x.fieldYears) {
      var fieldYear = x.fieldYears[yc];
      plots = plots.concat(fieldYear.plots.filter((c) => c.selected));
    }
  });

  if (new Set(plots.map((x) => x.fieldPlot.year)).size > 1) {
    showError(t('modules.cropRotation.selectOnlyOneYearForMeasures'));
    return;
  }

  if (plots.length > 0) {
    var result = await showCustomDialog(
      defineAsyncComponent(() => import('./BatchMeasureSetDialog.vue')),
      {
        plots,
        year,
      }
    );

    if (result.confirm) {
      refreshData();
      setMultipleCropsCheckbox(false);
    }
  }
};

const setCropColor = async function (plot: CropRotationPlot, clear = false) {
  var color: string | null = null;
  var fieldPlot = plot.fieldPlot;

  if (!clear) {
    var result = await showCustomDialog(
      defineAsyncComponent(() => import('src/dialogs/ColorPickerDialog.vue'))
    );
    if (result.confirm && result.data.color) {
      color = result.data.color;
    }
  }

  if (color || clear) {
    var cropRotation = data.value;
    var flds = cropRotation?.fields;

    // Save color
    await fieldbookService.saveUserCropSetting({
      cropId: fieldPlot.cropId,
      hexColor: color,
    });

    // Update current without refreshing all data
    if (flds) {
      flds.forEach((fld) => {
        cropRotation?.years.forEach((y) => {
          var fieldYears = fld.fieldYears[y];
          if (fieldYears) {
            var crops = fieldYears.plots.filter(
              (x) => x.fieldPlot.cropId == fieldPlot.cropId
            );
            crops?.forEach((c) => {
              c.hexColor = color;
            });
          }
        });
      });
    }
  }
};

const setMultipleFieldsCheckbox = function (
  val: boolean,
  fieldYear?: CropRotationFieldYear
) {
  if (multipleCropsCheckboxEnabled.value) {
    setMultipleCropsCheckbox(false);
  }

  multipleFieldsCheckboxEnabled.value = val;
  if (!val) {
    data.value?.fields.forEach((x) => {
      for (var yc in x.fieldYears) {
        x.fieldYears[yc].selected = false;
      }
    });
  } else {
    if (fieldYear) {
      fieldYear.selected = true;
    }
  }
};

const setMultipleCropsCheckbox = function (
  val: boolean,
  crop?: CropRotationPlot
) {
  if (multipleFieldsCheckboxEnabled.value) {
    setMultipleFieldsCheckbox(false);
  }

  multipleCropsCheckboxEnabled.value = val;
  if (!val) {
    data.value?.fields.forEach((x) => {
      for (var yc in x.fieldYears) {
        for (var c of x.fieldYears[yc].plots) {
          c.selected = false;
        }
      }
    });
  } else {
    if (crop) {
      crop.selected = true;
    }
  }
};

const clear = function () {
  selectedFieldYear.value = undefined;
  selectedPlot.value = undefined;
};

const refreshData = async function () {
  clear();

  var d = (
    await axiosApi.get<CropRotation>(routes.cropRotation.default, {
      params: { cropType: cropType.value },
    })
  ).data;

  // dynamicly generate columns for selected years
  var dynamicCols: QTableColumn<CropRotationField>[] = [];
  if (d.years.length > 0) {
    d.years.forEach((y) => {
      ((y: number) => {
        dynamicCols.push({
          name: y.toString(),
          field: (row: CropRotationField) =>
            row.fieldYears[y].plots
              .map(
                (x) =>
                  `${t(`crop.types.typeShort${x.fieldPlot.cropType}`)}: ${
                    x.fieldPlot.cropIdentifier
                  } ${getLocalizedValue(
                    x.fieldPlot.cropName,
                    x.fieldPlot.cropNameEn
                  )}${
                    x.fieldPlot.cropVariety
                      ? ` (${x.fieldPlot.cropVariety})`
                      : ''
                  }` +
                  (x.fieldMeasures != null && x.fieldMeasures.length > 0
                    ? `\r\n    - ${x.fieldMeasures
                        ?.map((y) =>
                          getLocalizedValue(y.measureName, y.measureNameEn)
                        )
                        .join(', ')}`
                    : '')
              )
              .join('\r\n'),
          label: y.toString(),
          align: 'center',
          style: 'min-width: 150px;',
        });
      })(y);
    });
  }

  dynamicColumns.value = dynamicCols;
  data.value = d;
  hasCropRotation.value = d.hasCropRotation;
};
</script>
