<template>
  <CDialog
    ref="cDialogRef"
    :title="$t('dialogs.measureEditDialog.title')"
    icon="assignment_late"
    :confirm-action="save"
    :cancel-action="onDialogCancel"
    :width="1000"
    height="100%"
    :loading="loading">
    <CForm ref="formRef" v-if="cropRotationField">
      <CMarkupTable>
        <thead>
          <tr>
            <th colspan="100">
              <div class="text-left">
                <CSectionTitle icon="mdi-land-fields">
                  {{ $t('dialogs.measureEditDialog.fieldInfo') }}
                </CSectionTitle>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>
                {{ $t('dialogs.measureEditDialog.fieldColumns.field') }}
              </strong>
            </td>
            <td>
              {{ cropRotationField.fieldIdentifier }}
              {{ cropRotationField.fieldName }}
            </td>
          </tr>
          <tr>
            <td>
              <strong>
                {{ $t('dialogs.measureEditDialog.fieldColumns.year') }}
              </strong>
            </td>
            <td>
              {{ editYear }}
            </td>
          </tr>
          <tr>
            <td>
              <strong>
                {{ $t('dialogs.measureEditDialog.fieldColumns.area') }}
              </strong>
            </td>
            <td>
              {{ formatArea(cropRotationField.fieldArea) }}
            </td>
          </tr>
          <tr>
            <td>
              <strong>
                {{ $t('dialogs.measureEditDialog.fieldColumns.crop') }}
              </strong>
            </td>
            <td>
              {{ plot.fieldPlot.cropIdentifier }}
              {{
                getLocalizedValue(
                  plot.fieldPlot.cropName,
                  plot.fieldPlot.cropNameEn
                )
              }}
            </td>
          </tr>
        </tbody>
      </CMarkupTable>
      <div class="q-mt-md">
        <div v-for="mg in measureGroups" :key="mg.category" class="q-mb-lg">
          <div class="text-h5 q-mb-sm">{{ mg.category }}</div>
          <div class="row q-col-gutter-sm">
            <div class="col-xs-12 col-md-6" v-for="m in mg.items" :key="m.key">
              <CCheckbox
                v-model="m.checked"
                :label="
                  getLocalizedValue(
                    m.item.measure.name,
                    m.item.measure.nameEn
                  ) ?? ''
                " />
              <div class="text-caption">
                {{
                  getLocalizedValue(
                    m.item.measure.description,
                    m.item.measure.descriptionEn
                  )
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </CForm>
  </CDialog>
</template>

<script setup lang="ts">
import {
  CropRotationPlot,
  CropRotationField,
  FieldMeasure,
  MeasureGroup,
  Measure,
} from 'src/models/fieldbook.models';
import { useDialogPluginComponent } from 'quasar';
import { onMounted, ref, watch } from 'vue';
import { getData, saveItem } from 'src/services';
import CForm from 'src/components/CForm.vue';
import routes from 'src/services/routes';
import { formatArea, getLocalizedValue } from 'src/helpers';
import CDialog from 'src/components/CDialog.vue';
import { CheckboxItem } from 'src/models/core.models';

defineEmits([
  // REQUIRED; need to specify some events that your
  // component will emit through useDialogPluginComponent()
  ...useDialogPluginComponent.emits,
]);

const props = defineProps<{
  field: CropRotationField;
  year: number;
  plot: CropRotationPlot;
}>();

const cDialogRef = ref<InstanceType<typeof CDialog>>();
const cropRotationField = ref<CropRotationField>();
const formRef = ref<InstanceType<typeof CForm>>();
const measureGroups = ref<MeasureGroup[]>();
const editYear = ref<number>();
const loading = ref(false);

watch(
  () => cDialogRef.value,
  (newVal) => (dialogRef.value = newVal?.dialogRef)
);

const { dialogRef, /*onDialogHide,*/ onDialogOK, onDialogCancel } =
  useDialogPluginComponent();
// dialogRef      - Vue ref to be applied to QDialog
// onDialogHide   - Function to be used as handler for @hide on QDialog
// onDialogOK     - Function to call to settle dialog with "ok" outcome
//                    example: onDialogOK() - no payload
//                    example: onDialogOK({ /*...*/ }) - with payload
// onDialogCancel - Function to call to settle dialog with "cancel" outcome

// this is part of our example (so not required)
function onOKClick() {
  // on OK, it is REQUIRED to
  // call onDialogOK (with optional payload)
  onDialogOK();
  // or with payload: onDialogOK({ ... })
  // ...and it will also hide the dialog automatically
}

onMounted(async () => {
  loading.value = true;
  visible.value = true;

  var field = props.field;
  var plot = props.plot;
  var year = props.year;

  var measures = (await getData<Measure>(routes.measures.default, { year }))
    .data;

  var fieldMeasures = (
    await getData<FieldMeasure>(routes.fields.measures.default, {
      fieldId: field.fieldId,
      fieldPlotId: plot.fieldPlot.id,
      year,
    })
  ).data;

  var mg: MeasureGroup[] = [];

  if (measures.length > 0) {
    measures.forEach((x) => {
      if (!mg.find((y) => y.category == x.category)) {
        mg.push({
          category: x.category,
          items: measures
            .filter((y) => y.category == x.category)
            .map((y) => {
              var fm = fieldMeasures.find((z) => z.measureId == y.id);
              var itm = new CheckboxItem({ measure: y, fieldMeasure: fm });
              itm.checked = fm != null ? true : false;
              return itm;
            }),
        });
      }
    });
  }

  measureGroups.value = mg;
  cropRotationField.value = field;
  editYear.value = year;

  loading.value = false;
});

const save = async function () {
  var fm: FieldMeasure[] = [];
  var field = props.field;
  var plot = props.plot;
  var year = editYear.value;
  var mg = measureGroups.value;

  mg?.forEach((x) => {
    x.items.forEach((y) => {
      if (y.checked) {
        var measure = y.item.measure;
        var fieldMeasure = y.item.fieldMeasure;

        var itm: FieldMeasure = {
          id: fieldMeasure?.id,
          fieldId: field.fieldId,
          fieldPlotId: plot.fieldPlot.id,
          year: year,
          measureId: measure.id,
        };

        fm.push(itm);
      }
    });
  });

  try {
    loading.value = true;
    await saveItem(routes.fields.measures.batch, {
      fieldId: field.fieldId,
      fieldPlotId: plot.fieldPlot.id,
      year: year,
      fieldMeasures: fm,
    });
  } finally {
    loading.value = false;
  }

  onOKClick();
};

const visible = ref(false);
defineExpose({ open, close });
</script>
