<template>
  <div class="fullscreen text-white text-center q-pa-md flex flex-center">
    <div>
      <div style="font-size: 30vh">404</div>

      <div class="text-h2" style="opacity: 0.4">
        {{ $t('error404') }}
      </div>

      <q-btn
        class="q-mt-xl full-width"
        color="secondary"
        unelevated
        to="/"
        :label="$t('common.home')" />
    </div>
  </div>
</template>

<script setup lang="ts"></script>
