<template>
  <DefaultPageLayout>
    <CTable
      row-key="id"
      :rows="fields"
      :columns="fieldColumns"
      :refreshAction="refreshData"
      :delete-action="deleteField"
      :menu-actions="menuActions"
      card-container-style="overflow:auto;"
      v-model:selected="selectedFields"
      v-model:grid="grid"
      selection="multiple"
      :loading="loading">
      <template #filter>
        <div class="row q-col-gutter-md items-center">
          <div class="col-xs-12 col-md-auto">
            <CDate
              :label="$t('modules.fields.filter.date')"
              v-model="date"></CDate>
          </div>
        </div>
      </template>
      <template #actions-top>
        <div class="row q-gutter-md">
          <div>
            <CBtn
              class="q-px-md"
              icon="add"
              color="primary"
              :label="$t('modules.fields.buttons.addTask')"
              unelevated
              @click="addTask"
              :disabled="selectedFields.length == 0"></CBtn>
          </div>
          <div>
            <CBtn
              class="q-px-md"
              icon="pin_drop"
              color="primary"
              :label="$t('modules.fields.buttons.showTracking')"
              unelevated
              @click="showTrackingTripsDialog"></CBtn>
          </div>
          <div>
            <CBtn class="q-px-md" icon="more_horiz" color="primary" unelevated>
              <q-menu :offset="[0, 5]">
                <q-list style="min-width: 100px">
                  <q-item
                    class="bg-primary text-white"
                    clickable
                    @click="showEditFieldDialog()"
                    v-close-popup>
                    <q-item-section side>
                      <CIcon name="add" color="white" />
                    </q-item-section>
                    <q-item-section>
                      {{ $t('modules.fields.buttons.addField') }}...
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </CBtn>
          </div>
        </div>
      </template>

      <template
        v-slot:body-cell-distanceFromTarget="{
          props,
          col,
        }: {
          props: {
            row: Field,
          },
          col: any,
        }">
        <div class="row items-center justify-center no-wrap">
          <span v-if="col.value">
            {{ col.value }}
          </span>
          <div>
            <CBtn
              round
              icon="travel_explore"
              @click="showFieldLocationDialog(props.row)"></CBtn>
          </div>
        </div>
      </template>

      <template #row-details="{ props: { row } }">
        <div class="q-pa-md">
          <div class="text-subtitle2">
            {{ $t('modules.fields.table.columns.lastTasks') }}
          </div>
          <ul>
            <template v-for="(task, index) in row.lastTasks" :key="index">
              <li>
                <span class="text-bold">
                  {{ formatDate(task.dateFrom) }}
                </span>
                {{ task.taskTypeName }}
              </li>
            </template>
            <template v-if="(row.lastTasks?.length ?? 0) == 0">
              <li>{{ $t('modules.fields.table.noTasks') }}</li>
            </template>
          </ul>
        </div>
        <div class="q-pa-md" v-if="false">
          <CCard style="display: inline-block">
            <q-card-section class="row items-center">
              <CIcon name="event" size="sm"></CIcon>
              <div class="text-h6 q-pl-md">
                {{ $t('modules.fields.table.columns.lastTasks') }}
              </div>
            </q-card-section>

            <q-separator inset />
            <q-card-section>
              <template v-for="(task, index) in row.lastTasks" :key="index">
                <div>
                  {{ formatDate(task.dateFrom) }} {{ task.taskTypeName }}
                </div>
              </template>
            </q-card-section>
          </CCard>
        </div>
      </template>
      <template #item="{ props }: { props: { row: Field, selected: boolean } }">
        <div class="q-pa-sm col-xs-12 col-sm-6 col-md-4">
          <CCard flat class="full-height column">
            <q-img
              class="col-auto"
              height="200px"
              v-if="props.row.imageFileId"
              :src="
                routes.files.get.replace(
                  '{fileId}',
                  props.row.imageFileId.toString()
                )
              ">
              <div class="bg-transparent">
                <q-checkbox
                  class="bg-white border-radius"
                  v-model="props.selected"
                  color="secondary"></q-checkbox>
              </div>
              <div class="text-subtitle2 absolute-bottom text-center">
                <div class="row items-center justify-center">
                  <span>{{ props.row.identifier }} {{ props.row.name }}</span>

                  <CBtn
                    v-if="props.row.latitude && props.row.longitude"
                    round
                    icon="travel_explore"
                    @click="showFieldLocationDialog(props.row)"></CBtn>
                </div>
                <div v-if="props.row.distanceFromTarget">
                  <CIcon name="location_on" size="16px" color="white"></CIcon>
                  {{ props.row.distanceFromTarget }} km
                </div>
              </div>
            </q-img>
            <q-card-section class="col-auto q-col-gutter-sm">
              <div class="row justify-between">
                <div class="text-body1">
                  <span class="text-weight-bold">
                    {{ $t('modules.fields.table.columns.fieldType') }}:
                  </span>
                  {{
                    `${props.row.typeIdentifier} ${getLocalizedValue(
                      props.row.typeName,
                      props.row.typeNameEn
                    )}`
                  }}
                </div>
                <div class="text-body1">
                  <span class="text-weight-bold">
                    {{ $t('modules.fields.table.columns.fieldArea') }}:
                  </span>
                  {{
                    props.row.area?.toLocaleString('sl-SI', {
                      minimumFractionDigits: 2,
                      maximumFractionDigits: 2,
                    })
                  }}
                </div>
              </div>
              <div>
                <div class="text-body1">
                  <span class="text-weight-bold">
                    {{ $t('modules.fields.table.columns.currentCrop') }}:
                  </span>
                  {{
                    props.row.activePlots
                      ?.map(
                        (x: FieldPlot) =>
                          `${x.cropIdentifier} ${getLocalizedValue(
                            x.cropName,
                            x.cropNameEn
                          )}`
                      )
                      .join(', ') ?? '/'
                  }}
                </div>
              </div>
            </q-card-section>

            <q-card-section class="col">
              <div class="row">
                <CIcon name="event" size="sm"></CIcon>
                <div class="text-subtitle1 q-pl-sm">
                  {{ $t('modules.fields.table.columns.lastTasks') }}
                </div>
              </div>
              <div>
                <ul>
                  <template
                    v-for="(task, index) in props.row.lastTasks"
                    :key="index">
                    <li>
                      <span class="text-bold">
                        {{ formatDate(task.dateFrom) }}
                      </span>
                      {{
                        getLocalizedValue(
                          task.taskTypeName,
                          task.taskTypeNameEn
                        )
                      }}
                    </li>
                  </template>
                  <template v-if="(props.row.lastTasks?.length ?? 0) == 0">
                    <li>{{ $t('modules.fields.table.noTasks') }}</li>
                  </template>
                </ul>
              </div>
            </q-card-section>

            <q-card-actions class="col-auto" align="center">
              <CBtn
                color="secondary"
                outline
                :label="$t('modules.fields.card.details')"
                icon="more_horiz"
                class="full-width"
                @click="showFieldDetails(props.row)"></CBtn>
            </q-card-actions>
          </CCard>
        </div>
      </template>
    </CTable>
  </DefaultPageLayout>
</template>
<style scoped lang="scss"></style>

<script setup lang="ts">
import { computed, defineAsyncComponent, onMounted, ref, watch } from 'vue';
import { Field, FieldPlot } from 'src/models/fieldbook.models';
import fieldbookService from 'src/services/fieldbook.service';
import { fieldColumns } from 'src/models/table.columns';
import { formatDate, getLocalizedValue, showCustomDialog } from 'src/helpers';
import routes from 'src/services/routes';
import { LocalStorage } from 'quasar';
import { useRouter } from 'vue-router';
import { useFieldbookStore } from 'src/stores/fieldbook.store';
import { useI18n } from 'vue-i18n';
import { deleteItem } from 'src/services';

const { t } = useI18n();
const loading = ref(false);
const date = ref<string>();
const fields = ref<Field[]>();
const grid = ref(LocalStorage.getItem('viewType') == 'grid' ? true : false);
const selectedFields = ref<Field[]>([]);
const router = useRouter();
const fieldbookStore = useFieldbookStore();

const menuActions = computed(() => [
  {
    icon: 'search',
    action: (row: Field) => showFieldDetails(row),
    text: t('modules.fields.buttons.showFieldDetails'),
  },
  {
    icon: 'edit',
    action: (row: Field) => showEditFieldDialog(row),
    text: t('modules.fields.buttons.editField'),
  },
]);

onMounted(() => {
  date.value = new Date().toDate().toJSON();
  refreshData();
});

watch(grid, (newval) => {
  LocalStorage.set('viewType', newval ? 'grid' : 'list');
});

const addTask = async function () {
  var result = await showCustomDialog(
    defineAsyncComponent(
      () => import('src/pages/fieldbook/tasks/TaskEditDialog.vue')
    ),
    { fields: selectedFields.value }
  );

  if (result.confirm) {
    refreshData();
  }
};

const showFieldLocationDialog = function (field: Field) {
  showCustomDialog(
    defineAsyncComponent(() => import('src/dialogs/FieldLocationDialog.vue')),
    {
      field,
    }
  );
};

const showTrackingTripsDialog = function () {
  showCustomDialog(
    defineAsyncComponent(() => import('src/dialogs/TrackingTripsDialog.vue'))
  );
};

const showFieldDetails = function (itm: Field) {
  if (itm) {
    router.push({ name: 'field', params: { id: itm.id } });
  }
};

const showEditFieldDialog = async function (field?: Field) {
  var result = await showCustomDialog(
    defineAsyncComponent(
      () => import('src/pages/fieldbook/field/FieldEditDialog.vue')
    ),
    { fieldId: field?.id }
  );

  if (result.confirm) {
    refreshData();
  }
};

const deleteField = async function (data: Field) {
  if (data && (await deleteItem(routes.fields.single, { fieldId: data.id }))) {
    refreshData();
  }
};

const refreshData = async () => {
  try {
    loading.value = true;
    const locResponse = await fieldbookStore.getLocation();
    var latLong =
      locResponse.success && locResponse.location?.coords
        ? {
            lat: locResponse.location.coords.latitude,
            long: locResponse.location.coords.longitude,
          }
        : undefined;

    fields.value = (
      await fieldbookService.getFields(undefined, true, latLong, date.value)
    ).data.data;
  } finally {
    loading.value = false;
  }
};
</script>
