<template>
  <q-page class="row items-center justify-center">
    <template v-if="loginType == EnumLoginType.LOCAL_LOGIN">
      <div class="local-login-screen fit row items-center justify-center">
        <CCard
          :flat="false"
          :bordered="false"
          class="bg-secondary text-white border-radius"
          style="max-width: 450px; width: 100%">
          <q-card-section class="q-py-none row justify-end">
            <q-space></q-space>
            <q-select
              class="language-switcher"
              v-model="locale"
              :options="localeOptions"
              dense
              rounded
              borderless
              emit-value
              map-options />
          </q-card-section>
          <q-card-section>
            <div
              class="items-center justify-center q-gutter-x-lg"
              :class="[$q.screen.gt.sm ? 'row' : 'column']">
              <div>
                <img
                  v-if="
                    appSettings.appEnvironment == EnumAppEnvironment.DEFAULT
                  "
                  class="q-mt-md"
                  src="images/DIH_Agrifood_logo-100.png"
                  alt="" />
                <img
                  v-if="
                    appSettings.appEnvironment == EnumAppEnvironment.FARMTOPIA
                  "
                  class="q-mt-md"
                  src="images/farmtopia-logo-100.png"
                  alt="" />
              </div>

              <div>
                <template
                  v-if="
                    appSettings.appEnvironment == EnumAppEnvironment.FARMTOPIA
                  ">
                  <a href="https://farmtopia.eu/" target="_blank">
                    <img
                      style="width: 250px"
                      class="q-mt-md"
                      src="images/farmtopia-logo-text.png"
                      alt="" />
                  </a>
                  <div class="text-center text-h6">
                    {{ $t('title') }}
                  </div>
                </template>
                <template v-else>
                  <div class="text-center">
                    <div class="text-h4 q-mt-md">
                      {{ $t('title') }}
                    </div>
                    <div class="text-subtitle2 q-mt-sm">
                      {{ $t('modules.login.title') }}
                    </div>
                  </div>
                </template>
              </div>
            </div>
          </q-card-section>
          <q-separator inset dark class="q-my-sm"></q-separator>
          <q-card-section>
            <CForm ref="formRef">
              <div class="q-gutter-lg">
                <div>
                  <CInput
                    autofocus
                    v-model="username"
                    label="Username"
                    :rules="[rules.required]"
                    @keydown.enter.prevent="loginLocal">
                    <template v-slot:prepend>
                      <q-icon name="person" />
                    </template>
                  </CInput>
                </div>
                <div>
                  <CInput
                    v-model="password"
                    label="Password"
                    type="password"
                    :rules="[rules.required]"
                    @keydown.enter.prevent="loginLocal">
                    <template v-slot:prepend>
                      <q-icon name="password" />
                    </template>
                  </CInput>
                </div>
                <div>
                  <CBtn
                    color="primary"
                    :label="$t('login')"
                    class="full-width border-radius large-btn"
                    unelevated
                    icon="login"
                    @click="loginLocal"
                    :loading="loginLoader"></CBtn>
                </div>
                <div
                  v-if="loginFailedVisible"
                  class="text-caption no-wrap row items-center justify-center q-col-gutter-x-sm">
                  <q-icon name="warning" color="negative" size="sm" />
                  <div>
                    {{ $t('loginPage.loginFailed') }}
                  </div>
                </div>
              </div>
            </CForm>
          </q-card-section>
          <q-card-section
            class="login-footer text-center bg-white text-black q-mt-md">
            <a href="https://itc-cluster.com/" target="_blank">
              © {{ new Date().getFullYear() }} ITC - Innovation Technology
              Cluster
            </a>
          </q-card-section>
        </CCard>
      </div>
    </template>
    <template v-if="ssoLoginScreenVisible">
      <div class="sso-login-screen fit">
        <div class="fit column items-center justify-center text-center">
          <img
            :style="$q.screen.gt.md ? { width: '300px' } : { width: '150px' }"
            src="~assets/ITC_DIH_logo_only_300px.png"
            alt="" />

          <div
            class="text-primary q-pb-lg q-pt-md"
            :class="[$q.screen.gt.md ? 'text-h2' : 'text-h4']">
            {{ $t('title') }}
          </div>

          <div style="min-height: 120px">
            <div v-if="noAppPermissionVisible">
              <div class="text-body text-negative q-mb-md">
                {{ $t('loginPage.noAccess') }}
              </div>

              <CBtn
                color="primary"
                :label="$t('myApplications')"
                style="width: 300px; height: 50px"
                unelevated
                icon="apps"
                @click="openMyApplications"></CBtn>
            </div>

            <div v-if="loginFailedVisible">
              <div class="text-body text-negative q-mb-md">
                {{ $t('loginPage.tryAgain') }}
              </div>

              <CBtn
                color="primary"
                :label="$t('loginPage.login')"
                style="width: 300px; height: 50px"
                unelevated
                icon="login"
                @click="redirectToSsoLogin"></CBtn>
            </div>

            <div v-if="ssoLoginLoader">
              <q-spinner size="md" color="primary"></q-spinner>
            </div>
          </div>
        </div>
      </div>
    </template>
  </q-page>
</template>

<style scoped lang="scss">
.q-page {
  background-color: transparent !important;
}

.sso-login-screen {
  background-color: rgba($grey-3, 0.8);
}

.fieldbook-link {
  color: white;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
}

.login-footer a {
  text-decoration: none;
}

.language-switcher:deep(.q-field__native span),
.language-switcher:deep(.q-field__append i) {
  color: white !important;
}
</style>

<script setup lang="ts">
import { useAuthStore } from 'src/stores/auth.store';
import { onMounted, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import itcSso, { loginStatus } from 'src/libs/itc-sso';
import { EnumLoginType, EnumRole } from 'src/enums/core.enums';
import { useFieldbookStore } from 'src/stores/fieldbook.store';
import { useI18n } from 'vue-i18n';
import { localeOptions } from 'src/i18n/languageSwitcher';
import { EnumAppEnvironment } from 'src/enums/core.enums';
import CForm from 'src/components/CForm.vue';
import rules from 'src/helpers/rules';

const { locale } = useI18n({ useScope: 'global' });
const authStore = useAuthStore();
const fieldbookStore = useFieldbookStore();
const router = useRouter();
const route = useRoute();
const loginType = fieldbookStore.appSettings.loginType;

const loginLoader = ref(false);
const ssoLoginLoader = ref(false);

const ssoLoginScreenVisible = ref(false);
const noAppPermissionVisible = ref(false);
const loginFailedVisible = ref(false);

const username = ref<string>();
const password = ref<string>();

const formRef = ref<InstanceType<typeof CForm>>();

const appSettings = fieldbookStore.appSettings;

onMounted(async () => {
  noAppPermissionVisible.value = false;
  loginFailedVisible.value = false;

  if (loginType == EnumLoginType.ITC_SSO_LOGIN) {
    var redirectedFromSso = route.query?.sso == 'true';
    if (!redirectedFromSso) {
      redirectToSsoLogin();
      return;
    }

    // Redirected from SSO, check if user is logged in
    ssoLoginScreenVisible.value = true;
    ssoLoginLoader.value = true;

    // Check using provided token
    const ssoResponse = await itcSso.checkLogin();

    if (ssoResponse.accessToken) {
      // OK, received token, login localy
      var response = await authStore.loginSso(ssoResponse.accessToken);
      if (response.success) {
        await onLoginSuccess();
      } else {
        loginFailedVisible.value = true;
      }
    } else if (
      // No token or invalid
      ssoResponse.status == loginStatus.NO_TOKEN ||
      ssoResponse.status == loginStatus.INVALID_TOKEN
    ) {
      redirectToSsoLogin();
    } else if (ssoResponse.status == loginStatus.NO_PERMISSION) {
      // No permission
      noAppPermissionVisible.value = true;
    } else {
      // Other error
      loginFailedVisible.value = true;
    }

    ssoLoginLoader.value = false;
  }
});

const redirectToSsoLogin = function () {
  itcSso.login(
    `${location.protocol}//${location.hostname}${
      location.port ? ':' + location.port : ''
    }/login`
  );
};

const openMyApplications = function () {
  window.location.href = itcSso.myApplicationsUrl;
};

const loginLocal = async function () {
  if (
    appSettings.loginType == EnumLoginType.LOCAL_LOGIN &&
    (await formRef.value?.validate())
  ) {
    try {
      loginFailedVisible.value = false;
      loginLoader.value = true;
      const response = await authStore.loginLocal(
        <string>username.value,
        <string>password.value
      );
      if (response.success) {
        await onLoginSuccess();
      } else {
        loginFailedVisible.value = true;
      }
    } catch {
      loginFailedVisible.value = true;
    } finally {
      loginLoader.value = false;
    }
  }
};

const onLoginSuccess = async function () {
  await router.replace({ name: 'home' });
};
</script>
