<template>
  <DefaultPageLayout>/</DefaultPageLayout>
</template>

<script setup lang="ts">
import { onMounted } from 'vue';

onMounted(() => {
  refreshData();
});

const refreshData = async function () {
  //fields.value = (await fieldbookService.getFields()).data;
};
</script>
