<template>
  <DefaultPageLayout>
    <CTable
      ref="tableRef"
      :rows="data"
      :columns="fieldTypesColumns"
      :add-action="add"
      :edit-action="edit"
      :delete-action="deleteFieldType"
      :refresh-action="refreshData"
      row-key="id"></CTable>
    <FieldTypesDialog ref="dialogRef" @close="onDialogClose"></FieldTypesDialog>
  </DefaultPageLayout>
</template>

<script setup lang="ts">
import routes from 'src/services/routes';
import { onBeforeMount, ref, computed } from 'vue';
import { FieldType } from 'src/models/fieldbook.models';
import { DialogCloseEventArgs } from 'src/models/core.models';
import FieldTypesDialog from './FieldTypesDialog.vue';
import { deleteItem, getData } from 'src/services';
import { QTableColumn } from 'quasar';
import { useI18n } from 'vue-i18n';
import { formatBoolean } from 'src/helpers';
import CTable from 'src/components/CTable.vue';
import fieldbookService from 'src/services/fieldbook.service';

const fieldEnvironmentTypes = fieldbookService.getFieldEnvironmentTypes();

const { t } = useI18n();
const tableRef = ref<InstanceType<typeof CTable>>();
const dialogRef = ref<InstanceType<typeof FieldTypesDialog>>();
const data = ref<FieldType[]>([]);

onBeforeMount(() => {
  refreshData();
});

const add = function () {
  var dialog = dialogRef.value;
  if (dialog) {
    dialog.open();
  }
};

const edit = function (data: FieldType) {
  var dialog = dialogRef.value;
  if (dialog) {
    dialog.open(data);
  }
};

const deleteFieldType = async function (data: FieldType) {
  if (
    data &&
    (await deleteItem(routes.fields.types.single, { fieldTypeId: data.id }))
  ) {
    refreshData();
  }
};

const onDialogClose = function (data: DialogCloseEventArgs) {
  if (data.changes) {
    refreshData();
  }
};

const refreshData = async function () {
  var d = await getData<FieldType>(routes.fields.types.default);
  data.value = d.data;
};

const fieldTypesColumns = computed<QTableColumn<FieldType>[]>(() => [
  {
    name: 'identifier',
    label: t('modules.admin.fieldTypes.columns.identifier'),
    field: 'identifier',
    sortable: true,
    align: 'left',
    style: 'width: 150px;',
  },
  {
    name: 'name',
    label: t('modules.admin.fieldTypes.columns.name'),
    field: 'name',
    sortable: true,
    align: 'left',
  },
  {
    name: 'nameEn',
    label: t('modules.admin.fieldTypes.columns.nameEn'),
    field: 'nameEn',
    sortable: true,
    align: 'left',
  },
  {
    name: 'environmentType',
    label: t('modules.admin.fieldTypes.columns.environmentType'),
    field: (row: FieldType) => {
      return fieldEnvironmentTypes.value.find(
        (y) => y.id == row.environmentType
      )?.name;
    },
    sortable: true,
    align: 'left',
  },
  {
    name: 'includeInCropRotation',
    label: t('modules.admin.fieldTypes.columns.includeInCropRotation'),
    field: 'includeInCropRotation',
    format: (val: boolean) => formatBoolean(val) ?? '',
    sortable: true,
    align: 'center',
    style: 'width: 100px;',
  },
]);
</script>
