<template>
  <CDialog
    :title="$t('modules.admin.fieldTypes.editDialog.title')"
    icon="task"
    v-model="visible"
    :loading="loading"
    :confirm-action="save"
    :cancel-action="() => close(false)"
    :width="600"
    @close="close(false)">
    <CForm ref="formRef" v-if="itm">
      <div class="row q-col-gutter-md">
        <div class="col-xs-12 col-md-4">
          <CInput
            v-model="itm.identifier"
            :rules="[rules.required]"
            :label="$t('modules.admin.fieldTypes.editDialog.inputs.identifier')"
            autofocus></CInput>
        </div>
        <div class="col-xs-12 col-md-8">
          <CInput
            v-model="itm.name"
            :rules="[rules.required]"
            :label="
              $t('modules.admin.fieldTypes.editDialog.inputs.name')
            "></CInput>
        </div>
        <div class="col-12">
          <CInput
            v-model="itm.nameEn"
            :label="
              $t('modules.admin.fieldTypes.editDialog.inputs.nameEn')
            "></CInput>
        </div>
        <div class="col-12">
          <CSelect
            v-model="itm.environmentType"
            option-value="id"
            option-label="name"
            :options="fieldEnvironmentTypes"
            :label="
              $t('modules.admin.fieldTypes.editDialog.inputs.environmentType')
            "></CSelect>
        </div>
        <div class="col-12">
          <CCheckbox
            v-model="itm.includeInCropRotation"
            :label="
              $t(
                'modules.admin.fieldTypes.editDialog.inputs.includeInCropRotation'
              )
            "></CCheckbox>
        </div>
      </div>
    </CForm>
  </CDialog>
</template>

<script setup lang="ts">
import { FieldType } from 'src/models/fieldbook.models';
import { ref } from 'vue';
import rules from 'src/helpers/rules';
import CForm from 'src/components/CForm.vue';
import { DialogCloseEventArgs } from 'src/models/core.models';
import { saveItem } from 'src/services';
import routes from 'src/services/routes';
import fieldbookService from 'src/services/fieldbook.service';

const emit = defineEmits(['close']);
const itm = ref<FieldType>();
const formRef = ref<InstanceType<typeof CForm>>();
const loading = ref(false);
const fieldEnvironmentTypes = fieldbookService.getFieldEnvironmentTypes();

const open = async function (data?: FieldType) {
  itm.value = data ? { ...data } : { includeInCropRotation: false };
  visible.value = true;
};

const save = async function () {
  if (itm.value && (await formRef.value?.validate())) {
    loading.value = true;
    await saveItem(routes.fields.types.default, itm.value);
    loading.value = false;
    close(true);
  }
};

const close = function (changes: boolean) {
  itm.value = undefined;

  visible.value = false;
  emit('close', <DialogCloseEventArgs>{ changes: changes });
};

const visible = ref(false);
defineExpose({ open, close });
</script>
