<template>
  <router-view v-slot="{ Component }">
    <transition name="fade" mode="out-in">
      <component v-if="layout" :is="layout">
        <component :is="Component" />
      </component>
    </transition>
  </router-view>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { useRoute } from 'vue-router';
const route = useRoute();
const layout = computed(() => {
  return route && route.meta.layout ? route.meta.layout : null;
});
</script>
