<template>
  <DefaultPageLayout>
    <CTable
      ref="tableRef"
      :route="routes.units.default"
      :columns="unitsColumns"
      :add-action="add"
      :edit-action="edit"
      :delete-action="deleteUnit"
      row-key="id"></CTable>
    <UnitsDialog ref="dialogRef" @close="onDialogClose"></UnitsDialog>
  </DefaultPageLayout>
</template>

<script setup lang="ts">
import routes from 'src/services/routes';
import { computed, ref } from 'vue';
import { Unit } from 'src/models/fieldbook.models';
import { DialogCloseEventArgs } from 'src/models/core.models';
import UnitsDialog from './UnitsDialog.vue';
import CTable from 'src/components/CTable.vue';
import { QTableColumn } from 'quasar';
import { useI18n } from 'vue-i18n';
import fieldbookService from 'src/services/fieldbook.service';
import { deleteItem } from 'src/services';

const { t } = useI18n();
const tableRef = ref<InstanceType<typeof CTable>>();
const dialogRef = ref<InstanceType<typeof UnitsDialog>>();
const moduleLocations = fieldbookService.getUnitModuleLocations();

const add = function () {
  var dialog = dialogRef.value;
  if (dialog) {
    dialog.open();
  }
};

const edit = function (data: Unit) {
  var dialog = dialogRef.value;
  if (dialog) {
    dialog.open(data);
  }
};

const deleteUnit = async function (data: Unit) {
  if (data && (await deleteItem(routes.units.single, { unitId: data.id }))) {
    refreshData();
  }
};

const onDialogClose = function (data: DialogCloseEventArgs) {
  if (data.changes) {
    refreshData();
  }
};

const refreshData = async function () {
  tableRef.value?.refreshData();
};

const unitsColumns = computed<QTableColumn<Unit>[]>(() => [
  {
    name: 'name',
    label: t('modules.admin.units.columns.name'),
    field: 'name',
    sortable: true,
    align: 'left',
  },
  {
    name: 'description',
    label: t('modules.admin.units.columns.description'),
    field: 'description',
    sortable: true,
    align: 'left',
  },
  {
    name: 'descriptionEn',
    label: t('modules.admin.units.columns.descriptionEn'),
    field: 'descriptionEn',
    sortable: true,
    align: 'left',
  },
  {
    name: 'groupsDisplayValue',
    label: t('modules.admin.units.columns.groups'),
    field: (val: Unit) => {
      if (val.groupsDisplayValue) {
        var moduleLocationIdsSplitted = val.groupsDisplayValue.split(',');
        var displayValuesArr: string[] = [];
        moduleLocations.value.forEach((x) => {
          if (moduleLocationIdsSplitted.includes(x.id)) {
            displayValuesArr.push(x.text);
          }
        });

        return displayValuesArr.join(', ');
      }
      return '';
    },
    sortable: true,
    align: 'left',
  },
]);
</script>
