<template>
  <CDialog
    :title="$t('modules.admin.units.editDialog.title')"
    icon="straighten"
    v-model="visible"
    :loading="loading"
    :confirm-action="save"
    :cancel-action="() => close(false)"
    :width="600"
    @close="close(false)">
    <CForm ref="formRef" v-if="itm">
      <div class="row q-col-gutter-md">
        <div class="col-12">
          <CInput
            v-model="itm.name"
            :rules="[rules.required]"
            :label="$t('modules.admin.units.editDialog.inputs.name')"
            autofocus></CInput>
        </div>
        <div class="col-12">
          <CInput
            v-model="itm.description"
            :label="
              $t('modules.admin.units.editDialog.inputs.description')
            "></CInput>
        </div>
        <div class="col-12">
          <CInput
            v-model="itm.descriptionEn"
            :label="
              $t('modules.admin.units.editDialog.inputs.descriptionEn')
            "></CInput>
        </div>
        <div class="col-12">
          <CSectionTitle icon="rule" large>
            {{ $t('modules.admin.units.editDialog.groupsTitle') }}
          </CSectionTitle>
          <div class="q-mt-sm text-caption">
            {{ $t('modules.admin.units.editDialog.groupsDescription') }}
          </div>
        </div>

        <template v-for="usage in usages" :key="usage.group">
          <div class="col-12 text-subtitle2">{{ usage.group }}</div>
          <template v-for="tag in usage.tags" :key="tag.id">
            <div class="col-xs-12 col-md-6">
              <CCheckbox
                :label="tag.name"
                v-model="tag.checked.value"></CCheckbox>
            </div>
          </template>
        </template>

        <!--<div class="col-12 text-h6">FFS</div>
        <div class="col-xs-12 col-md-6">
          <CCheckbox label="Vnos zaloge"></CCheckbox>
        </div>
        <div class="col-xs-12 col-md-6">
          <CCheckbox label="Vnos porabe"></CCheckbox>
        </div>

        <div class="col-12 text-h6">Mehanizacija</div>
        <div class="col-xs-12 col-md-6">
          <CCheckbox label="Zmogljivost"></CCheckbox>
        </div>-->
      </div>
    </CForm>
  </CDialog>
</template>

<script setup lang="ts">
import { Unit, UnitGroup } from 'src/models/fieldbook.models';
import { Ref, computed, ref } from 'vue';
import rules from 'src/helpers/rules';
import fieldbookService from 'src/services/fieldbook.service';
import { showSuccess } from 'src/helpers';
import CForm from 'src/components/CForm.vue';
import { DialogCloseEventArgs } from 'src/models/core.models';
import { EnumUnitGroup } from 'src/enums/fieldbook.enums';
import { getItem } from 'src/services';
import routes from 'src/services/routes';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();
const emit = defineEmits(['close']);
const itm = ref<Unit>();
const formRef = ref<InstanceType<typeof CForm>>();
const loading = ref(false);

interface IUsageGroup {
  group: string;
  tags: IUsageTag[];
}

interface IUsageTag {
  id: string;
  name: string;
  checked: Ref<boolean>;
}

const usages = computed<IUsageGroup[]>(() => [
  {
    group: t('modules.admin.units.editDialog.groups.task'),
    tags: [
      {
        id: EnumUnitGroup.FERTILIZER_USAGE,
        name: t('modules.admin.units.editDialog.inputs.fertilizerUsage'),
        checked: ref(false),
      },
      {
        id: EnumUnitGroup.PESTICIDE_USAGE,
        name: t('modules.admin.units.editDialog.inputs.pesticideUsage'),
        checked: ref(false),
      },
    ],
  },
  {
    group: t('modules.admin.units.editDialog.groups.stock'),
    tags: [
      {
        id: EnumUnitGroup.FERTILIZER,
        name: t('modules.admin.units.editDialog.inputs.fertilizerStockControl'),
        checked: ref(false),
      },
      {
        id: EnumUnitGroup.PESTICIDE,
        name: t('modules.admin.units.editDialog.inputs.pesticideStockControl'),
        checked: ref(false),
      },
    ],
  },
  {
    group: t('modules.admin.units.editDialog.groups.machinery'),
    tags: [
      {
        id: EnumUnitGroup.MACHINERY_PERFORMANCE,
        name: t('modules.admin.units.editDialog.inputs.performance'),
        checked: ref(false),
      },
    ],
  },
]);

const open = async function (data?: Unit) {
  if (data) {
    itm.value = (
      await getItem<Unit>(routes.units.single, { unitId: data?.id })
    ).item;
  } else {
    itm.value = {};
  }

  loadGroups(itm.value.groups);

  itm.value = data ? { ...data } : {};
  visible.value = true;
};

const loadGroups = function (groups: UnitGroup[] | undefined) {
  usages.value.forEach((g) => {
    g.tags.forEach((t) => {
      if (!groups || groups.length == 0) {
        t.checked.value = false;
      } else {
        t.checked.value = groups.some((x) => x.groupId == t.id);
      }
    });
  });
};

const save = async function () {
  if (itm.value && (await formRef.value?.validate())) {
    loading.value = true;
    var groups = usages.value.flatMap((x) =>
      x.tags
        .filter((x) => x.checked.value)
        .map((x) => <UnitGroup>{ groupId: x.id })
    );

    itm.value.groups = groups;
    await fieldbookService.saveUnit(itm.value);
    showSuccess(t('common.saveSuccess'));
    loading.value = false;
    close(true);
  }
};

const close = function (changes: boolean) {
  itm.value = undefined;

  visible.value = false;
  emit('close', <DialogCloseEventArgs>{ changes: changes });
};

const visible = ref(false);
defineExpose({ open, close });
</script>
