<template>
  <DefaultPageLayout>
    <CTable ref="tableRef" :route="routes.tasks.default" :columns="taskColumns" :filter="{ fieldId, dateFrom, dateTo }"
      :add-action="add" :edit-action="edit" :delete-action="deleteTask" row-key="id">
      <template #filter>
        <div class="row q-col-gutter-md items-center">
          <div class="col-xs-12 col-md-auto">
            <CSelect :label="$t('modules.tasks.filter.field')" v-model="fieldId" :route="routes.fields.default"
              option-label="displayname" option-value="id"></CSelect>
          </div>
          <div class="col-xs-12 col-md-auto">
            <CDate :label="$t('modules.tasks.filter.dateFrom')" v-model="dateFrom"></CDate>
          </div>
          <div class="col-xs-12 col-md-auto">
            <CDate :label="$t('modules.tasks.filter.dateTo')" v-model="dateTo"></CDate>
          </div>
        </div>
      </template>
      <template #actions-top>
        <div class="row items-center">
          <CCheckbox v-model="allFieldsExpanded" :label="$t('modules.tasks.expandAll')"></CCheckbox>
        </div>
      </template>
      <template #body-cell-fieldsDisplayValue="{
      props,
    }: {
      props: {
        row: TaskColumnItem,
      },
      col: QTableColumn,
    }">
        <div class="q-gutter-y-xs q-my-sm">
          <template v-for="(f, i) in props.row.taskFields" :key="i">
            <div v-if="i == 0 || fieldsExpanded(props.row)">
              {{
      `${f.fieldIdentifier} ${f.fieldName}${f.area || f.cropIdentifier ? ' / ' : ''}${f.area ? `
              ${formatArea(f.area)}` : ''}${f.cropIdentifier ? ` (${f.cropIdentifier} ${getLocalizedValue(f.cropName, f.cropNameEn)})` : ''}`
    }}
              <template v-if="(props.row.taskFields?.length ?? 0) > 1 &&
      i == 0 &&
      !fieldsExpanded(props.row)
      ">
                &nbsp;
                <a @click="expandFields(props.row)">
                  {{
      $t('modules.tasks.expandMoreFields', {
        count: (<number>props.row.taskFields?.length - 1),
      })
    }}
                </a>
              </template>
            </div>
          </template>

          <!--<div
            v-if="(props.row.fields?.length ?? 0) > 3"
            class="col-auto text-center">
            <CBtn icon="add" label="More..." color="primary" size="sm"></CBtn>
          </div>-->
        </div>
      </template>

      <template #body-cell-currentCrops="{
      props,
    }: {
      props: {
        row: TaskColumnItem,
      },
      col: QTableColumn,
    }">
        <div class="q-gutter-y-xs q-my-sm">
          <template v-for="(f, i) in props.row.fields" :key="i">
            <div v-if="(i == 0 || fieldsExpanded(props.row)) && (f.activePlots?.length ?? 0 > 0)">
              {{ fieldsExpanded(props.row) && (props.row.fields?.length ?? 0) > 1 ? `${f.identifier} ${f.name}: ` : ''
              }}{{ f.activePlots?.map(x => `${x.cropIdentifier} ${getLocalizedValue(x.cropName, x.cropNameEn)}`).join(', ') }}
            </div>
          </template>
        </div>
      </template>
    </CTable>
  </DefaultPageLayout>
</template>

<script setup lang="ts">
import routes from 'src/services/routes';
import { defineAsyncComponent, ref, computed, watch } from 'vue';
import { Task } from 'src/models/fieldbook.models';
import CTable from 'src/components/CTable.vue';
import { showCustomDialog, formatDate, formatArea } from 'src/helpers';
import { QTableColumn } from 'quasar';
import { deleteItem } from 'src/services';
import { useI18n } from 'vue-i18n';
import axiosApi from 'src/services'
import { getLocalizedValue } from 'src/helpers'
import { useFieldbookStore } from 'src/stores/fieldbook.store';
import { EnumAppEnvironment } from 'src/enums/core.enums';

const { t } = useI18n();
const tableRef = ref<InstanceType<typeof CTable>>();
const fieldId = ref<number>();
const dateFrom = ref();
const dateTo = ref();
const allFieldsExpanded = ref(false);
const fieldbookStore = useFieldbookStore();
const appSettings = fieldbookStore.appSettings;

interface TaskColumnItem extends Task {
  showAllFields: boolean;
}

watch(
  () => allFieldsExpanded.value,
  (newValue) => {
    if (!newValue) {
      var tableData = <TaskColumnItem[]>tableRef.value?.data;
      if (tableData) {
        console.log(tableData);
        tableData.forEach((x) => (x.showAllFields = false));
      }
    }
  }
);

const add = async function () {
  var result = await showCustomDialog(
    defineAsyncComponent(
      () => import('src/pages/fieldbook/tasks/TaskEditDialog.vue')
    )
  );

  if (result.confirm) {
    refreshData();
  }
};

const edit = async function (data: Task) {
  var result = await showCustomDialog(
    defineAsyncComponent(
      () => import('src/pages/fieldbook/tasks/TaskEditDialog.vue')
    ),
    { taskId: data.id }
  );

  if (result.confirm) {
    refreshData();
  }
};

const deleteTask = async function (data: Task) {
  let message: string | undefined;

  var fieldCount = data.taskFields?.length ?? 0;
  if (fieldCount > 1) {
    message = t('modules.tasks.confirmDeleteMultiple', { count: fieldCount });
  } else {
    message = t('modules.tasks.confirmDelete');
  }

  if (
    data &&
    (await deleteItem(routes.tasks.single, { taskId: data.id }, message))
  ) {
    refreshData();
  }
};

const fieldsExpanded = function (data: TaskColumnItem) {
  return data.showAllFields || allFieldsExpanded.value;
};

const expandFields = function (data: TaskColumnItem) {
  data.showAllFields = true;
};

const refreshData = function () {
  tableRef.value?.refreshData();
};

const taskColumns = computed<QTableColumn<Task>[]>(() => [
  {
    name: 'dateFrom',
    label: t('modules.tasks.columns.dateFrom'),
    field: 'dateFrom',
    format: (val) => formatDate(val) ?? '',
    sortable: true,
    style: 'width:150px;',
  },
  {
    name: 'fieldsDisplayValue',
    label: t('modules.tasks.columns.fieldName'),
    field: (row: Task) => {
      return row.taskFields
        ?.map((f) => `${f.fieldIdentifier} ${f.fieldName}${f.area || f.cropIdentifier ? ' / ' : ''}${f.area ? ` ${formatArea(f.area)}` : ''}${f.cropIdentifier ? ` (${f.cropIdentifier} ${getLocalizedValue(f.cropName, f.cropNameEn)})` : ''}`)
        .join('\r\n');
    },
    sortable: true,
    align: 'left',
  },
  {
    name: 'taskTypeName',
    label: t('modules.tasks.columns.taskTypeName'),
    field: (row: Task) => getLocalizedValue(row.taskTypeName, row.taskTypeNameEn),
    sortable: true,
    align: 'left',
    style: 'width:250px;',
  },
  {
    name: 'executor',
    label: t('modules.tasks.columns.executor'),
    field: 'executor',
    sortable: true,
    align: 'left',
  },
  {
    name: 'machineName',
    label: t('modules.tasks.columns.machineName'),
    field: 'machineName',
    sortable: true,
    align: 'left',
    style: 'width:150px;',
  },
  {
    name: 'attachmentName',
    label: t('modules.tasks.columns.attachmentName'),
    field: 'attachmentName',
    sortable: true,
    align: 'left',
    style: 'width:150px;',
  },
  {
    name: 'currentCrops',
    label: t('modules.tasks.columns.currentCrops'),
    field: (row: Task) => {
      return (
        row.fields?.filter(x => (x.activePlots?.length ?? 0) > 0)
          ?.map((x) => ((row.fields?.length ?? 0) > 1 ? `${x.identifier} ${x.name}: ` : '') + `${x.activePlots?.map((y) => `${y.cropIdentifier} ${getLocalizedValue(y.cropName, y.cropNameEn)}`).join(', ')}`)
          .join('\r\n') ?? ''
      );
    },
    sortable: true,
    align: 'left',
    style: 'width:250px;',
  },
  {
    name: 'note',
    label: t('modules.tasks.columns.note'),
    field: 'note',
    sortable: true,
    align: 'left',
  },
]);
</script>
