<template>
  <div class="row q-col-gutter-md">
    <div class="col-12">
      <CSelect
        ref="fertilizerRef"
        class="full-width"
        v-model="fertilizer.fertilizerId"
        :route="routes.fertilizers.default"
        :filter="{
          includeStock: true,
          stockOnly: false,
          stockDate: task.dateFrom,
          taskId: task.id,
        }"
        option-value="id"
        :option-label="(row: Fertilizer) => `${getLocalizedValue(row.name, row.nameEn)}`"
        :label="$t('modules.taskEdit.inputs.fertilizer')"
        :rules="[
          () =>
            rules.requiredIf(
              fertilizer.fertilizerId,
              fertilizer.amount != null || fertilizer.amountUnitId != null
            ),
        ]">
        <template
          v-slot:option="scope: { opt: Fertilizer, itemProps: QItemProps }">
          <q-item v-bind="scope.itemProps">
            <q-item-section>
              <q-item-label>
                {{ getLocalizedValue(scope.opt.name, scope.opt.nameEn) }}
              </q-item-label>
              <q-item-label
                caption
                :class="{ 'text-negative': (scope.opt.stock ?? 0) <= 0 }">
                {{ $t('modules.taskEdit.stockCalculation.stock') }}:
                {{ scope.opt.stock }}
                {{ scope.opt.stockUnit }}
              </q-item-label>
            </q-item-section>
          </q-item>
        </template>
      </CSelect>
    </div>
    <div class="col-xs-12 col-md-8">
      <CInput
        type="number"
        v-model="fertilizer.amount"
        :label="$t('modules.taskEdit.inputs.quantity')"
        class="full-width"
        :rules="[
          () =>
            rules.requiredIf(
              fertilizer.amount,
              fertilizer.fertilizerId != null
            ),
        ]"></CInput>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="col">
        <CSelect
          v-model="fertilizer.amountUnitId"
          :options="units"
          option-value="id"
          option-label="name"
          :rules="[
            () =>
              rules.requiredIf(
                fertilizer.amountUnitId,
                fertilizer.amount != null
              ),
          ]"
          :label="$t('modules.taskEdit.inputs.unit')">
          <template v-slot:after>
            <CBtn
              flat
              dense
              rounded
              icon="delete"
              color="negative"
              @click="removeFertilizer"></CBtn>
          </template>
        </CSelect>
      </div>
    </div>
    <div v-if="fertilizerUsage" class="col-12 text-caption">
      <div class="row justify-evenly">
        <div>
          <strong>
            {{ $t('modules.taskEdit.stockCalculation.area') }}:&nbsp;
          </strong>
          <span>
            {{ formatArea(fertilizerUsage.area ?? 0) }}
          </span>
        </div>
        <div>
          <strong>
            {{ $t('modules.taskEdit.stockCalculation.stock') }}:&nbsp;
          </strong>
          <span
            :class="[(fertilizerUsage.stock ?? 0) <= 0 ? 'text-negative' : '']">
            {{ formatDecimal(fertilizerUsage.stock ?? 0) }}
            {{ fertilizerUsage.stockUnit }}
          </span>
        </div>
        <div>
          <strong>
            {{ $t('modules.taskEdit.stockCalculation.quantity') }}:&nbsp;
          </strong>
          <span>
            {{ formatDecimal(fertilizerUsage.amount) }}
            {{ fertilizerUsage.amountUnit }}
          </span>
        </div>
        <div>
          <strong>
            {{ $t('modules.taskEdit.stockCalculation.usage') }}:&nbsp;
          </strong>
          <span>
            {{ formatDecimal(fertilizerUsage.usage ?? 0) }}
            {{ fertilizerUsage.usageUnit }}
          </span>
        </div>
        <div>
          <strong>
            {{ $t('modules.taskEdit.stockCalculation.remainingStock') }}:&nbsp;
          </strong>
          <span
            :class="[
              fertilizerUsage.hasStock ? 'text-positive' : 'text-negative',
            ]">
            {{ formatDecimal(fertilizerUsage.remainingStock ?? 0) }}
            {{ fertilizerUsage.stockUnit }}
          </span>
        </div>
      </div>
      <div
        v-if="!fertilizerUsage.hasStock"
        class="row q-col-gutter-x-sm items-center justify-center text-negative q-mt-sm">
        <CIcon name="warning" color="negative" size="sm"></CIcon>
        <div>{{ $t('modules.taskEdit.stockCalculation.noStock') }}</div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { QItemProps } from 'quasar';
import routes from 'src/services/routes';
import rules from 'src/helpers/rules';
import {
  CalculateUsageResponse,
  Task,
  TaskFertilizer,
  Fertilizer,
  Unit,
} from 'src/models/fieldbook.models';
import { onActivated, onBeforeMount, ref, toRefs, watch } from 'vue';
import { getData } from 'src/services';
import fieldbookService from 'src/services/fieldbook.service';
import { formatArea, formatDecimal, getLocalizedValue } from 'src/helpers';
import CSelect from 'src/components/CSelect.vue';

const emit = defineEmits(['remove']);

const props = withDefaults(
  defineProps<{
    task: Task;
    fertilizer: TaskFertilizer;
  }>(),
  {}
);

const fertilizerRef = ref<InstanceType<typeof CSelect>>();
const { task, fertilizer } = toRefs(props);
const units = ref<Unit[]>();
const fertilizerUsage = ref<CalculateUsageResponse>();
let calculateUsageTimeout: NodeJS.Timeout;

onActivated(() => {
  calculateUsage();
});

onBeforeMount(async () => {
  units.value = [];
  loadData(false);
});

watch(
  () => fertilizer.value?.fertilizerId,
  () => {
    if (fertilizer.value) {
      fertilizer.value.amountUnitId = undefined;
      fertilizer.value.amountUnit = undefined;
      fertilizer.value.amount = undefined;
    }

    loadData(true);
  }
);

watch(
  [
    () => fertilizer.value?.fertilizerId,
    () => fertilizer.value?.amount,
    () => fertilizer.value?.amountUnitId,
  ],
  () => {
    if (calculateUsageTimeout) {
      clearTimeout(calculateUsageTimeout);
    }

    calculateUsageTimeout = setTimeout(() => {
      calculateUsage();
    }, 250);
  }
);

async function calculateUsage() {
  if (
    task.value &&
    task.value.dateFrom &&
    task.value.taskFields &&
    task.value.taskFields.length > 0 &&
    fertilizer.value &&
    fertilizer.value.fertilizerId &&
    fertilizer.value.amount &&
    fertilizer.value.amountUnitId
  ) {
    fertilizerUsage.value = (
      await fieldbookService.calculateFertilizerUsage(
        task.value.taskFields
          ?.filter((x) => x.fieldPlotId != null)
          .map((x) => <number>x.fieldPlotId) ?? [],
        fertilizer.value.fertilizerId,
        fertilizer.value.amount,
        fertilizer.value.amountUnitId,
        task.value.id,
        task.value.dateFrom
      )
    ).data;
  } else {
    fertilizerUsage.value = undefined;
  }

  // Set fertilizer used
  if (fertilizer.value && fertilizerUsage.value) {
    fertilizer.value.amountUsed = fertilizerUsage.value.usage;
    fertilizer.value.amountUsedUnitId = fertilizerUsage.value.usageUnitId;
    fertilizer.value.amountUsedUnit = fertilizerUsage.value.usageUnit;
  } else {
    fertilizer.value.amountUsed = undefined;
    fertilizer.value.amountUsedUnitId = undefined;
    fertilizer.value.amountUsedUnit = undefined;
  }
}

async function loadData(reset: boolean) {
  var fert = fertilizer.value;

  units.value =
    fert && fert.fertilizerId
      ? (
          await getData(routes.fertilizers.units, {
            fertilizerId: fert.fertilizerId,
            forTaskInput: true,
          })
        ).data
      : [];

  if (reset && fert && units.value.length > 0) {
    fert.amountUnitId = units.value[0].id;
  }
}

const validate = async function () {
  await calculateUsage();
  if (!fertilizerUsage.value || fertilizerUsage.value.hasStock) {
    return true;
  }
  return false;
};

const removeFertilizer = function () {
  emit('remove');
};

const refreshStock = async function () {
  await fertilizerRef?.value?.refreshData();
  calculateUsage();
};

defineExpose({ validate, refreshStock });
</script>
