<template>
  <div class="row q-col-gutter-md">
    <div class="col-12">
      <CSelect
        ref="pesticideRef"
        class="full-width"
        v-model="pesticide.pesticideId"
        :route="routes.pesticides.default"
        :filter="{
          includeStock: true,
          stockOnly: false,
          stockDate: task.dateFrom,
          taskId: task.id,
        }"
        option-value="id"
        :option-label="(row: Pesticide) => `${getLocalizedValue(row.name, row.nameEn)}`"
        :label="$t('modules.taskEdit.inputs.pesticide')"
        :rules="[
          () =>
            rules.requiredIf(
              pesticide.pesticideId,
              pesticide.amount != null || pesticide.amountUnitId != null
            ),
        ]">
        <template
          v-slot:option="scope: { opt: Pesticide, itemProps: QItemProps }">
          <q-item v-bind="scope.itemProps">
            <q-item-section>
              <q-item-label>
                {{ getLocalizedValue(scope.opt.name, scope.opt.nameEn) }}
              </q-item-label>
              <q-item-label
                caption
                :class="{ 'text-negative': (scope.opt.stock ?? 0) <= 0 }">
                {{ $t('modules.taskEdit.stockCalculation.stock') }}:
                {{ scope.opt.stock }}
                {{ scope.opt.stockUnit }}
              </q-item-label>
            </q-item-section>
          </q-item>
        </template>
      </CSelect>
    </div>
    <div class="col-xs-12 col-md-8">
      <CInput
        type="number"
        v-model="pesticide.amount"
        :label="$t('modules.taskEdit.inputs.quantity')"
        class="full-width"
        :rules="[
          () =>
            rules.requiredIf(pesticide.amount, pesticide.pesticideId != null),
        ]"></CInput>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="col">
        <CSelect
          v-model="pesticide.amountUnitId"
          :options="units"
          option-value="id"
          option-label="name"
          :rules="[
            () =>
              rules.requiredIf(
                pesticide.amountUnitId,
                pesticide.amount != null
              ),
          ]"
          :label="$t('modules.taskEdit.inputs.unit')">
          <template v-slot:after>
            <CBtn
              flat
              dense
              rounded
              icon="delete"
              color="negative"
              @click="removePesticide"></CBtn>
          </template>
        </CSelect>
      </div>
    </div>
    <div class="col-12 text-caption" v-if="pesticideUsage">
      <div class="row justify-evenly">
        <div>
          <strong>
            {{ $t('modules.taskEdit.stockCalculation.area') }}:&nbsp;
          </strong>
          <span>
            {{ formatArea(pesticideUsage.area ?? 0) }}
          </span>
        </div>
        <div>
          <strong>
            {{ $t('modules.taskEdit.stockCalculation.stock') }}:&nbsp;
          </strong>
          <span
            :class="[(pesticideUsage.stock ?? 0) <= 0 ? 'text-negative' : '']">
            {{ formatDecimal(pesticideUsage.stock ?? 0) }}
            {{ pesticideUsage.stockUnit }}
          </span>
        </div>
        <div>
          <strong>
            {{ $t('modules.taskEdit.stockCalculation.quantity') }}:&nbsp;
          </strong>
          <span>
            {{ formatDecimal(pesticideUsage.amount) }}
            {{ pesticideUsage.amountUnit }}
          </span>
        </div>
        <div>
          <strong>
            {{ $t('modules.taskEdit.stockCalculation.usage') }}:&nbsp;
          </strong>
          <span>
            {{ formatDecimal(pesticideUsage.usage ?? 0) }}
            {{ pesticideUsage.usageUnit }}
          </span>
        </div>
        <div>
          <strong>
            {{ $t('modules.taskEdit.stockCalculation.remainingStock') }}:&nbsp;
          </strong>
          <span
            :class="[
              pesticideUsage.hasStock ? 'text-positive' : 'text-negative',
            ]">
            {{ formatDecimal(pesticideUsage.remainingStock ?? 0) }}
            {{ pesticideUsage.stockUnit }}
          </span>
        </div>
      </div>
      <div
        v-if="!pesticideUsage.hasStock"
        class="row q-col-gutter-x-sm items-center justify-center text-negative q-mt-sm">
        <CIcon name="warning" color="negative" size="sm"></CIcon>
        <div>{{ $t('modules.taskEdit.stockCalculation.noStock') }}</div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { QItemProps } from 'quasar';
import routes from 'src/services/routes';
import rules from 'src/helpers/rules';
import {
  CalculateUsageResponse,
  Task,
  TaskPesticide,
  Pesticide,
  Unit,
} from 'src/models/fieldbook.models';
import { onActivated, onBeforeMount, ref, toRefs, watch } from 'vue';
import { getData } from 'src/services';
import fieldbookService from 'src/services/fieldbook.service';
import { formatArea, formatDecimal, getLocalizedValue } from 'src/helpers';
import CSelect from 'src/components/CSelect.vue';

const emit = defineEmits(['remove']);

const props = withDefaults(
  defineProps<{
    task: Task;
    pesticide: TaskPesticide;
  }>(),
  {}
);

const pesticideRef = ref<InstanceType<typeof CSelect>>();
const { task, pesticide } = toRefs(props);
const units = ref<Unit[]>();
const pesticideUsage = ref<CalculateUsageResponse>();
let calculateUsageTimeout: NodeJS.Timeout;

onActivated(() => {
  calculateUsage();
});

onBeforeMount(async () => {
  units.value = [];
  loadData(false);
});

watch(
  () => pesticide.value?.pesticideId,
  () => {
    if (pesticide.value) {
      pesticide.value.amountUnitId = undefined;
      pesticide.value.amountUnit = undefined;
      pesticide.value.amount = undefined;
    }

    loadData(true);
  }
);

watch(
  [
    () => pesticide.value?.pesticideId,
    () => pesticide.value?.amount,
    () => pesticide.value?.amountUnitId,
  ],
  () => {
    if (calculateUsageTimeout) {
      clearTimeout(calculateUsageTimeout);
    }

    calculateUsageTimeout = setTimeout(() => {
      calculateUsage();
    }, 250);
  }
);

async function calculateUsage() {
  if (
    task.value &&
    task.value.dateFrom &&
    task.value.taskFields &&
    task.value.taskFields.length > 0 &&
    pesticide.value &&
    pesticide.value.pesticideId &&
    pesticide.value.amount &&
    pesticide.value.amountUnitId
  ) {
    pesticideUsage.value = (
      await fieldbookService.calculatePesticideUsage(
        task.value.taskFields
          ?.filter((x) => x.fieldPlotId != null)
          .map((x) => <number>x.fieldPlotId) ?? [],
        pesticide.value.pesticideId,
        pesticide.value.amount,
        pesticide.value.amountUnitId,
        task.value.id,
        task.value.dateFrom
      )
    ).data;
  } else {
    pesticideUsage.value = undefined;
  }

  // Set pesticide used
  if (pesticide.value && pesticideUsage.value) {
    pesticide.value.amountUsed = pesticideUsage.value.usage;
    pesticide.value.amountUsedUnitId = pesticideUsage.value.usageUnitId;
    pesticide.value.amountUsedUnit = pesticideUsage.value.usageUnit;
  } else {
    pesticide.value.amountUsed = undefined;
    pesticide.value.amountUsedUnitId = undefined;
    pesticide.value.amountUsedUnit = undefined;
  }
}

async function loadData(reset: boolean) {
  var pest = pesticide.value;

  units.value =
    pest && pest.pesticideId
      ? (
          await getData(routes.pesticides.units, {
            pesticideId: pest.pesticideId,
            forTaskInput: true,
          })
        ).data
      : [];

  if (reset && pest && units.value.length > 0) {
    pest.amountUnitId = units.value[0].id;
  }
}

const validate = async function () {
  await calculateUsage();
  if (!pesticideUsage.value || pesticideUsage.value.hasStock) {
    return true;
  }
  return false;
};

const removePesticide = function () {
  emit('remove');
};

const refreshStock = async function () {
  await pesticideRef?.value?.refreshData();
  calculateUsage();
};

defineExpose({ validate, refreshStock });
</script>
