<template>
  <CDialog
    ref="cDialogRef"
    icon="task_alt"
    :loading="loading"
    width="1200px"
    height="100%"
    @close="close(false)">
    <q-stepper
      v-if="itm"
      class="fit no-shadow"
      :contracted="$q.screen.lt.md"
      v-model="step"
      keep-alive
      ref="stepper"
      color="secondary"
      done-color="green-7"
      animated>
      <q-step
        :name="steps.Basic"
        :title="$t('modules.taskEdit.basic.title')"
        icon="task_alt"
        :done="step > steps.Basic">
        <CForm ref="basicFormRef">
          <div>
            <CSectionTitle icon="add_task">
              {{ $t('modules.taskEdit.basic.basicInfo') }}
            </CSectionTitle>
          </div>
          <div class="text-caption q-mt-sm q-mb-md">
            {{ $t('modules.taskEdit.basic.basicInfoDescription') }}
          </div>

          <div class="row q-col-gutter-md">
            <div class="col-12">
              <FieldPicker v-model="itmFields"></FieldPicker>
            </div>
            <div class="col-xs-12 col-md-6">
              <CDate
                v-model="itm.dateFrom"
                :rules="[rules.required]"
                :label="$t('modules.taskEdit.inputs.from')"
                @change="onDateFromChanged"
                time></CDate>
            </div>
            <div class="col-xs-12 col-md-6">
              <CDate
                v-model="itm.dateTo"
                :rules="[rules.required]"
                :label="$t('modules.taskEdit.inputs.to')"
                time></CDate>
            </div>
            <div class="col-12">
              <CSelect
                v-model="taskTypeId"
                :route="routes.tasks.types.default"
                option-value="id"
                :option-label="(row: TaskType) => `${getLocalizedValue(row.name, row.nameEn)}`"
                :rules="[rules.required]"
                :label="$t('modules.taskEdit.inputs.taskType')"></CSelect>
            </div>
            <div class="col-12">
              <CInput
                v-model="itm.executor"
                :label="$t('modules.taskEdit.inputs.executor')"></CInput>
            </div>
            <div class="col-12" v-if="taskType?.cropStatusEditable">
              <CSelect
                :label="$t('modules.taskEdit.inputs.cropStatusAfter')"
                v-model="itm.cropStatusAfter"
                option-value="id"
                option-label="text"
                :rules="[rules.required]"
                :options="cropStatuses"></CSelect>
            </div>
          </div>
        </CForm>
      </q-step>
      <q-step
        :name="steps.Plots"
        :title="$t('modules.taskEdit.plots.title')"
        icon="mdi-land-plots"
        :done="step > steps.Plots">
        <CForm ref="plotsFormRef">
          <div>
            <CSectionTitle icon="mdi-calendar-check">
              {{ formatDate(itm.dateFrom) }} -
              {{ getLocalizedValue(taskType?.name, taskType?.nameEn) }}
            </CSectionTitle>
          </div>
          <div class="text-caption q-mt-sm q-mb-md">
            {{ $t('modules.taskEdit.plots.description') }}
          </div>

          <div class="q-gutter-y-md q-mt-md">
            <template v-for="pg in plotsGrouped" :key="pg.field.id">
              <CMarkupTable>
                <thead>
                  <tr>
                    <th colspan="100" class="text-left">
                      <CSectionTitle icon="mdi-land-fields">
                        {{ pg.field.identifier }} {{ pg.field.name }}
                      </CSectionTitle>
                    </th>
                  </tr>
                  <tr>
                    <th style="width: 50px"></th>
                    <th
                      class="text-left"
                      style="width: 200px"
                      v-if="taskType?.requiresTime">
                      {{ $t('modules.taskEdit.plots.columns.durationMinutes') }}
                    </th>
                    <th class="text-left" style="width: 150px">
                      {{ $t('modules.taskEdit.plots.columns.area') }}
                    </th>
                    <th class="text-left">
                      {{ $t('modules.taskEdit.plots.columns.crop') }}
                    </th>
                    <th class="text-right">
                      {{ $t('modules.taskEdit.plots.columns.sowingDate') }}
                    </th>
                    <th class="text-right">
                      {{ $t('modules.taskEdit.plots.columns.harvestDate') }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <template v-for="p in pg.plots" :key="p.fieldPlot.id">
                    <tr v-if="pg.showAll || p.checked || p.predicted">
                      <td>
                        <CCheckbox
                          v-model="p.checked"
                          @update:model-value="
                            onPlotCheckedChange(p, pg)
                          "></CCheckbox>
                      </td>
                      <td class="text-left" v-if="taskType?.requiresTime">
                        <CInput
                          v-if="p.checked"
                          v-model="p.taskField.duration"
                          type="number"
                          :rules="[rules.required]"
                          :label="
                            $t('modules.taskEdit.plots.columns.durationMinutes')
                          "></CInput>
                      </td>
                      <td class="text-left">
                        {{ formatArea(p.fieldPlot.area) }}
                      </td>
                      <td class="text-left">
                        <strong>
                          {{
                            $t(`crop.types.typeShort${p.fieldPlot.cropType}`)
                          }}:&nbsp;

                          <CTooltip>
                            {{ $t(`crop.types.type${p.fieldPlot.cropType}`) }}
                          </CTooltip>
                        </strong>
                        <span>
                          {{
                            `${p.fieldPlot.cropIdentifier} ${getLocalizedValue(
                              p.fieldPlot.cropName,
                              p.fieldPlot.cropNameEn
                            )}`
                          }}
                        </span>
                      </td>
                      <td class="text-right">
                        {{ formatDate(p.fieldPlot.sowingDate) }}
                      </td>
                      <td class="text-right">
                        {{ formatDate(p.fieldPlot.harvestDate) }}
                      </td>
                    </tr>
                  </template>
                  <tr v-if="pg.error">
                    <td colspan="100" class="text-center">
                      <div
                        class="row items-center justify-center text-negative q-col-gutter-x-sm">
                        <CIcon
                          name="warning"
                          color="negative"
                          size="sm"></CIcon>
                        <span class="text-negative">{{ pg.error }}</span>
                      </div>
                    </td>
                  </tr>
                  <tr v-if="pg.hasMore">
                    <td colspan="100" class="text-center">
                      <CBtn
                        color="primary"
                        :icon="pg.showAll ? 'unfold_less' : 'unfold_more'"
                        :label="
                          pg.showAll
                            ? $t('common.showLess')
                            : $t('common.showMore')
                        "
                        @click="toggleAllPlots(pg)"></CBtn>
                    </td>
                  </tr>
                </tbody>
              </CMarkupTable>
            </template>
            <div
              class="text-center row q-col-gutter-sm items-center justify-center">
              <div>
                <CBtn
                  color="primary"
                  icon="edit"
                  @click="openCropRotationDialog"
                  :label="$t('modules.taskEdit.plots.editCropRotation')"></CBtn>
              </div>
              <div v-if="taskType?.requiresTime">
                <CBtn
                  color="primary"
                  icon="update"
                  @click="calculateDuration"
                  :label="
                    $t('modules.taskEdit.plots.calculateDuration')
                  "></CBtn>
              </div>
            </div>
            <div v-if="taskType?.requiresTime" class="q-gutter-md">
              <CSectionTitle icon="timer">
                {{ $t('modules.taskEdit.plots.taskDuration') }}
              </CSectionTitle>
              <div class="text-caption">
                {{ $t('modules.taskEdit.plots.taskDurationDescription') }}
              </div>
              <div>
                {{ formatDate(itm.dateFrom, true) }} -
                {{ formatDate(itm.dateTo, true) }} =
                <strong>{{ getTaskDurationMinutes() }} min.</strong>
              </div>
            </div>
          </div>
        </CForm>
      </q-step>
      <q-step
        v-if="taskType?.systemType == EnumSystemTaskType.FERTILIZING"
        :name="steps.Fertilizer"
        :title="$t('modules.taskEdit.fertilizing.title')"
        icon="mdi-sack"
        :done="step > steps.Fertilizer">
        <CForm ref="fertilizersFormRef">
          <div>
            <CSectionTitle icon="mdi-sack">
              {{ $t('modules.taskEdit.fertilizing.title') }}
            </CSectionTitle>
          </div>

          <div class="text-caption q-mt-sm">
            {{ $t('modules.taskEdit.fertilizing.description') }}
          </div>

          <div class="q-col-gutter-y-md">
            <div
              class="row q-col-gutter-md"
              v-for="(fertilizer, index) in fertilizers"
              :key="index">
              <div class="col-12" v-if="index > 0">
                <q-separator></q-separator>
              </div>
              <div class="col-12">
                <TaskFertilizerInput
                  ref="taskFertilizersInputRef"
                  :task="itm"
                  :fertilizer="fertilizer.item"
                  @remove="removeFertilizer(fertilizer)"></TaskFertilizerInput>
              </div>
            </div>

            <div class="row q-col-gutter-x-md justify-center q-mt-sm">
              <div>
                <CBtn color="positive" icon="add" @click="addFertilizer">
                  {{ $t('modules.taskEdit.fertilizing.addRow') }}
                </CBtn>
              </div>
              <div>
                <CBtn
                  color="primary"
                  icon="edit"
                  @click="openFertilizerStockDialog"
                  :label="
                    $t('modules.taskEdit.stockCalculation.editStock')
                  "></CBtn>
              </div>
            </div>
            <div class="text-caption text-negative text-center q-mt-md">
              {{ $t('modules.taskEdit.fertilizing.stockDescription') }}
            </div>
          </div>
        </CForm>
      </q-step>
      <q-step
        v-if="taskType?.systemType == EnumSystemTaskType.PEST_CONTROL"
        :name="steps.Pesticide"
        :title="$t('modules.taskEdit.spraying.title')"
        icon="mdi-sprinkler-fire"
        :done="step > steps.Pesticide">
        <CForm ref="pesticidesFormRef">
          <div>
            <CSectionTitle icon="mdi-sprinkler-fire">
              {{ $t('modules.taskEdit.spraying.title') }}
            </CSectionTitle>
          </div>

          <div class="text-caption q-mt-sm">
            {{ $t('modules.taskEdit.spraying.description') }}
          </div>

          <div class="q-col-gutter-y-md">
            <div
              class="row q-col-gutter-md"
              v-for="(pesticide, index) in pesticides"
              :key="pesticide.key">
              <div class="col-12" v-if="index > 0">
                <q-separator></q-separator>
              </div>
              <div class="col-12">
                <TaskPesticideInput
                  ref="taskPesticidesInputRef"
                  :task="itm"
                  :pesticide="pesticide.item"
                  @remove="removePesticide(pesticide)"></TaskPesticideInput>
              </div>
            </div>

            <div class="row q-col-gutter-x-md justify-center q-mt-sm">
              <div>
                <CBtn color="positive" icon="add" @click="addPesticide">
                  {{ $t('modules.taskEdit.spraying.addRow') }}
                </CBtn>
              </div>

              <div>
                <CBtn
                  color="primary"
                  icon="edit"
                  @click="openPesticideStockDialog"
                  :label="
                    $t('modules.taskEdit.stockCalculation.editStock')
                  "></CBtn>
              </div>
            </div>

            <div class="text-caption text-negative text-center q-mt-md">
              {{ $t('modules.taskEdit.spraying.stockDescription') }}
            </div>

            <div>
              <CCheckbox
                v-model="itm.treatmentSuccessful"
                :label="
                  $t('modules.taskEdit.inputs.treatmentSuccess')
                "></CCheckbox>
            </div>
          </div>
        </CForm>
      </q-step>
      <q-step
        v-if="taskType?.systemType == EnumSystemTaskType.HARVESTING"
        :name="steps.Harvest"
        :title="$t('modules.taskEdit.harvesting.title')"
        icon="mdi-barley-off"
        :done="step > steps.Harvest">
        <CForm ref="harvestFormRef">
          <div class="q-mb-md">
            <CSectionTitle icon="mdi-barley-off">
              {{ $t('modules.taskEdit.harvesting.title') }}
            </CSectionTitle>
          </div>
          <div class="text-caption q-mt-sm q-mb-md">
            {{ $t('modules.taskEdit.harvesting.description') }}
          </div>
          <div class="row q-col-gutter-md">
            <div class="col-12">
              <CInput
                v-model="itm.harvestAmount"
                type="number"
                :label="$t('modules.taskEdit.inputs.harvestAmount')"></CInput>
            </div>
          </div>
        </CForm>
      </q-step>
      <q-step
        :name="steps.Machinery"
        :title="$t('modules.taskEdit.machinery.title')"
        icon="agriculture"
        :done="step > steps.Machinery">
        <div class="q-mb-md">
          <CSectionTitle icon="agriculture">
            {{ $t('modules.taskEdit.machinery.title') }}
          </CSectionTitle>
        </div>

        <div class="text-caption q-mt-sm q-mb-md">
          {{ $t('modules.taskEdit.machinery.description') }}
        </div>
        <div class="row q-col-gutter-md">
          <div class="col-12">
            <CSelect
              v-model="itm.equipmentId"
              :route="routes.machinery.default"
              option-value="id"
              option-label="name"
              :label="$t('modules.taskEdit.inputs.machine')"></CSelect>
          </div>
          <div class="col-12">
            <CSelect
              v-model="itm.attachedEquipmentId"
              :route="routes.machinery.default"
              option-value="id"
              option-label="name"
              :label="
                $t('modules.taskEdit.inputs.machineAttachment')
              "></CSelect>
          </div>
        </div>
      </q-step>
      <q-step
        :name="steps.Misc"
        :title="$t('modules.taskEdit.misc.title')"
        icon="book"
        :done="step > steps.Misc">
        <CForm ref="miscFormRef">
          <div v-if="itm" class="q-col-gutter-md">
            <div>
              <div class="q-mb-md">
                <CSectionTitle icon="edit">
                  {{ $t('modules.taskEdit.misc.title') }}
                </CSectionTitle>
              </div>
              <div>
                <CInput
                  v-model="itm.note"
                  type="textarea"
                  :label="$t('modules.taskEdit.inputs.note')"></CInput>
              </div>
            </div>

            <div>
              <div>
                <CSectionTitle icon="description">
                  {{ $t('modules.taskEdit.misc.attachments') }}
                </CSectionTitle>
              </div>

              <div class="text-caption q-mt-sm">
                {{ $t('modules.taskEdit.misc.addAttachments') }}
              </div>
              <div class="q-col-gutter-md">
                <div
                  class="row q-col-gutter-md"
                  v-for="doc in documents"
                  v-bind:key="doc.key">
                  <div class="col-xs-12 col-md-6">
                    <CFile
                      ref="fileRefs"
                      v-model="doc.item.fileId"
                      :label="$t('modules.taskEdit.inputs.file')"
                      @selected="(file: File) => setFileDescription(doc.item, file)"></CFile>
                  </div>

                  <div class="col-xs-12 col-md-6">
                    <CSelect
                      v-model="doc.item.documentTypeId"
                      :route="routes.documents.types.default"
                      option-value="id"
                      :option-label="(row: DocumentType) => `${getLocalizedValue(row.name, row.nameEn)}`"
                      :label="$t('modules.taskEdit.inputs.documentType')"
                      :rules="[
                        () =>
                          rules.requiredIf(
                            doc.item.description,
                            doc.item.fileId != null
                          ),
                      ]"></CSelect>
                  </div>
                  <div class="col-12">
                    <CInput
                      v-model="doc.item.description"
                      :label="$t('modules.taskEdit.inputs.description')"
                      :rules="[
                        () =>
                          rules.requiredIf(
                            doc.item.description,
                            doc.item.fileId != null
                          ),
                      ]">
                      <template #after>
                        <div class="row q-col-gutter-x-xs">
                          <div>
                            <CBtn
                              flat
                              dense
                              rounded
                              icon="delete"
                              color="negative"
                              @click="removeRow(doc)"></CBtn>
                          </div>
                          <div>
                            <CBtn
                              flat
                              dense
                              rounded
                              icon="add"
                              color="positive"
                              @click="addRow()"></CBtn>
                          </div>
                        </div>
                      </template>
                    </CInput>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </CForm>
      </q-step>
    </q-stepper>

    <template #actions>
      <div class="row full-width justify-between">
        <div class="col" style="max-width: 200px">
          <CBtn
            v-if="step > 1"
            flat
            color="primary"
            @click="previousStep"
            :label="$t('modules.taskEdit.previous')"
            style="width: 100%"
            icon="arrow_back" />
        </div>
        <div class="col" style="max-width: 200px">
          <CBtn
            v-if="!isLastStep"
            @click="nextStep"
            color="primary"
            :label="$t('modules.taskEdit.next')"
            :loading="buttonLoading"
            style="width: 100%"
            icon-right="arrow_forward" />
          <CBtnDropdown
            v-else
            @click="saveAndClose"
            color="primary"
            icon="done"
            :label="$t('modules.taskEdit.save')"
            :loading="buttonLoading"
            split
            style="width: 100%">
            <CList class="bg-primary text-white">
              <q-item clickable v-close-popup @click="saveAndContinue">
                <q-item-section side>
                  <q-icon name="add_task" color="white" text-color="white" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>
                    {{ $t('modules.taskEdit.saveAndContinue') }}
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-item clickable v-close-popup @click="saveAndNew">
                <q-item-section side>
                  <q-icon name="add_task" color="white" text-color="white" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>
                    {{ $t('modules.taskEdit.saveAndNew') }}
                  </q-item-label>
                </q-item-section>
              </q-item>

              <q-item clickable v-close-popup @click="nextStep">
                <q-item-section side>
                  <q-icon name="close" color="red-4" />
                </q-item-section>
                <q-item-section class="text-red-4">
                  <q-item-label>
                    {{ $t('dialog.cancel') }}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </CList>
          </CBtnDropdown>
        </div>
      </div>
    </template>
  </CDialog>
</template>
<script setup lang="ts">
import { QForm, QStepper } from 'quasar';
import { computed, defineAsyncComponent, onMounted, ref, watch } from 'vue';
import { DialogCloseEventArgs, ForItem } from 'src/models/core.models';
import { getData, getItem, saveItem } from 'src/services';
import routes from 'src/services/routes';
import rules from 'src/helpers/rules';
import {
  Task,
  TaskField,
  //TaskFieldPlot,
  Document,
  DocumentType,
  TaskFertilizer,
  TaskPesticide,
  Field,
  FieldPlot,
  TaskType,
  DeviceTrip,
  TaskDurationForFieldPlot,
} from 'src/models/fieldbook.models';
import { EnumSystemTaskType, EnumCropStatus } from 'src/enums/fieldbook.enums';
import { useAuthStore } from 'src/stores/auth.store';
import {
  formatArea,
  formatDate,
  getLocalizedValue,
  showConfirm,
  showCustomDialog,
  showError,
} from 'src/helpers';
import TaskPesticideInput from './TaskPesticideInput.vue';
import TaskFertilizerInput from './TaskFertilizerInput.vue';
import { useDialogPluginComponent } from 'quasar';
import { useI18n } from 'vue-i18n';
import { axiosApi } from 'src/services';
import fieldbookService from 'src/services/fieldbook.service';
import CFile from 'src/components/CFile.vue';
import CDialog from 'src/components/CDialog.vue';
import FieldPicker from 'src/pages/fieldbook/field/FieldPicker.vue';

interface PlotGroup {
  field: Field;
  plots: Plot[];
  showAll: boolean;
  hasMore: boolean;
  error?: string;
}

interface Plot {
  checked: boolean;
  predicted: boolean;
  fieldPlot: FieldPlot;
  taskField: TaskField;
}

const { t } = useI18n();
const emit = defineEmits([
  'close',
  // REQUIRED; need to specify some events that your
  // component will emit through useDialogPluginComponent()
  ...useDialogPluginComponent.emits,
]);

const props = defineProps<{
  // ...your custom props
  taskId?: number;
  fields?: Field[];
  trip?: DeviceTrip;
}>();

const authStore = useAuthStore();
const isNew = ref(false);
const step = ref(1);
const stepper = ref<QStepper>();
const loading = ref(false);
const buttonLoading = ref(false);
const itm = ref<Task>();
const itmFields = ref<Field[]>([]);
const documents = ref<ForItem<Document>[]>([]);
const pesticides = ref<ForItem<TaskPesticide>[]>([]);
const fertilizers = ref<ForItem<TaskFertilizer>[]>([]);
const taskType = ref<TaskType>();
const plotsGrouped = ref<PlotGroup[]>([]);

// Refs
const basicFormRef = ref<InstanceType<typeof QForm>>();
const plotsFormRef = ref<InstanceType<typeof QForm>>();
//const sowingFormRef = ref<InstanceType<typeof QForm>>();
const pesticidesFormRef = ref<InstanceType<typeof QForm>>();
const fertilizersFormRef = ref<InstanceType<typeof QForm>>();
//const harvestFormRef = ref<InstanceType<typeof QForm>>();
const miscFormRef = ref<InstanceType<typeof QForm>>();
const fileRefs = ref<InstanceType<typeof CFile>[]>();
const taskPesticidesInputRef = ref<InstanceType<typeof TaskPesticideInput>[]>();
const taskFertilizersInputRef =
  ref<InstanceType<typeof TaskFertilizerInput>[]>();

const cropStatuses = fieldbookService.getTaskTypeCropStatuses();

let plotsLoaded = false;

const steps = {
  Basic: 1,
  Plots: 2,
  //Sowing: 10,
  Fertilizer: 11,
  Pesticide: 12,
  Harvest: 13,
  Machinery: 80,
  Misc: 90,
};

const cDialogRef = ref<InstanceType<typeof CDialog>>();

const { dialogRef, /*onDialogHide,*/ onDialogOK, onDialogCancel } =
  useDialogPluginComponent();
// dialogRef      - Vue ref to be applied to QDialog
// onDialogHide   - Function to be used as handler for @hide on QDialog
// onDialogOK     - Function to call to settle dialog with "ok" outcome
//                    example: onDialogOK() - no payload
//                    example: onDialogOK({ /*...*/ }) - with payload
// onDialogCancel - Function to call to settle dialog with "cancel" outcome

onMounted(async () => {
  var taskId = props.taskId;
  var trip = props.trip;

  loading.value = true;

  plotsLoaded = false;

  var task: Task;
  if (taskId) {
    // Edit task
    task = (await getItem<Task>(routes.tasks.single, { taskId: taskId })).item;

    if (task) {
      itmFields.value = getFieldsFromTaskFields(task.taskFields);

      if (task.documents && task.documents.length > 0) {
        documents.value = task.documents.map((x) => new ForItem(x));
      } else {
        documents.value = [new ForItem<Document>({})];
      }

      if (task.fertilizers && task.fertilizers.length > 0) {
        fertilizers.value = task.fertilizers.map((x) => new ForItem(x));
      } else {
        fertilizers.value = [new ForItem<TaskPesticide>({})];
      }

      if (task.pesticides && task.pesticides.length > 0) {
        pesticides.value = task.pesticides.map((x) => new ForItem(x));
      } else {
        pesticides.value = [new ForItem<TaskFertilizer>({})];
      }
      await Promise.all([loadTaskType(task.taskTypeId)]);
    }
    isNew.value = false;
  } else {
    // New task
    task = newTask(false);

    // Fields from props
    var flds = props.fields;
    if (flds && flds.length > 0) {
      itmFields.value = [...flds];
    }

    // Task from tracking device
    if (trip) {
      task.trackingTripId = trip.id;

      if (trip.fieldId) {
        itmFields.value = [
          {
            id: trip.fieldId,
            identifier: trip.fieldIdentifier,
            name: trip.fieldName,
          },
        ];
      }

      if (trip.machineId) {
        task.equipmentId = trip.machineId;
      }

      if (trip.attachmentId) {
        task.attachedEquipmentId = trip.attachmentId;
      }

      task.dateFrom = trip.startTime;
      task.dateTo = trip.endTime;
    }
  }

  // OK
  itm.value = task;
  loading.value = false;
});

watch(
  () => cDialogRef.value,
  (newVal) => (dialogRef.value = newVal?.dialogRef)
);

watch(
  () => step.value,
  (newValue) => {
    onStepLoaded(newValue);
  }
);

watch(
  () => itmFields.value,
  () => {
    plotsLoaded = false;
  },
  { deep: true }
);

const taskTypeId = computed({
  get() {
    return itm.value?.taskTypeId;
  },
  async set(val) {
    if (itm.value) {
      itm.value.taskTypeId = val;

      await loadTaskType(val);

      itm.value.pesticides = [{}];
      itm.value.fertilizers = [{}];

      // Map
      itm.value.cropStatusAfter = taskType.value?.cropStatus;

      // Reload plots, as task type can affect selections for new fields
      plotsLoaded = false;
    }
  },
});

const isLastStep = computed(() => {
  const stepNum = step.value;
  return stepNum == steps.Misc ? true : false;
});

const onDateFromChanged = function (val: string) {
  if (itm.value) {
    itm.value.dateTo = val;
  }
};

const onPlotCheckedChange = function (p: Plot, fp: PlotGroup) {
  // Only same type of plot is allowed for one task
  if (p.checked) {
    fp.plots
      .filter((x) => x.fieldPlot.cropType != p.fieldPlot.cropType)
      .forEach((x) => (x.checked = false));
  }

  calculateDuration();
};

const onStepLoaded = async function (step: number) {
  if (step == steps.Basic) {
    basicFormRef.value?.resetValidation();
  } else if (step == steps.Plots) {
    await loadPlots();

    if (isNew.value) {
      calculateDuration();
    }
  } else if (step == steps.Pesticide) {
    if (itm.value) {
      //itm.value.fields = taskFields.value; TODO: zakomentiral mihaj 23.7.2024 - predelava

      // Treatment success
      if (taskType.value?.systemType == EnumSystemTaskType.PEST_CONTROL) {
        if (itm.value.treatmentSuccessful == null) {
          itm.value.treatmentSuccessful = true; // Default
        }
      } else {
        // Not needed for now for other task types
        itm.value.treatmentSuccessful = null;
      }
    }
  } /*else if (step == steps.Sowing) {
    await loadCrops(taskType.value?.systemType);
  } else if (step == steps.Harvest) {
    await loadCrops(taskType.value?.systemType);
  }*/
};

const newTask = function (continuePrevious = false) {
  var task = new Task();
  task = new Task();
  task.executor = authStore.userDisplayname;

  if (continuePrevious && itm.value) {
    // Continue, keep fields from previous and some other properties
    var previousTask = itm.value;
    var taskDate = previousTask.dateTo?.toDate().dateOnly().toJSON();
    task.dateFrom = taskDate;
    task.dateTo = taskDate;
  } else {
    // Set as new
    itmFields.value = [];
    task.dateFrom = new Date().toDate().toJSON();
    task.dateTo = new Date().toDate().toJSON();
  }

  //taskFields.value = [];
  documents.value = [new ForItem<Document>({})];
  pesticides.value = [new ForItem<TaskPesticide>({})];
  fertilizers.value = [new ForItem<TaskFertilizer>({})];

  isNew.value = true;
  itm.value = task;

  return task;
};

const getFieldsFromTaskFields = function (
  taskFields: TaskField[] | undefined
): Task[] {
  var fields: Field[] = [];

  if (taskFields == null || taskFields.length == 0) {
    return fields;
  }

  var grouped = Object.groupBy(taskFields, (tf) => <number>tf.fieldId);

  for (var key in grouped) {
    var taskField = grouped[key]?.at(0);
    if (taskField) {
      fields.push(mapTaskFieldToField(taskField));
    }
  }

  return fields;
};

const loadTaskType = async function (id: number | undefined) {
  if (id) {
    taskType.value = (
      await getItem<TaskType>(routes.tasks.types.single, { taskTypeId: id })
    ).item;
  } else {
    taskType.value = undefined;
  }
};

const openCropRotationDialog = async function () {
  await showCustomDialog(
    defineAsyncComponent(
      () => import('src/pages/fieldbook/crop_rotation/CropRotationDialog.vue')
    )
  );

  // Refresh plots
  await loadPlots(true);
  await calculateDuration();
};

const openFertilizerStockDialog = async function () {
  await showCustomDialog(
    defineAsyncComponent(
      () => import('src/pages/fieldbook/fertilizers/FertilizerStockDialog.vue')
    )
  );

  // Refresh
  refreshFertilizerStock();
};

const openPesticideStockDialog = async function () {
  await showCustomDialog(
    defineAsyncComponent(
      () => import('src/pages/fieldbook/pesticides/PesticideStockDialog.vue')
    )
  );

  // Refresh
  refreshPesticideStock();
};

const mapTaskFieldToField = function (field: TaskField) {
  return <Field>{
    id: field.fieldId,
    identifier: field.fieldIdentifier,
    name: field.fieldName,
  };
};

const addFertilizer = function () {
  fertilizers.value.push(new ForItem<TaskFertilizer>({}));
};

const removeFertilizer = function (item: ForItem<TaskFertilizer>) {
  var itms = fertilizers.value;

  if (itms.length > 0) {
    itms.splice(itms.indexOf(item), 1);
  }

  if (itms.length == 0) {
    itms.push(new ForItem<TaskFertilizer>({}));
  }
};

const refreshFertilizerStock = function () {
  var fertInputRefs = taskFertilizersInputRef.value;
  fertInputRefs?.forEach((x) => x.refreshStock());
};

const addPesticide = function () {
  pesticides.value.push(new ForItem<TaskPesticide>({}));
};

const removePesticide = function (item: ForItem<TaskPesticide>) {
  var itms = pesticides.value;

  if (itms.length > 0) {
    itms.splice(itms.indexOf(item), 1);
  }

  if (itms.length == 0) {
    itms.push(new ForItem<TaskPesticide>({}));
  }
};

const refreshPesticideStock = function () {
  var pestInputRefs = taskPesticidesInputRef.value;
  pestInputRefs?.forEach((x) => x.refreshStock());
};

const loadPlots = async function (forceLoad = false) {
  // Load plots only if not loaded or force load
  if (plotsLoaded && !forceLoad) {
    return;
  }
  plotsLoaded = true;

  // Fields are required
  var flds = itmFields.value;
  if (!flds || flds.length == 0) {
    plotsGrouped.value = [];
    return;
  }

  loading.value = true;

  var pg: PlotGroup[] = [];
  var date = <Date>itm.value?.dateFrom?.toDate();

  // Load defined plots for selected fields
  var fieldIds = flds.map((x) => x.id);
  var year =
    itm.value?.dateFrom?.toDate().getFullYear() ?? new Date().getFullYear();
  var allFieldPlots = (
    await getData<FieldPlot>(routes.fields.plots.default, { fieldIds, year })
  ).data;

  // Iterate fields and add to plots
  flds.forEach((fld) => {
    var fieldPlots = allFieldPlots
      .filter((x) => {
        return x.fieldId == fld.id;
      })
      .sort((a, b) => (a.cropType ?? 0) - (b.cropType ?? 0));

    // Get existing taskFields for this field
    var taskFields = itm.value?.taskFields ?? [];
    var taskFieldsForField =
      taskFields.filter((x) => x.id != null && x.fieldId == fld.id) ?? [];

    // Predict only for new selected fields
    var canPredict = taskFieldsForField.length == 0;

    // Predict active crop type for new task
    //var predictedCropType: number | undefined;
    var predictedFieldPlots: FieldPlot[] = [];

    if (canPredict) {
      predictedFieldPlots = getPredictions(date, fieldPlots);
    }

    // Iterate field crops
    var plots: Plot[] = [];

    fieldPlots.forEach((fp) => {
      // Find task field for this crop
      var existingTaskField = taskFieldsForField.find(
        (x) => x.fieldPlotId == fp.id
      );

      // Use existing or create new task field
      var taskField = existingTaskField ?? {
        fieldId: fld.id,
        fieldPlotId: fp.id,
      };

      // Check if existing task field, or new
      var checked = false;
      var predicted = false;

      if (existingTaskField?.id) {
        // Editing existing, set checked
        checked = true;
      } else if (
        /* Predict only for new selected fields */
        canPredict &&
        predictedFieldPlots.indexOf(fp) > -1
      ) {
        if (predictedFieldPlots.length == 1) {
          // Only preselect if there is only one crop of this type, otherwise user will have to select manually
          predicted = true;
          checked = true;
        } else {
          predicted = true;
        }
      }

      // Add plot
      plots.push({
        checked,
        predicted,
        fieldPlot: fp,
        taskField: taskField,
      });
    });

    // Add crops for field
    var hasMorePlots = plots.some((x) => !x.checked && !x.predicted);
    pg.push({
      field: fld,
      plots: plots,
      showAll: false,
      hasMore: hasMorePlots,
      error:
        plots.length == 0
          ? t('modules.taskEdit.plots.validationMessages.noPlots', {
              year: year,
            })
          : undefined,
    });
  });

  // Keep time only for plots that require time
  /*var plots = fp.flatMap((x) => x.plots);
  if (taskType.value?.requiresTime) {
    // Automaticly calculate duration for new tasks only
    if (isNew.value) {
      await calculateDuration(plots);
    }
  } else {
    clearDuration(plots);
  }*/

  // Add field plots
  plotsGrouped.value = pg;

  loading.value = false;
};

const getPredictions = function (date: Date, fieldPlots: FieldPlot[]) {
  var sysTaskType = taskType?.value?.systemType;
  var predictedFieldPlots: FieldPlot[] = [];

  if (sysTaskType == EnumSystemTaskType.SOWING) {
    var alreadySownInFuture = fieldPlots
      .filter(
        (x) =>
          x.sowingDate != null &&
          x.sowingDate.toDate().getTime() >= date.getTime()
      )
      .map((x) => x.cropType ?? 1);

    if (alreadySownInFuture.length > 0) {
      var allowedToSow = Math.min(...alreadySownInFuture);
      // Of same type that was sown in future
      predictedFieldPlots = fieldPlots.filter(
        (x) => x.sowingDate == null && x.cropType == allowedToSow
      );
    } else {
      // Next in line
      var nextTypeToSow = fieldPlots.find(
        (x) => x.sowingDate == null
      )?.cropType;
      if (nextTypeToSow) {
        predictedFieldPlots = fieldPlots.filter(
          (x) => x.sowingDate == null && x.cropType == nextTypeToSow
        );
      }
    }
  } else if (sysTaskType == EnumSystemTaskType.HARVESTING) {
    var readyToHarvest = fieldPlots
      .filter(
        (x) =>
          x.sowingDate != null &&
          x.sowingDate.toDate().getTime() < date.getTime() &&
          x.harvestDate == null
      )
      .map((x) => x.cropType ?? 1);

    if (readyToHarvest.length > 0) {
      var allowedToHarvest = Math.min(...readyToHarvest);
      // First of same type that is ready to harvest
      predictedFieldPlots = fieldPlots.filter(
        (x) => x.harvestDate == null && x.cropType == allowedToHarvest
      );
    }
  } else {
    // Find active
    var activeCrops = fieldPlots.filter(
      (x) =>
        x.sowingDate != null &&
        x.sowingDate.toDate().getTime() <= date.getTime() &&
        (x.harvestDate == null ||
          x.harvestDate.toDate().getTime() > date.getTime())
    );

    // First crop
    if (activeCrops.length > 0) {
      predictedFieldPlots = activeCrops;
    } else {
      var notHarvestedCrops = fieldPlots.filter((x) => x.harvestDate == null);
      if (notHarvestedCrops.length > 0) {
        var allowedNext = Math.min(
          ...notHarvestedCrops.map((x) => x.cropType ?? 1)
        );
        predictedFieldPlots = notHarvestedCrops.filter(
          (x) => x.cropType == allowedNext
        );
      }
    }
  }
  return predictedFieldPlots;
};

const calculateDuration = async function () {
  // Only if task type requires time input
  var allPlots = plotsGrouped.value.flatMap((x) => x.plots);
  var dateFrom = itm.value?.dateFrom;
  var dateTo = itm.value?.dateTo;
  var selectedFieldPlotIds = allPlots
    .filter((x) => x.checked)
    .map((x) => <number>x.fieldPlot.id);

  if (
    !taskType.value?.requiresTime ||
    !dateFrom ||
    !dateTo ||
    selectedFieldPlotIds.length == 0
  ) {
    // Task does not require time, clear duration
    clearDuration(allPlots);
    return;
  }

  var result = await getDuration(dateFrom, dateTo, selectedFieldPlotIds);

  // Clear duration for existing
  clearDuration(allPlots);

  // Set new duration
  result.forEach((x) => {
    var plot = allPlots.find((y) => y.fieldPlot.id == x.fieldPlotId);
    if (plot) {
      plot.taskField.duration = x.durationMinutes;
    }
  });
};

const clearDuration = function (plots: Plot[]) {
  plots?.forEach((x) => {
    x.taskField.duration = null;
  });
};

const getDuration = async function (
  dateFrom: string,
  dateTo: string,
  fieldPlotIds: number[]
) {
  return (
    await axiosApi.get<TaskDurationForFieldPlot[]>(
      routes.tasks.fields.calculateDuration,
      {
        params: {
          dateFrom,
          dateTo,
          fieldPlotIds,
        },
      }
    )
  ).data;
};

const getTaskDurationMinutes = function () {
  var dateFrom = itm.value?.dateFrom?.toDate();
  var dateTo = itm.value?.dateTo?.toDate();

  if (!dateFrom || !dateTo) {
    return 0;
  }

  var durationInMilliseconds = dateTo.getTime() - dateFrom.getTime();
  var durationInMinutes = Math.floor(durationInMilliseconds / 1000 / 60);

  return durationInMinutes;
};

const toggleAllPlots = function (pg: PlotGroup) {
  pg.showAll = !pg.showAll;
};

const setFileDescription = function (doc: Document, file: File) {
  doc.description = file.name;
};

const addRow = function () {
  documents.value.push(new ForItem<Document>({}));
};

const removeRow = async function (item: ForItem<Document>) {
  var docs = documents.value;

  if (docs.length > 0) {
    docs.splice(docs.indexOf(item), 1);
  }

  if (docs.length == 0) {
    docs.push(new ForItem<Document>({}));
  }
};

const nextStep = async function () {
  var success = await saveStep();
  if (success) {
    stepper.value?.next();
  }
};

const saveAndClose = async function () {
  var success = await saveStep();
  if (success) {
    loading.value = true;
    await save();
    loading.value = false;

    close(true);
  }
};

const saveAndContinue = async function () {
  var success = await saveStep();
  if (success) {
    await save();
    newTask(true);
    step.value = steps.Basic;
  }
};

const saveAndNew = async function () {
  var success = await saveStep();
  if (success) {
    await save();
    newTask();
    step.value = steps.Basic;
  }
};

const saveStep = async function () {
  // Go to next step
  buttonLoading.value = true;
  var validationResponse = await validateStep(step.value);
  if (validationResponse === true) {
    await beforeNextStep(step.value);
    buttonLoading.value = false;
    return true;
  } else {
    showError(
      typeof validationResponse == 'string'
        ? validationResponse
        : t('common.validationError')
    );
    buttonLoading.value = false;
    return false;
  }
};

const validateStep = async function (
  currentStep: number
): Promise<boolean | string> {
  if (currentStep == steps.Basic) {
    if (!(await basicFormRef.value?.validate())) {
      return false;
    }
    if ((itmFields.value?.length ?? 0) == 0) {
      return t('modules.taskEdit.selectField');
    }

    var tt = taskType.value;
    if (tt?.requiresTime) {
      var dateFrom = itm.value?.dateFrom;
      var dateTo = itm.value?.dateTo;

      if (
        (dateFrom?.toDate().getTime() ?? 0) >= (dateTo?.toDate().getTime() ?? 0)
      ) {
        return t('modules.taskEdit.provideTime');
      }
    }
  } /*else if (currentStep == steps.Sowing) {
    if (!(await sowingFormRef.value?.validate())) {
      return false;
    }
  } else if (currentStep == steps.Harvest) {
    if (!(await harvestFormRef.value?.validate())) {
      return false;
    }
  }*/ else if (currentStep == steps.Plots) {
    if (!(await plotsFormRef.value?.validate())) {
      return false;
    }

    // Check for plot errors
    var plotErrors = false;
    var pgs = plotsGrouped.value;

    pgs.forEach((pg) => {
      pg.error = undefined;

      if (pg.plots.length == 0) {
        pg.error = t('modules.taskEdit.plots.validationMessages.noPlots');
        plotErrors = true;
      } else {
        var selectedFieldPlots = pg.plots.filter((x) => x.checked);
        if (selectedFieldPlots.length == 0) {
          // None selected
          pg.error = t(
            'modules.taskEdit.plots.validationMessages.selectAtLeastOnePlot'
          );
          plotErrors = true;
        }
        // For now we don't need this, as you can only select one crop type
        /*else if (
        new Set(selectedFieldPlots.map((x) => x.fieldPlot.cropType)).size > 1
      ) {
        // Only one crop type is allowed to be selected
        fp.error = t(
          'modules.taskEdit.plots.validationMessages.selectedDifferentCropTypes'
        );
        plotErrors = true;
      }*/
      }
    });

    // Has plot errors? Abort.
    if (plotErrors) {
      return false;
    }

    // Task requires time
    if (taskType.value?.requiresTime) {
      var taskDuration = getTaskDurationMinutes();
      var distributedDuration = pgs
        .flatMap((x) => x.plots.filter((x) => x.checked))
        .map((x) => x.taskField.duration ?? 0)
        .reduce((acc, fp) => {
          return (acc += fp);
        });

      var difference = taskDuration - distributedDuration;
      if (difference != 0) {
        return t(
          'modules.taskEdit.plots.validationMessages.distributeEntireDuration',
          {
            distributedDuration,
            taskDuration,
            difference,
          }
        );
      }
    }

    // Check warnings
    var plotWarnings: string[] = [];
    var sysTaskType = taskType.value?.systemType;

    pgs.forEach((pg) => {
      var selectedFieldPlots = pg.plots.filter((x) => x.checked);
      selectedFieldPlots.forEach((fp) => {
        if (
          sysTaskType == EnumSystemTaskType.SOWING &&
          fp.fieldPlot.sowingDate != null &&
          (itm.value?.id == null || itm.value?.id != fp.fieldPlot.sowingTaskId)
        ) {
          // Sowing, already sown
          plotWarnings.push(
            `<strong>${pg.field.identifier} ${pg.field.name}</strong>: ${t(
              'modules.taskEdit.plots.validationMessages.alreadySown'
            )}`
          );
        } else if (
          sysTaskType == EnumSystemTaskType.HARVESTING &&
          fp.fieldPlot.harvestDate != null &&
          (itm.value?.id == null || itm.value?.id != fp.fieldPlot.harvestTaskId)
        ) {
          // Harvesting, already harvested
          plotWarnings.push(
            `<strong>${pg.field.identifier} ${pg.field.name}</strong>: ${t(
              'modules.taskEdit.plots.validationMessages.alreadyHarvested'
            )}`
          );
        }

        // ... if previous crop types have been harvested (at least one), then you can continue to next type...
        var cropType = fp.fieldPlot.cropType ?? 1;
        if (cropType > 1) {
          var previousCropType = cropType - 1;
          var previousFieldPlots = pg.plots.filter(
            (x) => (x.fieldPlot.cropType ?? 1) == previousCropType
          );
          if (previousFieldPlots.length > 0) {
            var hasHarvested = previousFieldPlots.some(
              (x) => x.fieldPlot.harvestDate != null
            );
            if (!hasHarvested) {
              // Previous crop types have not been harvested
              plotWarnings.push(
                `<strong>${pg.field.identifier} ${pg.field.name}</strong>: ${t(
                  'modules.taskEdit.plots.validationMessages.previousPlotsNotCompleted'
                )}`
              );
            }
          }
        }
      });
    });

    if (plotWarnings.length > 0) {
      var confirm = await showConfirm(
        t('common.warning'),
        `${plotWarnings.join('<br />')}<br /><br />${t(
          'modules.taskEdit.plots.validationError'
        )}`,
        {
          html: true,
        }
      );

      if (!confirm) {
        return false;
      }
    }
  } else if (currentStep == steps.Fertilizer) {
    if (!(await fertilizersFormRef.value?.validate())) {
      return false;
    }

    if (taskFertilizersInputRef.value) {
      var validationResponses = await Promise.all(
        taskFertilizersInputRef.value.map((x) => x.validate())
      );
      if (!validationResponses.every((x) => x)) {
        var confirm = await showConfirm(
          t('modules.taskEdit.continueNoStockTitle'),
          t('modules.taskEdit.continueNoStock')
        );
        if (!confirm) {
          return false;
        }
      }
    }
  } else if (currentStep == steps.Pesticide) {
    if (!(await pesticidesFormRef.value?.validate())) {
      return false;
    }

    if (taskPesticidesInputRef.value) {
      var validationResponses = await Promise.all(
        taskPesticidesInputRef.value.map((x) => x.validate())
      );
      if (!validationResponses.every((x) => x)) {
        var confirm = await showConfirm(
          t('modules.taskEdit.continueNoStockTitle'),
          t('modules.taskEdit.continueNoStock')
        );
        if (!confirm) {
          return false;
        }
      }
    }
  } else if (currentStep == steps.Misc) {
    if (!(await miscFormRef.value?.validate())) {
      return false;
    }
  }

  return true;
};

const beforeNextStep = async function (currentStep: number) {
  if (currentStep == steps.Plots) {
    if (itm.value) {
      itm.value.taskFields = plotsGrouped.value.flatMap((x) =>
        x.plots.filter((x) => x.checked).map((x) => x.taskField)
      );
    }
  } else if (currentStep == steps.Misc) {
    // Upload files
    var uploaders = fileRefs.value;
    if (uploaders && uploaders.length > 0) {
      await Promise.all(
        uploaders.map(async (x) => {
          return await x.upload();
        })
      );
    }

    // Everything required before saving
    if (itm.value) {
      itm.value.taskFields = plotsGrouped.value.flatMap((x) =>
        x.plots.filter((x) => x.checked).map((x) => x.taskField)
      );
      itm.value.documents = documents.value
        .filter((x) => x.item.fileId != null)
        .map((x) => x.item);
      itm.value.fertilizers = fertilizers.value
        .filter((x) => x.item.fertilizerId != null)
        .map((x) => x.item);
      itm.value.pesticides = pesticides.value
        .filter((x) => x.item.pesticideId != null)
        .map((x) => x.item);
    }
  }
};

const previousStep = function () {
  stepper.value?.previous();
};

const save = async function () {
  if (itm.value) {
    loading.value = true;
    await saveItem<{ id?: number }>(routes.tasks.default, itm.value);
    loading.value = false;
  }
};

const close = function (changes: boolean) {
  if (changes) {
    onDialogOK();
  } else {
    onDialogCancel();
  }
  emit('close', <DialogCloseEventArgs>{ changes: changes });
};

defineExpose({ open, close });
</script>
