<template>
  <CDialog
    :title="$t('modules.machinery.editDialog.title')"
    icon="agriculture"
    v-model="visible"
    :loading="loading"
    :confirm-action="save"
    :cancel-action="() => close(false)"
    :width="800"
    @close="close(false)">
    <CForm ref="formRef" v-if="itm">
      <div class="row q-col-gutter-md">
        <CInput
          class="col-12"
          v-model="itm.name"
          :rules="[rules.required]"
          :label="$t('modules.machinery.editDialog.inputs.name')"
          autofocus></CInput>
        <CInput
          type="textarea"
          class="col-12"
          v-model="itm.description"
          :label="
            $t('modules.machinery.editDialog.inputs.description')
          "></CInput>
        <CInput
          class="col-xs-12 col-md-6"
          v-model="itm.performance"
          :label="$t('modules.machinery.editDialog.inputs.performance')"
          type="number"></CInput>
        <CSelect
          class="col-xs-12 col-md-6"
          v-model="itm.performanceUnitId"
          :route="routes.machinery.performanceUnits.default"
          option-value="id"
          option-label="name"
          :rules="[
            () => {
              return rules.requiredIf(
                itm?.performanceUnitId,
                itm?.performance ? true : false
              );
            },
          ]"
          :label="
            $t('modules.machinery.editDialog.inputs.performanceUnit')
          "></CSelect>

        <CSelect
          class="col-12"
          v-model="itm.classificationId"
          :route="routes.machinery.classification.default + '?flat=true'"
          option-value="id"
          :option-label="(row: MachineryClassification) => `${row.code} ${row.name}`"
          :hide-selected="false"
          :fill-input="false"
          input-class="col-12"
          search-column="displayName"
          :label="$t('modules.machinery.editDialog.inputs.classification')"
          @selected="onSelectedClassification">
          >
          <template v-slot:option="scope">
            <q-item v-bind="scope.itemProps">
              <q-item-section>
                <template
                  v-for="(itm, index) in scope.opt.parents"
                  :key="index">
                  <q-item-label caption>
                    {{ itm.code }} {{ itm.name }}
                  </q-item-label>
                </template>
                <q-item-label>
                  {{ scope.opt.code }} {{ scope.opt.name }}
                </q-item-label>
              </q-item-section>
            </q-item>
          </template>
          <template v-slot:selected-item="scope">
            <q-item>
              <q-item-section>
                <template
                  v-for="(itm, index) in scope.opt.parents"
                  :key="index">
                  <q-item-label caption>
                    {{ itm.code }} {{ itm.name }}
                  </q-item-label>
                </template>
                <q-item-label>
                  {{ scope.opt.code }} {{ scope.opt.name }}
                </q-item-label>
              </q-item-section>
            </q-item>
          </template>
        </CSelect>
        <CInput
          class="col-xs-12 col-md-6"
          v-model="itm.trackingId"
          :label="
            $t('modules.machinery.editDialog.inputs.trackingId')
          "></CInput>
        <CSelect
          class="col-xs-12 col-md-6"
          v-model="itm.trackingType"
          option-value="id"
          option-label="text"
          :options="trackingTypes"
          :label="$t('modules.machinery.editDialog.inputs.trackingDeviceType')"
          :rules="[
            () => {
              return rules.requiredIf(
                itm?.trackingType,
                itm?.trackingId ? true : false
              );
            },
          ]"></CSelect>

        <template
          v-if="appSettings.appEnvironment == EnumAppEnvironment.DEFAULT">
          <div class="col-12">
            <CSectionTitle icon="agriculture">
              {{ $t('modules.machinery.editDialog.farmManager') }}
            </CSectionTitle>
          </div>
          <div class="col-12">
            <CSelect
              v-model="itm.farmManagerId"
              option-value="id"
              option-label="displayName"
              :route="routes.farmManager.machinery.default"
              :label="
                $t('modules.machinery.editDialog.inputs.farmManagerMachinery')
              "
              @selected="onSelectedFarmManagerMachinery"></CSelect>
          </div>
        </template>
      </div>
    </CForm>
  </CDialog>
</template>

<script setup lang="ts">
import {
  Machinery,
  MachineryClassification,
  FmMachinery,
} from 'src/models/fieldbook.models';
import { ref } from 'vue';
import rules from 'src/helpers/rules';
import fieldbookService from 'src/services/fieldbook.service';
import { showSuccess } from 'src/helpers';
import CForm from 'src/components/CForm.vue';
import { DialogCloseEventArgs } from 'src/models/core.models';
import routes from 'src/services/routes';
import { useI18n } from 'vue-i18n';
import { useFieldbookStore } from 'src/stores/fieldbook.store';
import { EnumAppEnvironment } from 'src/enums/core.enums';
import { getItem } from 'src/services';

const { t } = useI18n();
const emit = defineEmits(['close']);
const itm = ref<Machinery>();
const formRef = ref<InstanceType<typeof CForm>>();
const loading = ref(false);
const fieldbookStore = useFieldbookStore();
const appSettings = fieldbookStore.appSettings;

const trackingTypes = fieldbookService.getTrackingType();

const open = async function (data?: Machinery) {
  itm.value = data ? { ...data } : {};
  visible.value = true;
};

const save = async function () {
  if (itm.value && (await formRef.value?.validate())) {
    loading.value = true;
    await fieldbookService.saveMachinery(itm.value);
    showSuccess(t('common.saveSuccess'));
    loading.value = false;
    close(true);
  }
};

const onSelectedClassification = async function (
  data: MachineryClassification
) {
  if (data && data.code) {
    var m = (
      await getItem<FmMachinery>(routes.farmManager.machinery.getByCode, {
        code: data.code,
      })
    ).item;

    setSelectedMachinery(m);
  }
};

const onSelectedFarmManagerMachinery = function (data: FmMachinery) {
  console.log('selected fm');
  setSelectedMachinery(data);
};

const setSelectedMachinery = function (data: FmMachinery) {
  if (itm.value) {
    if (data) {
      itm.value.farmManagerId = data.id;
      itm.value.farmManagerName = data.ime;
    } else {
      itm.value.farmManagerId = undefined;
      itm.value.farmManagerName = undefined;
    }
  }
};

const close = function (changes: boolean) {
  itm.value = undefined;

  visible.value = false;
  emit('close', <DialogCloseEventArgs>{ changes: changes });
};

const visible = ref(false);
defineExpose({ open, close });
</script>
