<template>
  <DefaultPageLayout>
    <CTable
      ref="tableRef"
      :route="routes.machinery.default"
      :columns="machineryColumns"
      :add-action="add"
      :edit-action="edit"
      :refresh-action="refreshData"
      :delete-action="deleteMachine"
      row-key="id"></CTable>
    <MachineryDialog ref="dialogRef" @close="onDialogClose"></MachineryDialog>
  </DefaultPageLayout>
</template>

<script setup lang="ts">
import routes from 'src/services/routes';
import { computed, onBeforeMount, ref } from 'vue';
import { Machinery } from 'src/models/fieldbook.models';
import { DialogCloseEventArgs } from 'src/models/core.models';
import MachineryDialog from './MachineryDialog.vue';
import CTable from 'src/components/CTable.vue';
import fieldbookService from 'src/services/fieldbook.service';
import { deleteItem } from 'src/services';
import { QTableColumn } from 'quasar';
import { useI18n } from 'vue-i18n';
import { useFieldbookStore } from 'src/stores/fieldbook.store';
import { EnumAppEnvironment } from 'src/enums/core.enums';

const { t } = useI18n();
const tableRef = ref<InstanceType<typeof CTable>>();
const dialogRef = ref<InstanceType<typeof MachineryDialog>>();
const trackingTypes = fieldbookService.getTrackingType();
const fieldbookStore = useFieldbookStore();
const appSettings = fieldbookStore.appSettings;

onBeforeMount(() => {
  refreshData();
});

const add = function () {
  var dialog = dialogRef.value;
  if (dialog) {
    dialog.open();
  }
};

const edit = function (data: Machinery) {
  var dialog = dialogRef.value;
  if (dialog) {
    dialog.open(data);
  }
};

const deleteMachine = async function (data: Machinery) {
  if (
    data &&
    (await deleteItem(routes.machinery.single, { machineryId: data.id }))
  ) {
    refreshData();
  }
};

const onDialogClose = function (data: DialogCloseEventArgs) {
  if (data.changes) {
    refreshData();
  }
};

const refreshData = async function () {
  tableRef.value?.refreshData();
};

const machineryColumns = computed<QTableColumn[]>(() => {
  const baseItems: QTableColumn[] = [
    {
      name: 'name',
      label: t('modules.machinery.columns.name'),
      field: 'name',
      sortable: true,
      align: 'left',
      style: 'width: 200px;',
    },
    {
      name: 'description',
      label: t('modules.machinery.columns.description'),
      field: 'description',
      sortable: true,
      align: 'left',
      style: 'width: 250px;',
    },
    {
      name: 'performanceDisplayValue',
      label: t('modules.machinery.columns.performance'),
      field: 'performanceDisplayValue',
      sortable: true,
      align: 'left',
      style: 'width: 150px;',
    },
    {
      name: 'classification',
      label: t('modules.machinery.columns.classification'),
      field: 'classificationDisplayName',
      sortable: true,
      align: 'left',
      style: 'width: 150px;',
    },
    {
      name: 'trackingId',
      label: t('modules.machinery.columns.trackingId'),
      field: 'trackingId',
      sortable: true,
      align: 'left',
    },
    {
      name: 'trackingType',
      label: t('modules.machinery.columns.trackingDeviceType'),
      field: (row: Machinery) => {
        return trackingTypes.value.find((y) => y.id == row.trackingType)?.text;
      },
      sortable: true,
      align: 'left',
    },
  ];

  var itms = baseItems;
  if (appSettings.appEnvironment == EnumAppEnvironment.DEFAULT) {
    itms = itms.concat([
      {
        name: 'farmManagerName',
        label: t('modules.machinery.columns.farmManagerMachinery'),
        field: 'farmManagerName',
        sortable: true,
        align: 'left',
      },
    ]);
  }
  return itms;
});
</script>
