<template>
  <DefaultPageLayout>
    <CTable
      ref="tableRef"
      :route="routes.farms.default"
      :columns="farmsColumns"
      :delete-action="deleteFarm"
      :menu-actions="menuActions"
      row-key="id">
      <template #actions-top>
        <div class="row q-col-gutter-md">
          <div>
            <CBtn
              class="q-px-md"
              icon="add"
              color="primary"
              no-wrap
              unelevated
              :label="$t('common.add')"
              @click="showFarmEditDialog()"></CBtn>
          </div>
          <div>
            <CBtn class="q-px-md" icon="more_horiz" color="primary" unelevated>
              <q-menu :offset="[0, 5]">
                <q-list style="min-width: 100px">
                  <q-item
                    class="bg-primary text-white"
                    clickable
                    @click="openImportDialog()"
                    v-close-popup>
                    <q-item-section side>
                      <CIcon name="travel_explore" color="white" />
                    </q-item-section>
                    <q-item-section>
                      {{ $t('modules.admin.farms.buttons.import') }}...
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </CBtn>
          </div>
        </div>
      </template>
    </CTable>
    <FarmEditDialog
      ref="farmEditDialogRef"
      @close="onDialogClose"></FarmEditDialog>
    <RkgDialog ref="rkgDialogRef" @close="onDialogClose"></RkgDialog>
  </DefaultPageLayout>
</template>

<script setup lang="ts">
import { Farm } from 'src/models/fieldbook.models';
import { farmsColumns } from 'src/models/table.columns';
import routes from 'src/services/routes';
import { useFieldbookStore } from 'src/stores/fieldbook.store';
import { useRouter } from 'vue-router';
import FarmEditDialog from './farms/FarmEditDialog.vue';
import { computed, defineAsyncComponent, ref } from 'vue';
import CTable from 'src/components/CTable.vue';
import { DialogCloseEventArgs } from 'src/models/core.models';
import RkgDialog from 'src/dialogs/RkgDialog.vue';
import { showCustomDialog } from 'src/helpers';
import { deleteItem } from 'src/services';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();
const router = useRouter();
const tableRef = ref<InstanceType<typeof CTable>>();
const farmEditDialogRef = ref<InstanceType<typeof FarmEditDialog>>();
const rkgDialogRef = ref<InstanceType<typeof RkgDialog>>();

const menuActions = computed(() => [
  {
    icon: 'travel_explore',
    action: (row: Farm) => openSelectedFarmFieldbook(row),
    text: t('modules.admin.farms.buttons.fieldbook'),
  },
  {
    icon: 'edit',
    action: (row: Farm) => showFarmEditDialog(row),
    text: t('common.edit'),
  },
]);

/*
const add = function () {
  var d = farmEditDialogRef.value;
  if (d) {
    d.open();
  }
};

const edit = function (data: Farm) {
  var d = farmEditDialogRef.value;
  if (d) {
    d.open(data);
  }
};*/

const openSelectedFarmFieldbook = function (data: Farm) {
  if (data) {
    const fieldbookStore = useFieldbookStore();
    fieldbookStore.farm = data;
    router.push({ name: 'home' });
  }
};

const openImportDialog = async function () {
  rkgDialogRef.value?.open();
};

const showFarmEditDialog = async function (farm?: Farm) {
  var result = await showCustomDialog(
    defineAsyncComponent(
      () => import('src/pages/fieldbook/farm/FarmEditDialog.vue')
    ),
    { farmId: farm?.id }
  );

  if (result.confirm) {
    refreshData();
  }
};

const deleteFarm = async function (data: Farm) {
  if (data && (await deleteItem(routes.farms.single, { farmId: data.id }))) {
    refreshData();
  }
};

const onDialogClose = function (data: DialogCloseEventArgs) {
  if (data.changes) {
    refreshData();
  }
};

const refreshData = async function () {
  tableRef.value?.refreshData();
};

//import { useAuthStore } from 'src/stores/auth.store';
//import { formatDate } from 'src/helpers';

//const authStore = useAuthStore();
//const ssoStore = useSsoStore();
//const user = authStore.user;
</script>
