<template>
  <CDialog
    :title="$t('modules.admin.documentTypes.editDialog.title')"
    icon="task"
    v-model="visible"
    :loading="loading"
    :confirm-action="save"
    :cancel-action="() => close(false)"
    :width="600"
    @close="close(false)">
    <CForm ref="formRef" v-if="itm">
      <div class="row q-col-gutter-md">
        <div class="col-12">
          <CInput
            autofocus
            v-model="itm.name"
            :rules="[rules.required]"
            :label="
              $t('modules.admin.documentTypes.editDialog.inputs.name')
            "></CInput>
        </div>
        <div class="col-12">
          <CInput
            v-model="itm.nameEn"
            :label="
              $t('modules.admin.documentTypes.editDialog.inputs.nameEn')
            "></CInput>
        </div>
      </div>
    </CForm>
  </CDialog>
</template>

<script setup lang="ts">
import { DocumentType } from 'src/models/fieldbook.models';
import { ref } from 'vue';
import rules from 'src/helpers/rules';
import CForm from 'src/components/CForm.vue';
import { DialogCloseEventArgs } from 'src/models/core.models';
import { saveItem } from 'src/services';
import routes from 'src/services/routes';

const emit = defineEmits(['close']);
const itm = ref<DocumentType>();
const formRef = ref<InstanceType<typeof CForm>>();
const loading = ref(false);

const open = async function (data?: DocumentType) {
  itm.value = data ? { ...data } : {};
  visible.value = true;
};

const save = async function () {
  if (itm.value && (await formRef.value?.validate())) {
    loading.value = true;
    await saveItem(routes.documents.types.default, itm.value);
    loading.value = false;
    close(true);
  }
};

const close = function (changes: boolean) {
  itm.value = undefined;

  visible.value = false;
  emit('close', <DialogCloseEventArgs>{ changes: changes });
};

const visible = ref(false);
defineExpose({ open, close });
</script>
