<template>
  <DefaultPageLayout>
    <CTable
      ref="tableRef"
      :route="routes.documents.types.default"
      :columns="documentTypesColumns"
      :add-action="add"
      :edit-action="edit"
      :delete-action="deleteDocumentType"
      :refresh-action="refreshData"
      row-key="id"></CTable>
    <DocumentTypesDialog
      ref="dialogRef"
      @close="onDialogClose"></DocumentTypesDialog>
  </DefaultPageLayout>
</template>

<script setup lang="ts">
import routes from 'src/services/routes';
import { documentTypesColumns } from 'src/models/table.columns';
import { onBeforeMount, ref } from 'vue';
import { DocumentType } from 'src/models/fieldbook.models';
import { DialogCloseEventArgs } from 'src/models/core.models';
import DocumentTypesDialog from './DocumentTypesDialog.vue';
import CTable from 'src/components/CTable.vue';
import { deleteItem } from 'src/services';

const tableRef = ref<InstanceType<typeof CTable>>();
const dialogRef = ref<InstanceType<typeof DocumentTypesDialog>>();

onBeforeMount(() => {
  refreshData();
});

const add = function () {
  var dialog = dialogRef.value;
  if (dialog) {
    dialog.open();
  }
};

const edit = function (data: DocumentType) {
  var dialog = dialogRef.value;
  if (dialog) {
    dialog.open(data);
  }
};

const deleteDocumentType = async function (data: DocumentType) {
  if (
    data &&
    (await deleteItem(routes.documents.types.single, {
      documentTypeId: data.id,
    }))
  ) {
    refreshData();
  }
};

const onDialogClose = function (data: DialogCloseEventArgs) {
  if (data.changes) {
    refreshData();
  }
};

const refreshData = async function () {
  tableRef.value?.refreshData();
};
</script>
