<template>
  <CDialog
    v-model="visible"
    :confirm-action="() => close(true)"
    :cancel-action="() => close(false)"
    height="800px">
    <div class="fit">
      <CTable
        title="Zemljišča"
        ref="tableRef"
        v-model:selected="selected"
        :route="routes.fields.default"
        :columns="fieldColumns"
        selection="multiple"
        row-key="id"
        @close="close(false)"></CTable>
    </div>
  </CDialog>
</template>

<script setup lang="ts">
import routes from 'src/services/routes';
import { fieldColumns } from 'src/models/table.columns';
import { ref } from 'vue';
import { DialogCloseEventArgs } from 'src/models/core.models';
import CTable from 'src/components/CTable.vue';
import { Field } from 'src/models/fieldbook.models';

const emit = defineEmits(['close']);
const tableRef = ref<InstanceType<typeof CTable>>();
const selected = ref<Field[]>();

const open = async function (fields?: Field[]) {
  if (fields) {
    selected.value = fields;
    console.log('set selected', fields);
  }
  visible.value = true;
};

const close = function (changes: boolean) {
  var sel = selected.value;
  selected.value = undefined;

  visible.value = false;
  emit('close', <DialogCloseEventArgs>{
    changes: changes,
    data: sel,
  });
};

const visible = ref(false);
defineExpose({ open, close });
</script>
