<template>
  <div @click="openFieldList">
    <CField
      :label="$t('modules.taskEdit.inputs.fields')"
      :hint="props.hint"
      style="cursor: pointer">
      <ul>
        <li
          class="field__list-item text-caption"
          v-for="f in fields"
          :key="f.id">
          <div class="row items-center q-col-gutter-x-md">
            <div class="col">{{ f.identifier }} {{ f.name }}</div>
            <div class="field__delete-btn col-auto">
              <CBtn
                icon="close"
                color="negative"
                round
                flat
                padding="none"
                size="sm"
                @click.stop="removeField(f)"></CBtn>
            </div>
          </div>
        </li>
      </ul>
      <!--<template #after>
        <CBtn
          icon="search"
          color="primary"
          @click="openFieldList"></CBtn>
      </template>-->
    </CField>

    <FieldListDialog
      ref="fieldListDialogRef"
      @close="onFieldListDialogClose"></FieldListDialog>
  </div>
</template>
<script setup lang="ts">
import { computed, ref } from 'vue';
import FieldListDialog from './FieldListDialog.vue';
import { Field } from 'src/models/fieldbook.models';
import { DialogCloseEventArgs } from 'src/models/core.models';

var emit = defineEmits(['update:modelValue']);
const props = defineProps<{
  modelValue: Field[];
  hint?: string;
}>();

const fieldListDialogRef = ref<InstanceType<typeof FieldListDialog>>();

const fields = computed({
  get() {
    return props.modelValue;
  },
  set(val) {
    emit('update:modelValue', val);
  },
});

const openFieldList = function () {
  var d = fieldListDialogRef.value;
  if (d) {
    d.open(fields.value);
  }
};

const onFieldListDialogClose = function (data: DialogCloseEventArgs) {
  if (data.changes) {
    fields.value = <Field[]>data.data ?? [];
  }
};

const removeField = function (item: Field) {
  var flds = fields.value;

  if (flds && flds?.length > 0) {
    flds.splice(flds.indexOf(item), 1);
  }
};
</script>
