<template>
  <DefaultPageLayout>
    <div v-if="field && field.imageFileId">
      <q-img
        class="border-radius"
        fetchpriority="high"
        height="250px"
        :src="
          routes.files.get.replace('{fileId}', field.imageFileId.toString())
        "
        style="
          mask-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 95%,
            rgba(0, 0, 0, 0) 100%
          );
        ">
        <div
          class="absolute-bottom text-center row items-center justify-center no-wrap">
          <span class="text-h4">{{ field.identifier }} {{ field.name }}</span>
          <div class="q-ml-md">
            <CBtn
              round
              icon="travel_explore"
              @click="showFieldLocationDialog()"></CBtn>
          </div>
        </div>
      </q-img>
    </div>
    <div class="row q-col-gutter-md q-pt-md">
      <div class="col-xs-12 col-md-6">
        <CMarkupTable v-if="field" class="fit">
          <thead>
            <tr>
              <th colspan="100">
                <div class="text-left">
                  <CSectionTitle icon="mdi-land-fields">
                    {{ $t('modules.field.fieldInfo') }}
                  </CSectionTitle>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-left text-bold">
                {{ $t('modules.field.fieldColumns.identifier') }}
              </td>
              <td class="text-left">{{ field.identifier }}</td>
            </tr>
            <tr>
              <td class="text-left text-bold">
                {{ $t('modules.field.fieldColumns.name') }}
              </td>
              <td class="text-left">{{ field.name }}</td>
            </tr>
            <tr>
              <td class="text-left text-bold">
                {{ $t('modules.field.fieldColumns.area') }}
              </td>
              <td class="text-left">
                {{ formatArea(field.area) }}
              </td>
            </tr>
            <tr>
              <td class="text-left text-bold">
                {{ $t('modules.field.fieldColumns.type') }}
              </td>
              <td class="text-left">
                {{
                  `${field.typeIdentifier} ${getLocalizedValue(
                    field.typeName,
                    field.typeNameEn
                  )}`
                }}
              </td>
            </tr>
          </tbody>
        </CMarkupTable>
      </div>
      <div class="col-xs-12 col-md-6">
        <CMarkupTable v-if="field" class="fit">
          <thead>
            <tr>
              <th colspan="100">
                <div class="text-left">
                  <CSectionTitle icon="mdi-sprout">
                    {{ $t('modules.field.crops') }} {{ fieldbookStore.year }}
                  </CSectionTitle>
                </div>
              </th>
            </tr>
            <tr>
              <th class="text-left">
                {{ $t('modules.field.cropColumns.name') }}
              </th>
              <th class="text-left">
                {{ $t('modules.field.cropColumns.type') }}
              </th>
              <th class="text-left">
                {{ $t('modules.field.cropColumns.sowingDate') }}
              </th>
              <th class="text-left">
                {{ $t('modules.field.cropColumns.harvestDate') }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="fp in fieldPlots" :key="fp.cropId">
              <td class="text-left">
                {{ getLocalizedValue(fp.cropName, fp.cropNameEn) }}
              </td>
              <td class="text-left">
                {{
                  fp.cropType == null ? '' : $t(`crop.types.type${fp.cropType}`)
                }}
              </td>
              <td class="text-left">{{ formatDate(fp.sowingDate) }}</td>
              <td class="text-left">{{ formatDate(fp.harvestDate) }}</td>
            </tr>
          </tbody>
        </CMarkupTable>
      </div>
      <div class="col-12">
        <CMarkupTable v-if="tasks">
          <thead>
            <tr>
              <th colspan="100">
                <div class="text-left">
                  <CSectionTitle icon="task_alt">
                    {{ $t('modules.field.tasks') }} {{ fieldbookStore.year }}
                  </CSectionTitle>
                </div>
              </th>
            </tr>
            <tr>
              <th class="text-left" style="width: 100px">
                {{ $t('modules.field.taskColumns.from') }}
              </th>
              <th class="text-left" style="width: 100px">
                {{ $t('modules.field.taskColumns.to') }}
              </th>
              <th class="text-left" style="width: 250px">
                {{ $t('modules.field.taskColumns.name') }}
              </th>
              <th class="text-left" style="width: 250px">
                {{ $t('modules.field.taskColumns.executor') }}
              </th>
              <th class="text-left" style="width: 150px">
                {{ $t('modules.field.taskColumns.machine') }}
              </th>
              <th class="text-left" style="width: 150px">
                {{ $t('modules.field.taskColumns.attachment') }}
              </th>
              <th class="text-left">
                {{ $t('modules.field.taskColumns.note') }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="t in tasks" :key="t.id">
              <td class="text-left">{{ formatDate(t.dateFrom, true) }}</td>
              <td class="text-left">{{ formatDate(t.dateTo, true) }}</td>
              <td class="text-left">
                {{ getLocalizedValue(t.taskTypeName, t.taskTypeNameEn) }}
              </td>
              <td class="text-left">{{ t.executor }}</td>
              <td class="text-left">{{ t.machineName }}</td>
              <td class="text-left">{{ t.attachmentName }}</td>
              <td class="text-left">{{ t.note }}</td>
            </tr>
          </tbody>
        </CMarkupTable>
      </div>
    </div>
  </DefaultPageLayout>
</template>

<script setup lang="ts">
import { defineAsyncComponent, onMounted, ref } from 'vue';
import { Field, FieldPlot, Task } from 'src/models/fieldbook.models';
import routes from 'src/services/routes';
import { getData } from 'src/services';
import { useRoute } from 'vue-router';
import {
  formatDate,
  formatArea,
  showCustomDialog,
  getLocalizedValue,
} from 'src/helpers';
import { useFieldbookStore } from 'src/stores/fieldbook.store';
import fieldbookService from 'src/services/fieldbook.service';

const field = ref<Field>();
const fieldPlots = ref<FieldPlot[]>([]);
const tasks = ref<Task[]>();
const fieldbookStore = useFieldbookStore();
const route = useRoute();
let fieldId: number;

onMounted(() => {
  fieldId = parseInt(<string>route.params.id);
  refreshData();
});

const showFieldLocationDialog = function () {
  showCustomDialog(
    defineAsyncComponent(() => import('src/dialogs/FieldLocationDialog.vue')),
    {
      field: field.value,
    }
  );
};

const refreshData = async function () {
  const locResponse = await fieldbookStore.getLocation();
  var latLong =
    locResponse.success && locResponse.location?.coords
      ? {
          lat: locResponse.location.coords.latitude,
          long: locResponse.location.coords.longitude,
        }
      : undefined;

  field.value = (
    await fieldbookService.getFields([fieldId], false, latLong)
  ).data.data.at(0);

  fieldPlots.value = (
    await getData<FieldPlot>(routes.fields.plots.default, {
      fieldIds: [fieldId],
      year: fieldbookStore.year,
    })
  ).data;

  tasks.value = (
    await getData<Task>(routes.tasks.default, {
      fieldId,
    })
  ).data;
};
</script>
