<template>
  <CDialog
    ref="cDialogRef"
    icon="task_alt"
    :loading="loading"
    height="100%"
    @close="close(false)">
    <q-stepper
      v-if="itm"
      class="fit no-shadow q-stepper--flex"
      :contracted="$q.screen.lt.md"
      v-model="step"
      keep-alive
      ref="stepper"
      color="secondary"
      done-color="green-7"
      animated>
      <q-step
        :name="steps.Basic"
        :title="$t('modules.fields.editDialog.title')"
        icon="mdi-land-fields"
        :done="step > steps.Basic">
        <div class="fit overflow-auto">
          <CForm ref="basicFormRef">
            <div>
              <CSectionTitle icon="add_task">
                {{ $t('modules.fields.editDialog.basicInfo') }}
              </CSectionTitle>
            </div>

            <div class="text-caption q-mt-sm q-mb-md">
              {{ $t('modules.fields.editDialog.basicInfoDescription') }}
            </div>
            <div class="row q-col-gutter-md">
              <div class="col-12">
                <CInput
                  v-model="itm.identifier"
                  :label="
                    $t('modules.fields.editDialog.inputs.fieldIdentifier')
                  "
                  :rules="[rules.required]"></CInput>
              </div>
              <div class="col-12">
                <CInput
                  v-model="itm.name"
                  :label="$t('modules.fields.editDialog.inputs.fieldName')"
                  :rules="[rules.required]"></CInput>
              </div>
              <div class="col-12">
                <CSelect
                  v-model="itm.typeId"
                  :route="routes.fields.types.default"
                  option-value="id"
                  :option-label="(row: FieldType) => `${row.identifier} ${getLocalizedValue(row.name, row.nameEn)}`"
                  :rules="[rules.required]"
                  :label="
                    $t('modules.fields.editDialog.inputs.fieldType')
                  "></CSelect>
              </div>
              <!--
              <div class="col-12">
                <CInput
                  type="textarea"
                  v-model="itm.description"
                  :label="
                    $t('modules.fields.editDialog.inputs.fieldDescription')
                  "></CInput>
              </div>-->
            </div>
          </CForm>
        </div>
      </q-step>

      <q-step
        class="fit"
        :name="steps.Misc"
        :title="$t('modules.fields.editDialog.location')"
        icon="pin_drop"
        :done="step > steps.Misc">
        <div class="fit column q-col-gutter-md">
          <div class="col-auto">
            <span class="text-caption">
              {{ $t('modules.fields.editDialog.selectLocationDescription') }}
            </span>
          </div>
          <div class="col">
            <CMap
              ref="mapRef"
              add-geocoder
              draw
              @areaUpdated="onAreaUpdated"
              @loaded="onMapLoaded"></CMap>
          </div>
          <div class="col-auto">
            <CForm ref="miscFormRef">
              <CInput
                v-model="itm.area"
                :label="$t('modules.fields.editDialog.inputs.fieldArea')"
                :rules="[rules.required]"></CInput>
            </CForm>
          </div>
        </div>
      </q-step>
    </q-stepper>

    <template #actions>
      <div class="row full-width justify-between">
        <div class="col" style="max-width: 200px">
          <CBtn
            v-if="step > 1"
            flat
            color="primary"
            @click="previousStep"
            :label="$t('modules.taskEdit.previous')"
            style="width: 100%"
            icon="arrow_back" />
        </div>
        <div class="col" style="max-width: 200px">
          <CBtn
            @click="nextStep"
            color="primary"
            :label="continueLabel"
            :loading="buttonLoading"
            style="width: 100%"
            :icon-right="continueIcon" />
        </div>
      </div>
    </template>
  </CDialog>
</template>
<script setup lang="ts">
import { QForm, QStepper } from 'quasar';
import { computed, nextTick, onMounted, ref, watch } from 'vue';
import { DialogCloseEventArgs } from 'src/models/core.models';
import { getItem, saveItem } from 'src/services';
import routes from 'src/services/routes';
import * as turf from '@turf/turf';
import { Field, FieldType } from 'src/models/fieldbook.models';
import { showError, getLocalizedValue } from 'src/helpers';
import { useDialogPluginComponent } from 'quasar';
import CDialog from 'src/components/CDialog.vue';
import { useI18n } from 'vue-i18n';
import rules from 'src/helpers/rules';
import CMap, { getBoundsFromGeoJSON } from 'src/components/CMap.vue';

const { t } = useI18n();

const emit = defineEmits([
  'close',
  // REQUIRED; need to specify some events that your
  // component will emit through useDialogPluginComponent()
  ...useDialogPluginComponent.emits,
]);

const props = defineProps<{
  // ...your custom props
  fieldId?: number;
}>();

const step = ref(1);
const stepper = ref<QStepper>();
const loading = ref(false);
const buttonLoading = ref(false);
const itm = ref<Field>();

// Refs
const basicFormRef = ref<InstanceType<typeof QForm>>();
const miscFormRef = ref<InstanceType<typeof QForm>>();
const mapRef = ref<InstanceType<typeof CMap>>();

const steps = {
  Basic: 1,
  Misc: 90,
};

const cDialogRef = ref<InstanceType<typeof CDialog>>();
watch(
  () => cDialogRef.value,
  (newVal) => (dialogRef.value = newVal?.dialogRef)
);

const { dialogRef, /*onDialogHide,*/ onDialogOK, onDialogCancel } =
  useDialogPluginComponent();
// dialogRef      - Vue ref to be applied to QDialog
// onDialogHide   - Function to be used as handler for @hide on QDialog
// onDialogOK     - Function to call to settle dialog with "ok" outcome
//                    example: onDialogOK() - no payload
//                    example: onDialogOK({ /*...*/ }) - with payload
// onDialogCancel - Function to call to settle dialog with "cancel" outcome

onMounted(async () => {
  if (props.fieldId) {
    try {
      loading.value = true;
      itm.value = (
        await getItem<Field>(routes.fields.single, { fieldId: props.fieldId })
      ).item;
    } finally {
      loading.value = false;
    }
  } else {
    itm.value = {};
  }
});

const onMapLoaded = function () {
  setGeojson();
};

const onAreaUpdated = function (data: any) {
  const area = turf.area(data) ?? null;
  if (itm.value) {
    var geoJson = data ? JSON.stringify(data) : undefined;
    itm.value.area = area ? parseFloat((area / 100).toFixed(2)) : undefined;
    itm.value.geoJSON = geoJson;
  }
};

const continueLabel = computed(() => {
  return isLastStep() ? t('modules.taskEdit.save') : t('modules.taskEdit.next');
});

const continueIcon = computed(() => {
  return isLastStep() ? 'done' : 'arrow_forward';
});

const nextStep = async function () {
  // Go to next step
  buttonLoading.value = true;
  if (await validateStep(step.value)) {
    await beforeNextStep(step.value);
    stepper.value?.next();
    await nextTick();
    //onStepLoaded(step.value);
  } else {
    showError(t('common.validationError'));
  }
  buttonLoading.value = false;
};

const validateStep = async function (currentStep: number) {
  if (currentStep == steps.Basic) {
    if (!(await basicFormRef.value?.validate())) {
      return false;
    }
  } else if (currentStep == steps.Misc) {
    if (!(await miscFormRef.value?.validate())) {
      return false;
    }
  }

  return true;
};

const beforeNextStep = async function (currentStep: number) {
  if (currentStep == steps.Basic) {
    setGeojson();
  } else if (currentStep == steps.Misc) {
    // Save

    loading.value = true;
    await save();
    loading.value = false;

    close(true);
  }
};

const setGeojson = function () {
  if (mapRef.value == null) {
    return;
  }

  var map = mapRef.value.map;
  if (map == null) {
    return;
  }

  var field = itm.value;
  if (field && field.geoJSON) {
    var geoJsonObj = JSON.parse(field.geoJSON);

    if (map.getLayer('center')) {
      map.removeLayer('center');
    }

    if (map.getSource('center')) {
      map.removeSource('center');
    }

    if (mapRef.value.drawInstance) {
      mapRef.value.drawInstance.deleteAll();
      mapRef.value.drawInstance.add({ ...geoJsonObj });
      mapRef.value.drawInstance.changeMode('simple_select');
    }

    const bounds = getBoundsFromGeoJSON(geoJsonObj);
    var center = bounds.getCenter();

    map.addSource('center', {
      type: 'geojson',
      data: {
        type: 'FeatureCollection',
        features: [
          {
            type: 'Feature',
            geometry: {
              type: 'Point',
              coordinates: [center.lng, center.lat],
            },
            properties: {},
          },
        ],
      },
    });

    map.addLayer({
      id: 'center',
      type: 'symbol',
      source: 'center',
      minzoom: 16,
      layout: {
        'text-font': ['Open Sans Regular'],
        'text-field': `${field.identifier} ${field.name}`,
        'text-size': 21,
        'text-anchor': 'center',
        'text-max-width': 250,
      },
      paint: {
        'text-color': 'white',
      },
    });

    map.fitBounds(bounds, {
      zoom: 17,
      animate: false,
    });
  }
};

const previousStep = function () {
  stepper.value?.previous();
};

const isLastStep = function () {
  const stepNum = step.value;
  return stepNum == steps.Misc ? true : false;
};

const save = async function () {
  if (itm.value) {
    await saveItem<{ id?: number }>(routes.fields.default, itm.value);
    close(true);
  }
};

const close = function (changes: boolean) {
  if (changes) {
    onDialogOK();
  } else {
    onDialogCancel();
  }
  emit('close', <DialogCloseEventArgs>{ changes: changes });
};

defineExpose({ open, close });
</script>
